@import "blocks/mixins.styl"
@import "blocks/flags.styl"
@import "blocks/footer.styl"
@import "blocks/header.styl"
@import "blocks/main.styl"
@import "blocks/elements.styl"
@import "blocks/navbar.styl"
@import "blocks/predefines.styl"
@import "blocks/profile-data.styl"
@import "blocks/projects.styl"
@import "blocks/sidebar.styl"
@import "blocks/translation.styl"
@import "blocks/variables.styl"


.pointer
	cursor pointer


.help
	&__fadeout-block
		position absolute
		background #000
		opacity .8
		z-index 10000
	&__transparent-block
		position absolute
		z-index 10000
	&__text-block
		position absolute
		color white
		font-size 20px
		font-weight 100
		text-align right
		padding 10px 40px 40px 10px
		background right bottom url("/static/img/help_arr.png") no-repeat
	&__btns
		position absolute
		right 10px
		top 10px
	&__btn
		color white
		font-size 20px
		cursor pointer
		margin-top 10px
		padding 10px 20px



