.switcher
	margin 0

	&__button
		display inline-block
		height 32px
		padding 0 25px
		line-height 32px
		color $mainBlue
		text-decoration none
		cursor pointer
		border none
		&:hover
			text-decoration none
		span
			border-bottom 1px dashed $mainBlue
			display inline-block
			line-height 17px

		&_active
			background $mainBlue
			color #fff
			cursor default
			&:hover
				color #fff
				text-decoration none
			span
				border-bottom none

	&__button-content
		display inline-block
		margin-bottom 2px
		vertical-align middle
		line-height 1
		white-space normal
		font-weight 300
		font-size 13px

	&__button-icon
		display inline-block
		vertical-align middle
		margin-right 5px
		font-size 1.3em


.languages
	display inline-block
	font-size 18px
	margin-top -5px


.progress-bar
	position relative
	width 100%
	box-shadow none
	background #CCC
	height 1.5em

	&__gauge
		position absolute
		height 100%
		top 0
		left 0

	&__value
		position absolute
		width 100%
		height 100%
		line-height 1.5em
		text-align center
		top 0
		left 0
