.footer
	background #666
	position relative
	clear both


	&-logo 
		margin 0 !important
		height 100%

		a 
			display block
			height 100%

			img 
				margin 22px 0 21px

	&-social
		display block
		height 24px
		padding 24px 0
		margin 0
		vertical-align middle

		&__icon 
			display block
			width 100%
			height 100%
			background url('/static/images/footer/social.png') no-repeat

			&_small
				background-image url('/static/images/footer/social_small.png')

		&__item 
			display inline-block
			list-style-type none
			height 24px
			width 24px
			margin-left 10px

			&_vk
				background-position 0 0

				&:hover
					background-position 0 -24px

			&_gp
				background-position -24px 0

				&:hover
					background-position -24px -24px

			&_tw
				background-position -48px 0

				&:hover
					background-position -48px -24px

			&_fb
				background-position -72px 0

				&:hover
					background-position -72px -24px

		&_small
			height 26px
			padding 5px 0

			.footer-social__item
				height 16px
				width 16px
				margin 0 2px

				&_vk
					background-position 0 0

					&:hover
						background-position 0 -16px

				&_gp
					background-position -16px 0

					&:hover
						background-position -16px -16px

				&_tw
					background-position -32px 0

					&:hover
						background-position -32px -16px

				&_fb
					background-position -48px 0

					&:hover
						background-position -48px -16px


	&-fixed
		&-top,
		&-bottom 
			position fixed

	&-container 
		padding-left 10px
		padding-right 20px
		max-width 1024px
		margin 0 auto

		.container 
			padding-left 0
			padding-right 0

	&-white
		background transparent

		.footer
			&-container
				border-top 1px solid $grayBorder
				padding-top 20px

			&-logo-full
				margin 8px 40px 0 0 
				text-align center

			&-data
				margin 20px 0
				clearfix()

				&__list
					padding 0 0 0 25px
					border-right 1px solid $grayBorder
					&:last-child
						border none

					ul
						list-style-type none

				&__item
					font-size 16px
					font-weight 300
					
				&__link
					color $grayText
					line-height 26px