.project-add {
  margin-top: 50px;
}
.project-add label {
  width: 150px;
  margin-right: 20px;
}
.project-add .checkbox,
.project-add button {
  float: right;
}
.projects-table {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.projects-table h3 {
  color: #2b7cb5;
  font: 300 18px/35px "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  letter-spacing: 0.5px;
}
.projects-table .empty {
  color: #989898;
  font-size: 16px;
  font-weight: 200;
}
.projects-table .empty td {
  padding: 0 25px;
}
.projects-table__table {
  width: 100%;
}
.projects-table__row {
  height: 44px;
  padding: 0;
}
.projects-table__row:hover {
  background: #f5f5f5;
}
.col-md-12 .projects-table__row {
  cursor: default;
}
.col-md-12 .projects-table__row.odd {
  background: #f5f5f5;
}
.col-md-12 .projects-table__row.even:hover {
  background: #fff;
}
.projects-table__row.closed {
  height: 44px;
}
.projects-table__row.closed .add-list {
  display: none;
  height: 0;
}
.projects-table__row.closed .btn-group {
  display: none;
}
.projects-table__row.closed .entries-list {
  display: none;
}
.projects-table__row.closed .projects-table__projects-texts {
  display: none !important;
  height: 0;
}
.projects-table__row .add-list {
  padding: 5px 0 0 10px;
}
.projects-table__row .add-list .title {
  font-size: 14px;
  color: #989898;
}
.projects-table__row .add-list .list {
  margin: 5px 0;
}
.projects-table__row .add-list .list>div {
  display: inline-block;
  margin-right: 5px;
  height: 22px;
  line-height: 22px;
  padding: 0 6px 0 12px;
  text-align: center;
  color: #fff;
  background: #91b8d0;
  vertical-align: top;
}
.projects-table__row .add-list .list>div .delete {
  margin-left: 5px;
  cursor: pointer;
}
.projects-table__row .add-list .list .add {
  background: #9f9f9f;
  width: 22px;
  padding: 0;
  color: #fff;
  font-size: 22px;
  line-height: 18px;
  cursor: pointer;
}
.projects-table__projects-name {
  padding: 0 25px;
}
.col-md-12 .projects-table__projects-name {
  min-width: 415px;
}
.projects-table__projects-name>.title {
  color: #2b7cb5;
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  white-space: nowrap;
  position: relative;
}
.projects-table__projects-name>.title[data-state="private"]:before {
  content: "\f023";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: block;
  position: absolute;
  left: -17px;
  font-size: 14px;
  top: 7px;
  color: #d0d0d0;
}
.projects-table__projects-name>.title:hover[data-state="private"]:before {
  text-decoration: none;
}
.projects-table__projects-name>.manager {
  color: #989898;
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}
.projects-table__projects-name>.created-date {
  display: block;
  line-height: 14px;
  color: #989898;
  font-weight: 200;
  font-size: 12px;
}
.opened .projects-table__projects-name {
  padding-top: 6px;
  vertical-align: top;
}
.projects-table__projects-dates {
  font-weight: 300;
  padding: 0 10px;
}
.projects-table__projects-dates .modified-date {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: #636363;
}
.projects-table__projects-dates .created-date {
  display: block;
  font-size: 10px;
  line-height: 10px;
  color: #acadad;
}
.projects-table__projects-entries {
  white-space: nowrap;
}
.projects-table__projects-entries .avatar {
  vertical-align: middle;
  width: 34px;
  height: 34px;
  overflow: hidden;
  border: 2px solid #77cb49;
  -webkit-border-radius: 17px;
  -moz-border-radius: 17px;
  border-radius: 17px;
  display: inline-block;
}
.projects-table__projects-entries .avatar img {
  background: #666;
  width: 100%;
  height: 100%;
}
.projects-table__projects-entries .entry-details {
  vertical-align: middle;
  display: inline-block;
  margin-left: 8px;
  font-weight: 200;
}
.opened .projects-table__projects-entries {
  padding-top: 6px;
  vertical-align: top;
}
.projects-table__projects-entries .entries-list {
  position: relative;
}
.projects-table__projects-entries .entries-list .avatar {
  width: 24px;
  height: 24px;
  position: relative;
  z-index: 3;
}
.projects-table__projects-entries .entries-list .time-sep {
  margin: 8px 0 8px 12px;
  position: relative;
  height: 10px;
}
.projects-table__projects-entries .entries-list .time-sep span {
  font-size: 11px;
  font-weight: 200;
  color: #636363;
  line-height: 10px;
  padding-left: 20px;
  vertical-align: top;
}
.projects-table__projects-entries .entries-list .time-sep:before {
  display: inline-block;
  content: "";
  background: #77cb49;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  vertical-align: top;
}
.projects-table__projects-entries .entries-list .time-entry {
  z-index: 3;
  margin: 5px 0 5px -12px;
}
.projects-table__projects-entries .entries-list .time-entry .time {
  font-size: 11px;
  font-weight: 200;
  color: #636363;
  line-height: 10px;
  margin-left: -16px;
  margin-right: 3px;
  vertical-align: middle;
}
.projects-table__projects-entries .entries-list .time-entry .entry-details {
  margin-left: 13px;
}
.projects-table__projects-entries .entries-list .time-entry .entry-details .user {
  font-size: 11px;
  font-weight: 200;
  color: #636363;
  line-height: 10px;
}
.projects-table__projects-entries .entries-list .stake {
  position: absolute;
  top: -9px;
  left: 15px;
  width: 4px;
  height: 100%;
  background: #77cb49;
  z-index: 2;
}
.projects-table .entry-details .time,
.projects-table__capacity .done-capacity,
.projects-table__projects-languages .translation-language {
  font-size: 14px;
  color: #636363;
  display: block;
  line-height: 15px;
}
.projects-table .entry-details .user,
.projects-table__capacity .total-capacity,
.projects-table__projects-languages .original-language {
  font-size: 10px;
  color: #989898;
  display: block;
  line-height: 12px;
}
.projects-table__projects-progress {
  padding-left: 25px;
  white-space: nowrap;
}
.projects-table__projects-progress>div {
  display: inline-block;
  vertical-align: middle;
}
.projects-table__projects-progress .progress-bar_wide {
  margin-left: 50px !important;
}
.opened .projects-table__projects-progress {
  padding-top: 1px;
  vertical-align: top;
}
.projects-table__projects-texts {
  display: block !important;
}
.projects-table__text {
  margin-top: 5px;
}
.projects-table__text .title-wrapper {
  display: inline-block;
  vertical-align: middle;
  width: 220px;
  margin-bottom: 8px;
}
.projects-table__text .title {
  font-size: 14px;
  color: #636363;
  line-height: 15px;
}
.projects-table__text .text-capacity {
  font-size: 10px;
  color: #989898;
  line-height: 12px;
}
.projects-table__projects-languages {
  padding: 0 25px;
}
.opened .projects-table__projects-languages {
  padding-top: 9px;
  vertical-align: top;
}
.projects-table .progress-bar {
  width: 115px;
  height: 9px;
  margin: 18px 0 17px;
  background: #e6e6e6;
  position: relative;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  float: none;
}
.projects-table .progress-bar .progress-fill {
  min-width: 2px;
  height: 100%;
  background: #d2210c;
}
.projects-table .progress-bar .progress-bubble {
  position: absolute;
  background: #333;
  display: none;
  font-size: 14px;
  height: 22px;
  line-height: 22px;
  width: 55px;
  bottom: 9px;
  margin-bottom: 9px;
}
.projects-table .progress-bar .progress-bubble:after {
  content: "◤";
  position: absolute;
  bottom: -14px;
  left: 21px;
  color: #333;
  font-size: 12px;
}
.projects-table .progress-bar:hover .progress-bubble {
  display: block;
  margin-left: -22px;
}
.projects-table .progress-bar_wide {
  width: 185px;
  margin: 27px 0 8px;
}
.projects-table .progress-bar_wide .progress-bubble {
  position: relative;
  display: block !important;
  color: #d2210c;
  background: none;
  width: 100%;
  font-size: 18px;
  top: -31px;
}
.projects-table .progress-bar_wide .progress-bubble:after {
  content: "";
}
.projects-table .progress-bar_wide:hover .progress-bubble {
  margin-left: 0;
}
.projects-table .progress-bar_text {
  display: inline-block;
  vertical-align: middle;
  margin: 6px 0 2px;
}
.projects-table .progress-bar_text .progress-bubble {
  position: relative;
  display: block !important;
  color: #d2210c;
  background: none;
  width: 100%;
  font-size: 16px;
  top: -31px;
}
.projects-table .progress-bar_text .progress-bubble:after {
  content: "";
}
.projects-table .progress-bar_text:hover .progress-bubble {
  margin-left: 0;
}
.project-list-participant {
  display: block;
  position: relative;
  color: #4c8fbd;
  cursor: pointer;
  min-height: 40px;
}
.project-list-participant__ava {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #999;
  position: absolute;
  top: 0;
  left: 0;
}
.project-list-participant__ava img {
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.project-list-participant__name {
  margin: 0 0 4px 50px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
}
.project-list-participant__btns {
  display: none;
  position: absolute;
  top: 10px;
  left: 60px;
}
.project-list-participant__btn {
  margin-right: 10px;
  color: #555;
  font-size: 16px;
}
.project-list-participant__menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 10px 0 10px;
  height: 40px;
  background: #f7f7f7;
  cursor: pointer;
}
.project-list-participant:hover .project-list-participant__menu {
  display: block;
}
.project-list-participant_active {
  cursor: default;
}
.project-list-participant_active .project-list-participant__name {
  opacity: 0;
}
.project-list-participant_active .project-list-participant__btns {
  display: block;
}
.project-list-texts {
  width: 100%;
}
.project-list-texts td {
  vertical-align: middle;
  padding: 0 12px;
}
.project-list-text {
  display: block;
  position: relative;
  color: #555;
  min-height: 40px;
}
.project-list-text__title {
  margin: 0 100px 4px 50px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
}
.project-list-text__progress {
  min-width: 100px;
}
.project-list-text__btn {
  margin-left: 10px;
  color: #555;
  font-size: 16px;
}
.project-list-glossary {
  display: block;
  position: relative;
  color: #4c8fbd;
  cursor: pointer;
  min-height: 40px;
}
.project-list-glossary__name {
  margin: 0 0 4px 0;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
}
.project-list-glossary__btns {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 10px;
  height: 40px;
  background: #f7f7f7;
}
.project-list-glossary__btn {
  margin-left: 10px;
  color: #555;
  font-size: 16px;
}
.project-list-glossary:hover .project-list-glossary__btns {
  display: block;
}
