.user-sidebar {
  padding-top: 30px;
}
.user-sidebar__info {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid $grayBorder;
}
.user-sidebar__photo {
  margin: 0 0 10px 0;
}
.user-sidebar__img {
  width: 100%;
  height: auto;
  display: block;
}
.user-sidebar__nickname {
  color: #000;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
}
.user-sidebar__username {
  color: $darkBlue;
  font-size: 24px;
}
.user-sidebar__location {
  color: #575756;
  font-size: 14px;
  font-weight: 300;
}
.user-sidebar__socials {
  margin: 13px 0;
  height: 24px;
}
.user-sidebar__social-icon {
  background: url("/static/images/footer/social.png") no-repeat;
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 10px;
}
.user-sidebar__social-icon_vk {
  background-position: 0 0;
}
.user-sidebar__social-icon_vk:hover {
  background-position: 0 -24px;
}
.user-sidebar__social-icon_gp {
  background-position: -24px 0;
}
.user-sidebar__social-icon_gp:hover {
  background-position: -24px -24px;
}
.user-sidebar__social-icon_tw {
  background-position: -48px 0;
}
.user-sidebar__social-icon_tw:hover {
  background-position: -48px -24px;
}
.user-sidebar__social-icon_fb {
  background-position: -72px 0;
}
.user-sidebar__social-icon_fb:hover {
  background-position: -72px -24px;
}
.user-sidebar__profile {
  margin-top: -4px;
}
.user-sidebar__profile-edit {
  color: $grayText;
}
.user-sidebar__profile-edit .icon-gear:before {
  padding-right: 4px;
}
.user-sidebar__profile-edit:hover {
  color: $grayText;
}
.user-sidebar__profile-edit:hover .icon-gear:before {
  text-decoration: none;
}
.user-sidebar__profile-line {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}
.user-sidebar__profile-line-title {
  color: $grayText;
}
.user-sidebar__profile-line-data {
  color: #000;
}
a.user-sidebar__profile-line-data:hover {
  cursor: pointer;
  text-decoration: underline;
}
