*.log
*.pot
*.pyc
*.mo
.idea
.DS_Store
local_settings.py

venv

/media/*
/static/
static/node_modules
local.tolma.ch.conf
local.tolmach.ini

.vagrant
/Vagrantfile
nginx.conf
uwsgi.ini

/node_modules
/*.sql
