{% extends "main/base-logged-in.html" %}
{% load i18n %}

{% block innercontent %}
<script src="/media/js/jquery.js"></script>

    <script type="text/javascript">
        $(document).on("click", ".add-text", function() {
                var prId = $(this).data('id');
                var prName = $(this).data('name');
                $(".prId").val( prId );
                $(".prName").html( prName );
        });
        $(document).on("click", ".add-user", function() {
                var prId = $(this).data('id');
                var prName = $(this).data('name');
                $(".prId").val( prId );
                $(".prName").html( prName );
                });

        $(document).on("click", "#textFormSubmit", function () {
                $("#textForm").submit();
                });

        $(document).on("click", ".btn-group button", function(e) {
          e.stopPropagation();
        })

    </script>

      <div class="row">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
        <div class="col-md-6">
          <div class="projects-table">
            <h3>Проекты с участием пользователя</h3>
            <div class="projects-table__wrapper">
              <table class="projects-table__table">
                <tbody>
                {% for project in user_user_particip_list|slice:":5" %}
                  <tr class="projects-table__row">
                    <td class="projects-table__projects-name">
                      <a href="#" class="title{% if project.progress == 100 %} finished{% endif %}"{% if project.is_private %} data-state="private"{% endif %}>{{ project.name }}</a>
                      <a href="#" class="manager">{{ project.manager.username }}</a>
                    </td>
                    <td class="projects-table__projects-progress">
                      <div class="progress-bar">
                        <div class="progress-fill" style="width:{{ project.progress }}%;" data-progress="{{ project.progress }}"></div>
                        <span class="progress-bubble" style="left:{{ project.progress }}%">{{ project.progress }}%</span>
                      </div>
                    </td>
                    <td class="projects-table__projects-dates">
                      <span class="modified-date">{{ project.last_modified|date:"d.m.Y" }}</span>
                      <span class="created-date">{{ project.time_created|date:"d.m.Y" }}</span>
                    </td>
                  </tr>
                {% empty %}
                  <tr class="empty">
                    <td>{% trans "Sorry, you haven't created any projects yet" %}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="projects-table">
            <h3>Открытые проекты</h3>
            <div class="projects-table__wrapper">
              <table class="projects-table__table">
                <tbody>
                {% for project in last_public_projects|slice:":5" %}
                  <tr class="projects-table__row">
                    <td class="projects-table__projects-name">
                      <a href="#" class="title{% if project.progress == 100 %} finished{% endif %}">{{ project.name }}</a>
                      <a href="#" class="manager">{{ project.manager.username }}</a>
                    </td>
                    <td class="projects-table__projects-progress">
                      <div class="progress-bar">
                        <div class="progress-fill" style="width:{{ project.progress }}%;" data-progress="{{ project.progress }}"></div>
                        <span class="progress-bubble" style="left:{{ project.progress }}%">{{ project.progress }}%</span>
                      </div>
                    </td>
                    <td class="projects-table__projects-dates">
                      <span class="modified-date">{{ project.last_modified|date:"d.m.Y" }}</span>
                      <span class="created-date">{{ project.time_created|date:"d.m.Y" }}</span>
                    </td>
                  </tr>
                {% empty %}
                  <tr class="empty">
                    <td>{% trans "Sorry, you haven't created any projects yet" %}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="projects-table projects-table_wide">
            <h3>Проекты пользователя</h3>
            <div class="projects-table__wrapper">
              <table class="projects-table__table">
                <tbody>
                {% for project in user_projects %}
                  <tr class="projects-table__row{% if forloop.counter|divisibleby:2 %} even{% else %} odd{% endif %} closed">
                    <td class="projects-table__projects-name">
                      <a href="#" class="title{% if project.progress == 100 %} finished{% endif %}"{% if project.is_private %} data-state="private"{% endif %}>{{ project.name }}</a>
                      <span class="created-date">{{ project.time_created|date:"d.m.Y" }}</span>

                      <div class="add-list">
                        <span class="title">Глоссарий:</span>
                        <div class="list">
                          <div class="add">+</div>
                          <div class="select"></div>
                        </div>
                      </div>
                      <div class="add-list">
                        <span class="title">Участники:</span>
                        <div class="list">
                          <div class="add add-user">+</div>
                          {% for user in project.members %}
                          <div class="item">
                            {{ user.username }}
                            <span class="delete">×</span>
                          </div>
                          {% endfor %}
                        </div>
                      </div>
                      <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
                            {% trans "Add" %}
                            <i class="icon-angle-down icon-on-right"></i>
                        </button>
                        <ul class="dropdown-menu">
                          <li>
                          <a class="add-text" data-toggle="modal" data-id="{{ pr.id }}" data-name="{{ pr.name }}" href="#addTextModal"><i class="icon-file-text-alt"></i> {% trans "Text" %}</a>
                          </li>
                          <li>
                          <a class="add-user" data-toggle="modal" data-id="{{ pr.id }}" data-name="{{ pr.name }}" href="#addUserModal"><i class="icon-user"></i> {% trans "User" %}</a>
                          </li>
                        </ul>
                      </div>
                    </td>
                    <td class="projects-table__projects-entries">
                      {% with last_time="" %}
                      {% for entry in project.entries_details %}
                        {% if forloop.first %}
                        <div class="last-entry">
                          <a href="#" class="avatar">
                            <img src="#">
                          </a>
                          <span class="entry-details">
                            <span class="time">
                              {{ entry.time_created|date:"d.m.Y H:i" }}
                            </span>
                            <span class="user">
                              {{ entry.author }}: {{ entry.number_of_sent }}
                            </span>
                          </span>
                        </div>
                        <div class="entries-list">

                        {% else %}

                          {% if entry.time_created|date:"d.m.Y" != last_time %}
                            {% with last_time=entry.time_created|date:"d.m.Y" %}
                            <div class="time-sep">
                              <span>{{ last_time }}</span>
                            </div>
                            {% endwith %}
                          {% endif %}
                          <div class="time-entry">
                            <span class="time">
                              {{ entry.time_created|date:"H:i" }}
                            </span>
                            <a href="#" class="avatar">
                              <img src="#">
                            </a>
                            <span class="entry-details">
                              <span class="user">
                                {{ entry.author }}: {{ entry.number_of_sent }}
                              </span>
                            </span>
                          </div>
                        {% endif %}
                        {% if forloop.last %}
                          <div class="stake"></div>
                         </div>
                        {% endif %}
                      {% empty %}
                        <div class="last-entry">
                          <a href="#" class="avatar">
                            <img src="#">
                          </a>
                          <span class="entry-details">
                            <span class="time">
                              {{ project.time_created|date:"d.m.Y H:i" }}
                            </span>
                            <span class="user">
                              {{ project.manager }}
                            </span>
                          </span>
                        </div>
                      {% endfor %}
                      {% endwith %}


                      {# begin stub #}
                        <div class="entries-list">
                          <div class="time-sep">
                            <span>01.12.2013</span>
                          </div>
                          <div class="time-entry">
                            <span class="time">
                              02:13
                            </span>
                            <a href="#" class="avatar">
                              <img src="#">
                            </a>
                            <span class="entry-details">
                              <span class="user">
                                {{ project.manager }}: 13
                              </span>
                            </span>
                          </div>
                          <div class="time-entry">
                            <span class="time">
                              02:13
                            </span>
                            <a href="#" class="avatar">
                              <img src="#">
                            </a>
                            <span class="entry-details">
                              <span class="user">
                                {{ project.manager }}: 13
                              </span>
                            </span>
                          </div>
                          <div class="time-sep">
                            <span>01.12.2013</span>
                          </div>
                          <div class="time-entry">
                            <span class="time">
                              02:13
                            </span>
                            <a href="#" class="avatar">
                              <img src="#">
                            </a>
                            <span class="entry-details">
                              <span class="user">
                                {{ project.manager }}: 13
                              </span>
                            </span>
                          </div>
                          <div class="time-sep">
                            <span>01.12.2013</span>
                          </div>
                          <div class="stake"></div>
                        </div>
                      {# end sub #}
                    </td>
                    <td class="projects-table__projects-progress">
                      <div class="projects-table__capacity">
                        <span class="done-capacity">25 предложений</span>
                        <span class="total-capacity">230 предложений</span>
                      </div>
                      <div class="progress-bar_wide progress-bar">
                        <div class="progress-fill" style="width:{{ project.progress }}%;" data-progress="{{ project.progress }}"></div>
                        <span class="progress-bubble">{{ project.progress }}%</span>
                      </div>
                      <div class="projects-table__projects-texts">
                        {% for text in project.texts %}
                          <div class="projects-table__text">
                            <div class="title-wrapper">
                              <div class="title">{{ text.title }}</div>
                              <div class="text-capacity"></div>
                            </div>
                            <div class="progress-bar progress-bar_text">
                              <div class="progress-fill" style="width:{{ text.progress }}%;" data-progress="{{ text.progress }}"></div>
                              <span class="progress-bubble">{{ text.progress }}%</span>
                            </div>
                          </div>
                        {% endfor %}
                        {# begin stub #}
                          <div class="projects-table__text">
                            <div class="title-wrapper">
                              <div class="title">Text</div>
                              <div class="text-capacity">10 предложений</div>
                            </div>
                            <div class="progress-bar progress-bar_text">
                              <div class="progress-fill" style="width:0%;" data-progress="0"></div>
                              <span class="progress-bubble">0%</span>
                            </div>
                          </div>
                          <div class="projects-table__text">
                            <div class="title-wrapper">
                              <div class="title">Text 2</div>
                              <div class="text-capacity">10 предложений</div>
                            </div>
                            <div class="progress-bar progress-bar_text">
                              <div class="progress-fill" style="width:0%;" data-progress="0"></div>
                              <span class="progress-bubble">0%</span>
                            </div>
                          </div>
                        {# end stub #}
                      </div>
                    </td>
                    <td class="projects-table__projects-languages">
                      <span class="translation-language">Русский</span>
                      <span class="original-language">Английский</span>
                    </td>
                  </tr>
                {% empty %}
                  <tr class="empty">
                    <td>{% trans "Sorry, you haven't created any projects yet" %}</td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
              <script type="text/javascript">
                (function() {
                  $(document).ready(function() {
                    $(".projects-table_wide tr").on("click", function(e) {
                      e.stopPropagation();
                      if($(e.target).closest("td").attr("class").indexOf("entries") > 0)
                        $(this).toggleClass("closed").toggleClass("opened")
                    });
                  }); 
                })()
              </script>
            </div>
          </div>
        </div>
      </div>
      <div class="row project-add">
        <div class="container">
          <form method="post" action="{% url 'add_project' %}">
              {% csrf_token %}
              {{ addProjectForm.errors }}
              {{ addProjectForm.non_field_errors }}
            <label class="form-label">{% trans "Add new Project" %}</label>
            {{ addProjectForm.name.errors }}
            {{ addProjectForm.name }}
            <button class="btn pull-right btn-primary">{% trans "Add" %}</button>
            <div class="checkbox">
              <label>
                  {{ addProjectForm.is_private }}
                  <span class="lbl">{% trans "Private?" %}</span>
              </label>
            </div>
          </form>

          <!--            <form method="post" action="/projects/">
            <label class="form-label">Add new Project</label>
            <input type="text" name="name" class="form-control input-sm">
            <div class="checkbox">
              <label>
                  <input type="checkbox" class="ace" name="is_private" value="false">
                  <span class="lbl">Private?</span>
              </label>
            </div>
            <button class="btn pull-right btn-primary">Add</button>
        </form> -->


        </div>
      </div>


    <div class="modal fade" id="addTextModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><span class="prName">{% trans "Project name" %}</span> <i class="icon-angle-right"></i> {% trans "Add text" %} </h4>
          </div>
          <div class="modal-body">
      <form id="textForm" action="/projects/add-text/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="id" class="prId form-control">
        <label class="form-label">{% trans "Title:" %}</label>
        <input type="text" name="title" class="form-control">
        <label class="form-label">{% trans "Subject:" %}</label>
        <select name="subject" class="form-control">
        {% for subj in subjs %}
            <option value="{{ subj.id }}">{{ subj.name }}</option>
        {% endfor %}
        </select>
        <table class="table" style="margin-bottom: 0px">
          <tbody>
            <tr>
              <td><label class="form-label">{% trans "Source lang:" %}</label></td>
              <td>
                <select name="source_lang" class="form-control">
                {% for lang in langs %}
                    <option value="{{ lang.id }}" style="background: url(/media/img/flags/{{ lang.code }}-24.png) no-repeat; padding-left: 27px;">{{lang.name}}</option>
                {% endfor %}
                </select>
              </td>
              <td><label class="form-label">{% trans "Target lang:" %}</label></td>
              <td>
                <select name="target_lang" class="form-control">
                {% for lang in langs %}
                    <option value="{{ lang.id }}">{{lang.name}}</option>
                {% endfor %}
                </select>
              </td>
            </tr>
          </tbody>
        </table>
        <label class="form-label">{% trans "Text body:" %}</label>
        <textarea name="text_body" class="form-control"></textarea>
      </form>
          </div>
          <div class="modal-footer">
            <a href="#" id="textFormSubmit" class="btn btn-primary">{% trans "Add text" %}</a>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="addUserModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><span class="prName">{% trans "Project name" %}</span> <i class="icon-angle-right"></i> {% trans "Add user" %} </h4>
          </div>
          <div class="modal-body">
      <form>
        <input type="hidden" name="id" class="prId form-control">
        <label class="form-label">{% trans "Username:" %}</label>
        <input type="text" class="form-control">
      </form>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-primary">{% trans "Add user" %}</a>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}