{% extends "main/base-logged-in.html" %}
{% load i18n %}

{% block innercontent %}
    <script>
        projectId={{ project.id }};
    </script>
    <div ng-controller="projectCtrl" ng-cloak>
        <div class="page-header">
            <h1>
                {{ project.name }}
            </h1>
            <blockquote>
                <p>{{ project.description }}</p>
            </blockquote>
        </div>


        <div class="row">
            <div class="col-sm-3">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat">
                        <h5>
                            {% trans "Participants" %}
                        </h5>
                        <div class="widget-toolbar no-border">
                            <a href=""
                               ng-click="addParticipant()">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body" ng-init="activeParticipant = null">
                        <div class="widget-main">
                            <div class="project-list-participant"
                                 ng-repeat="participant in participants"
                                 ng-click="activeParticipant = participant"
                                 ng-class="{'project-list-participant_active': activeParticipant === participant}">
                                <div class="project-list-participant__ava">
                                    <img src="/static/avatars/user.jpg" alt="Jason's Photo">
                                </div>
                                <div class="project-list-participant__name">
                                    {= participant.name =}
                                </div>
                                <div class="project-list-participant__btns">
                                    <a class="project-list-participant__btn" href=""><i class="fa fa-eye"></i></a>
                                    <a class="project-list-participant__btn" href=""><i class="fa fa-pencil-square-o"></i></a>
                                    <a class="project-list-participant__btn" href=""
                                       ng-click="removeParticipant(participant)"><i class="fa fa-trash-o"></i></a>
                                </div>
                                <div class="project-list-participant__menu"
                                        ng-click="activeParticipant === participant && (activeParticipant = null || $event.stopPropagation())">
                                    <i class="fa fa-bars"></i>
                                </div>
                            </div>


                        </div><!-- /widget-main -->
                    </div><!-- /widget-body -->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat">
                        <h5>
                            {% trans "Documents" %}
                        </h5>
                        <div class="widget-toolbar no-border">
                            <a href=""
                               ng-click="addText()">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <table class="project-list-texts table table-striped">
                            <tr class="project-list-text" ng-repeat="text in texts">
                                <td class="project-list-text__title">
                                    <a href="/text/{= text.id =}">
                                        {= text.title =}
                                    </a>
                                </td>
                                <td class="project-list-text__progress">
                                    <div class="progress-bar">
                                        <div class="progress-bar__gauge" style="width:{= text.progress =}%;background:#02c14f"></div>
                                        <span class="progress-bar__value">{= text.progress =}%</span>
                                    </div>
                                </td>
                                <td class="project-list-text__languages">
                                    <div class="languages">
                                        <i class="flag flag-{= text.sourceLang =}"></i>
                                        <i class="fa fa-chevron-right"></i>
                                        <i class="flag flag-{= text.targetLang =}"></i>
                                    </div>
                                </td>
                                <td class="project-list-text__btns">
                                    <a class="project-list-text__btn" href=""
                                       ng-click="editText(text)"><i class="fa fa-pencil-square-o"></i></a>
                                    <a class="project-list-text__btn" href=""><i class="fa fa-download"></i></a>
                                    <a class="project-list-text__btn" href=""><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                        </table>
                    </div><!-- /widget-body -->
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat">
                        <h5>
                            {% trans "TMX/Glossaries" %}
                        </h5>
                        <div class="widget-toolbar no-border">
                            <a data-toggle="dropdown"
                               class="dropdown-toggle"
                               href="">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                            <ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<li>
									<a href="#"
                                       ng-click="addTmx()">
										<i class="fa fa-language"></i>
										{% trans "TMX" %}
									</a>
								</li>

								<li>
									<a href="#"
                                       ng-click="addGlossary()">
                                        <i class="fa fa-book"></i>
										{% trans "Glossaries" %}
									</a>
								</li>
							</ul>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="project-list-glossary" ng-repeat="tmx in tmxes">
                                <div class="project-list-glossary__name">
                                    <i class="fa fa-language"></i>
                                    {= tmx.name =}
                                </div>
                                <div class="project-list-glossary__btns">
                                    <a class="project-list-glossary__btn" href=""
                                       popover-template="'tmxRemovePopover.html'"
                                       popover-placement="left"
                                       class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="project-list-glossary" ng-repeat="glossary in glossaries">
                                <div class="project-list-glossary__name" ng-click="editGlossary(glossary)">
                                    <i class="fa fa-book"></i>
                                    {= glossary.name =}
                                </div>
                                <div class="project-list-glossary__btns">
                                    <a class="project-list-glossary__btn" href=""
                                       popover-template="'glossaryRemovePopover.html'"
                                       popover-placement="left"
                                       class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                        </div><!-- /widget-main -->
                    </div><!-- /widget-body -->
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="addParticipantModal.html">
        <div class="modal-header">
            <button type="button"
                    class="bootbox-close-button close"
                    ng-click="cancel()">×</button>
            <h3 class="modal-title">{% trans "Add participant" %}</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <input type="text"
                           id="form-field-1"
                           placeholder="{% trans "Enter nick or name" %}"
                           class="form-control"
                           ng-model="user"
                           typeahead="user as user.username for user in getUsers($viewValue)"
                           typeahead-template-url="userTypeaheadTemplate.html"></div>

                <div class="form-group" ng-show="error">
                    <div class="label label-danger">{= error =}</div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success"
                    ng-click="ok()"
                    ng-disabled="busy">{% trans "Add" %}</button>
        </div>
    </script>
    <script type="text/ng-template" id="userTypeaheadTemplate.html">
        <a>
            <span bind-html-unsafe="match.model.username | typeaheadHighlight:query"></span>
        </a>
    </script>
    <script type="text/ng-template" id="addTextModal.html">
        <div class="modal-header">
            <button type="button"
                    class="bootbox-close-button close"
                    ng-click="cancel()">×</button>
            <h3 class="modal-title">{% trans "Add text" %}</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <input type="text"
                           placeholder="{% trans "Title" %}"
                           class="form-control"
                           ng-model="text.title">
                </div>
                <div class="form-group" style="display: none">
                    <select class="form-control"
                            ng-model="text.subject">
                        <option value="" disabled selected>Select subject</option>
                        {% for subject in subjects %}
                            <option value="{{ subject.id }}">{{ subject.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group"
                     ng-show="!glossary.id">
                    <div class="switcher">
                        <a class="switcher__button"
                           ng-class="{'switcher__button_active': tab === 0}"
                           ng-click="tab = 0">
                            <span>{% trans "Upload file" %}</span>
                        </a>
                        <a class="switcher__button"
                           ng-class="{'switcher__button_active': tab === 1}"
                           ng-click="tab = 1">
                            <span>{% trans "Insert plain test" %}</span>
                        </a>
                    </div>
                </div>
                <div class="form-group" ng-if="tab === 0">
                    <div ngf-drop
                         ngf-select
                         ng-model="text.files"
                         class="drop-box"
                         ngf-drag-over-class="drag-over"
                         ngf-multiple="false"
                         ngf-allow-dir="false"
                         accept="image/*,application/pdf">
                        <div class="drop-box-inner">
                            <div class="drop-box-icon">
                                <i class="fa fa-file-text-o"></i>
                            </div>
                            <span ng-show="text.files.length">{= text.files[0].name =}</span>
                            <span ng-show="!text.files.length">Click here to upload file or drag file here to upload</span>
                        </div>
                    </div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                </div>
                <div class="form-group" ng-if="tab === 1">
                    <textarea class="form-control" cols="30" rows="10"
                              ng-model="text.textBody"></textarea>
                </div>

                <div class="glossary-manual ng-scope">
                    <div class="glossary-manual__input">
                        <select class="form-control"
                                ng-model="text.sourceLang">
                                <option value="" disabled selected>Source language</option>
                            {% for language in languages %}
                                <option value='{{ language.id }}'>{{ language.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="glossary-manual__input">
                        <select class="form-control"
                                ng-model="text.targetLang">
                                <option value="" disabled selected>Target language</option>
                            {% for language in languages %}
                                <option value='{{ language.id }}'>{{ language.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-show="error">
                    <div class="label label-danger">{= error =}</div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success"
                    ng-click="ok()"
                    ng-disabled="busy">{% trans "Next" %}</button>
        </div>
    </script>
    <script type="text/ng-template" id="editTextModal.html">
        <div class="modal-header">
            <button type="button"
                    class="bootbox-close-button close"
                    ng-click="cancel()">×</button>
            <h3 class="modal-title">{% trans "Edit text" %}</h3>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <input type="text"
                           placeholder="{% trans "Title" %}"
                           class="form-control"
                           ng-model="text.title">
                </div>
                <div class="form-group" style="display: none;">
                    <select class="form-control"
                            ng-model="text.subject">
                        <option value="" disabled selected>Select subject</option>
                        {% for subject in subjects %}
                            <option value="{{ subject.id }}">{{ subject.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="glossary-manual ng-scope">
                    <div class="glossary-manual__input">
                        <label for="">Glossaries:</label>
                        <select class="form-control"
                                multiple="multiple"
                                ng-model="text.glossaries"
                                ng-options="glossary.id as glossary.name for glossary in glossaries">
                        </select>
                    </div>
                    <div class="glossary-manual__input">
                        <label for="">TMXes:</label>
                        <select class="form-control"
                                multiple="multiple"
                                ng-model="text.tmxes"
                                ng-options="tmx.id as tmx.name for tmx in tmxes">
                        </select>
                    </div>
                </div>

                <div class="form-group" ng-show="error">
                    <div class="label label-danger">{= error =}</div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success"
                    ng-click="ok()"
                    ng-disabled="busy">{% trans "Save" %}</button>
        </div>
    </script>

    <script type="text/ng-template" id="addGlossaryModal.html">
        <div class="modal-header">
            <button type="button"
                    class="bootbox-close-button close"
                    ng-click="cancel()">×</button>
            <h3 class="modal-title"
                ng-show="!glossary.id">{% trans "Add glossary" %}</h3>
            <h3 class="modal-title"
                ng-show="glossary.id">{% trans "Edit glossary" %}</h3>
        </div>
        <div class="modal-body">
            <form ng-init="tab = 0">
                <div class="form-group"
                     ng-show="!glossary.id">
                    <div class="switcher">
                        <a class="switcher__button"
                           ng-class="{'switcher__button_active': tab === 0}"
                           ng-click="tab = 0">
                            <span>{% trans "Upload" %}</span>
                        </a>
                        <a class="switcher__button"
                           ng-class="{'switcher__button_active': tab === 1}"
                           ng-click="tab = 1">
                            <span>{% trans "Manual add" %}</span>
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text"
                           placeholder="{% trans "Glossary name" %}"
                           class="form-control"
                           ng-model="glossary.name">
                </div>
                <div class="form-group"
                     ng-if="!glossary.id && tab === 0">
                    <div ngf-drop
                         ngf-select
                         ng-model="glossary.files"
                         class="drop-box"
                         ngf-drag-over-class="drag-over"
                         ngf-multiple="false"
                         ngf-allow-dir="false"
                         accept="*">
                        <div class="drop-box-inner">
                            <div class="drop-box-icon">
                                <i class="fa fa-file-text-o"></i>
                            </div>
                            <span ng-show="glossary.files.length">{= glossary.files[0].name =}</span>
                            <span ng-show="!glossary.files.length">Click here to upload file or drag file here to upload</span>
                        </div>
                    </div>
                </div>
                <div ng-if="glossary.id || tab === 1">
                    <div class="glossary-manual" ng-repeat="row in glossary.rows">
                        <div class="glossary-manual__input">
                            <input class="form-control" type="text"
                                   ng-model="row[0]"
                                   ng-change="changeRow($index)"/>
                        </div>
                        <div class="glossary-manual__arrow">
                            <label for="exampleInputName2">→</label>
                        </div>
                        <div class="glossary-manual__input">
                            <input class="form-control" type="text"
                                   ng-model="row[1]"
                                   ng-change="changeRow($index)"/>
                        </div>
                    </div>
                </div>

                <div class="form-group" ng-show="error">
                    <div class="label label-danger">{= error =}</div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success"
                    ng-click="ok()"
                    ng-disabled="busy">
                <span ng-show="!glossary.id">{% trans "Add" %}</span>
                <span ng-show="glossary.id">{% trans "Save" %}</span>
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="addTmxModal.html">
        <div class="modal-header">
            <button type="button"
                    class="bootbox-close-button close"
                    ng-click="cancel()">×</button>
            <h3 class="modal-title"
                ng-show="!tmx.id">{% trans "Add TMX" %}</h3>
            <h3 class="modal-title"
                ng-show="tmx.id">{% trans "Edit TMX" %}</h3>
        </div>
        <div class="modal-body">
            <form ng-init="tab = 0">
                <div class="form-group">
                    <input type="text"
                           placeholder="{% trans "TMX name" %}"
                           class="form-control"
                           ng-model="tmx.name">
                </div>
                <div ngf-drop
                     ngf-select
                     ng-model="tmx.files"
                     class="drop-box"
                     ngf-drag-over-class="drag-over"
                     ngf-multiple="false"
                     ngf-allow-dir="false"
                     accept="*">
                    <div class="drop-box-inner">
                        <div class="drop-box-icon">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                        <span ng-show="tmx.files.length">{= tmx.files[0].name =}</span>
                        <span ng-show="!tmx.files.length">Click here to upload file or drag file here to upload</span>
                    </div>
                </div>

                <div class="form-group" ng-show="error">
                    <div class="label label-danger">{= error =}</div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success"
                    ng-click="ok()"
                    ng-disabled="busy">
                <span ng-show="!tmx.id">{% trans "Add" %}</span>
                <span ng-show="tmx.id">{% trans "Save" %}</span>
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="glossaryRemovePopover.html">
        <div>
            <label>{% trans "Are you sure?" %}</label>
        </div>
        <div>
        </div>
        <div class="btn-group">
            <a class="btn btn-sm btn-danger" href="" ng-click="removeGlossary(glossary)">{% trans "Yes" %}</a>
            <a class="btn btn-sm" href="" ng-click="closePopover()">{% trans "No" %}</a>
        </div>
    </script>

    <script type="text/ng-template" id="tmxRemovePopover.html">
        <div>
            <label>{% trans "Are you sure?" %}</label>
        </div>
        <div>
        </div>
        <div class="btn-group">
            <a class="btn btn-sm btn-danger" href="" ng-click="removeTmx(tmx)">{% trans "Yes" %}</a>
            <a class="btn btn-sm" href="" ng-click="closePopover()">{% trans "No" %}</a>
        </div>
    </script>
{% endblock %}