{% extends "main/base-logged-in.html" %}
{% load i18n %}

{% block innercontent %}
    <script>
        pageType="project";
        project={{ projectData | safe }};
        projectId={{ project.id }};
        userId={{ user_id }};
        isUserManager = {{ is_user_manager }};
        managerId = {{ manager_id }};
        targetLang = '{{ target_lang }}';
        languages = {{ languagesData | safe }};
        userMembershipStatus = {{ user_membership_status }};
    </script>
    <style>
        .page-header {
            border-bottom: none;
            padding-bottom: 0;
            margin-bottom: 0;
        }
        .project-page {
            max-width: 1200px;
            margin: 0 auto;
        }
        .project-list-texts__heading .stripy-heading__after {
            width: 50%;
        }
        .project-list-texts__heading .stripy-heading__before {
            width: 50%;
        }
        .new-proj-block-btn {
            left: 43%;
        }
        .project-sidebar {
            padding: 12px;
        }
        .project-sidebar__instruments-block {
            min-height: 100px;
        }
    </style>
    <div ng-controller="projectCtrl" ng-cloak class="project-page">
        <div class="page-header">
            <h1>
                {% if is_user_manager == 'true' or user_membership_status == 0 %}
                <input class="form-contrl" type="text"
                       ng-show="editingName"
                       ng-model="projectName"/>
                <small ng-if="!editingName"><a class="float-right"
                          href=""
                          ng-click="editName()"><i class="fa fa-pencil"></i></a></small>
                <small ng-if="editingName"><a class="float-right"
                          href=""
                          ng-click="saveName()"><i class="fa fa-check"></i></a></small>
                <small ng-if="editingName"><a class="float-right"
                          href=""
                          ng-click="cancelEditName()"><i class="fa fa-times"></i></a></small>
                {% endif %}
                <span ng-show="!editingName">
                    {= project.name =}
                </span>
                <div class="project-language-pair">
                    <i class="flag flag-{{ project.source_lang }}"></i>
                    <i class="fa fa-chevron-right"></i>
                    <div class="dropdown project-select-translation">
                      <button class="btn dropdown-toggle project-select-translation__button" type="button" data-toggle="dropdown">
                          <i class="flag flag-{{ project.current_translation.target_lang }}"></i> {{ project.current_translation.target_lang_local }}
                      <span class="caret"></span></button>
                      <ul class="dropdown-menu project-select-translation__menu">
                          {% for pr_translation in project.translations %}
                        <li><a href="/project/{{ project.id }}/{{ pr_translation.target_lang.code }}/"><i class="flag flag-{{ pr_translation.target_lang }}"></i>{{ pr_translation.target_lang_local }}</a></li>
                          {% endfor %}
                        <li><a ng-if="(isUserManager || (userMembershipStatus == 0))" href="#" ng-click="addProjectTranslation()"><i class="fa fa-plus"></i>{% trans 'Add new translation language' %}</a></li>
                      </ul>
                    </div>
                </div>

            </h1>
        </div>


        <div class="row">
            <div class="col-sm-8">
                <div class="widget-box">
                    <div class="project-list-texts__heading stripy-heading">
                        <span class="stripy-heading__before"></span>
                        <span class="stripy-heading__text" style="padding: 10px 10px 10px 20px;">{% trans "Documents" %}</span>
                        <span class="stripy-heading__after"></span>
                    </div>
                    <div class="">
                        <table cellpadding="0" cellspacing="0" class="user-statistics-table">
                            <tbody>
                                <tr class="user-statistics-table__row" ng-repeat="text in texts">
                                    <td class="user-statistics-table__title">
                                        <a href="/text/{=:: text.id =}/{=:: text.translation.lang =}/">
                                            <span class="project-list-text__title">{=:: text.title =}</span>
                                            <div class="progress-bar progress-bar-mobile">
                                                <div class="progress-bar__gauge" style="width:{=:: text.translation.progress[1] =}%;background:#02c14f"></div>
                                                <div class="progress-bar__gauge" style="width: {=:: text.translation.progress[0] - text.translation.progress[1] =}%;background:rgb(255, 217, 121)"></div>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="user-statistics-table__progress">
                                        <div class="progress-bar"
                                             tooltip="{% trans 'Fragments approved:' %} {=:: text.translation.counts[2] =}
                                             {% trans 'Fragments translated:' %} {=:: text.translation.counts[1] =}"
                                             tooltip-append-to-body="true">
                                            <div class="progress-bar__gauge" style="width:{=:: text.translation.progress[1] =}%;background:#02c14f"></div>
                                            <div class="progress-bar__gauge" style="width: {=:: text.translation.progress[0] - text.translation.progress[1] =}%;background:rgb(255, 217, 121)"></div>
                                            <span class="progress-bar__value">{=:: text.translation.progress[1] =}%</span>
                                        </div>
                                    </td>
                                    <td class="user-statistics-table__remove-btn dropdown">
                                        <a class="project-list-text__btn dropdown"
                                           href="#"
                                           data-toggle="dropdown"
                                           tooltip="{% trans 'Options' %}"
                                           tooltip-append-to-body="true"><i class="fa fa-chevron-down"></i></a>
                                        <ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                            <li>
                                                <a href="/text/{=:: text.id =}/{=:: text.translation.lang =}/export/">
                                                    <i class="fa fa-download"></i>
                                                    &nbsp{% trans 'Download translated document' %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/text/{=:: text.id =}/{=:: text.translation.lang =}/export/pairs/">
                                                    <i class="fa fa-download"></i>
                                                    &nbsp{% trans 'Download bilingual DOCX' %}
                                                </a>
                                            </li>
                                            <li class="divider"
                                                   ng-if="(isUserManager || (userMembershipStatus == 0))"></li>
                                            <li ng-if="(isUserManager || (userMembershipStatus == 0))">
                                                <a href=""
                                                   ng-click="editText(text)"
                                                   tooltip-append-to-body="true"><i class="fa fa-pencil"></i>&nbsp&nbsp{% trans 'Document params' %}</a>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <div class="user-statistics-table__preloader" id="documents-preloader">
                                    {% include "tolmach/partial/preloader.html" %}
                                </div>
                            </tbody>
                        </table>
                        <a href=""
                           class="btn helped-block btn-sm new-proj-block-btn"
                           ng-click="addText()"
                           ng-show="(isUserManager || (userMembershipStatus == 0))"
                           tooltip="{% trans 'Add' %}"
                           tooltip-append-to-body="true"
                           help-text='{% trans "Click here to add new document to translate" %}'>{% trans 'Add' %}</a>
                    </div><!-- /widget-body -->
                </div>
            </div>
            <div class="col-sm-4">
                <style>
                    .project-page-tabs {
                        border: none;
                    }
                    .project-page-tabs-content {
                        border: none;
                        border-top: 1px solid #C4D0DB;
                        padding: 0 0;
                    }
                    .project-page-tabs li {
                        margin-bottom: 0px;
                    }
                    .project-page-tabs li.active a {
                        border-bottom: 5px solid #38c150 !important;
                        box-shadow: none !important;
                        border-top: none !important;
                        border-left: none !important;
                        border-right: none !important;
                    }
                    .project-page-tabs li a {
                        text-transform: uppercase;
                        border: none !important;
                        box-shadow: none !important;
                        background: none;
                    }
                </style>
                <div id="exTab2" class="">
                    <ul class="nav nav-tabs project-page-tabs">
                        <li class="active">
                            <a  href="#1" data-toggle="tab">{% trans "Participants" %}</a>
                        </li>
                        <li>
                            <a href="#2" data-toggle="tab">{% trans "Tools" %}</a>
                        </li>
                        <li>
                            <a href="#3" data-toggle="tab">{% trans "About" %}</a>
                        </li>
                    </ul>

                <div class="tab-content project-page-tabs-content">
                    <div class="tab-pane active" id="1">
                        <div class="helped-block" ng-init="activeParticipant = null"
                                   help-text='{% trans "Here you can see all the members" %}'>
                            <div class="project-sidebar">
                                <div class="project-sidebar-participant helped-block"
                                     help-text='{% trans "Click here to add member" %}'
                                     ng-click="addParticipant()"
                                     ng-show="(isUserManager || (userMembershipStatus == 0))">
                                    <div class="project-sidebar-participant__add">
                                        <i class="fa fa-plus"></i>
                                    </div>
                                    <div class="project-sidebar-participant__name">
                                        {% trans 'Add' %}
                                    </div>
                                </div>
                                <div class="project-sidebar-participant"
                                     ng-repeat="participant in participants"
                                     ng-click="activeParticipant = participant"
                                     ng-class="{'project-sidebar-participant_active': activeParticipant === participant}">
                                    <div class="project-sidebar-participant__ava"
                                           ng-class="{'project-sidebar-participant__ava': true,
                                                      'project-sidebar-participant__ava__owner': participant.status == 10,
                                                      'project-sidebar-participant__ava__editor': participant.status == 0,
                                                      'project-sidebar-participant__ava__translator': participant.status == 1,
                                                      'project-sidebar-participant__ava__spectator': participant.status == 2,}">
                                        <img src="/media/{=:: participant.avatar =}" alt="Jason's Photo">
                                        <i aria-hidden="true"
                                           ng-class="{'fa': true,
                                                      'fa-star': participant.status == 10,
                                                      'fa-pencil-square-o': participant.status == 0,
                                                      'fa-pencil': participant.status == 1,
                                                      'fa-eye': participant.status == 2,}"></i>
                                    </div>
                                    <div class="project-sidebar-participant__name">
                                        {=:: participant.name =}
                                    </div>
                                    <div class="project-sidebar-participant__btns">
                                        <a class="project-sidebar-participant__btn" href="/user/{=:: participant.id =}"><i class="fa fa-eye"></i></a>
                                        <a class="project-sidebar-participant__btn tooltip-warning" href=""
                                           tooltip="{% trans 'Remove participant' %}"
                                           tooltip-append-to-body="true"
                                           ng-show="(isUserManager || (userMembershipStatus == 0)) && !(participant.id == managerId)"
                                           popover-template="'participantRemovePopover.html'"
                                           popover-placement="left"
                                           popover-append-to-body="true"
                                           class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                                        <select ng-if="(userMembershipStatus == 0 || isUserManager) && !(participant.id == managerId)"
                                                ng-change="changeParticipantStatus(participantNewStatus)"
                                                ng-model="participantNewStatus"
                                                ng-init="participantNewStatus=participant.id + ',' + participant.status">
                                            {% for status, text in membership_statuses.items %}
                                                <option ng-selected="participant.status == {{ status }}" value="{=:: participant.id =},{{ status }}">{{ text }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="project-sidebar-participant__menu"
                                            ng-click="activeParticipant === participant && (activeParticipant = null || $event.stopPropagation())">
                                        <i class="fa fa-bars"></i>
                                    </div>
                                </div>


                            </div><!-- /project-sidebar -->
                        </div><!-- /widget-body -->
                    </div>
                    <div class="tab-pane" id="2">
                        <div class="helped-block"
                             help-text='{% trans "Here will be TMXes and glossaries" %}'>
                            <div class="project-sidebar project-sidebar__instruments-block">
                                <div class="project-sidebar-participant helped-block"
                                     ng-if="(isUserManager || (userMembershipStatus == 0))"
                                     help-text='{% trans "Click here to translation memory or glossary" %}'>
                                    <a data-toggle="dropdown"
                                       class="dropdown-toggle"
                                       href="">
                                            <div class="project-sidebar-participant__add">
                                                <i class="fa fa-plus"></i>
                                            </div>
                                            <div class="project-sidebar-participant__name">
                                                {% trans 'Add' %}
                                            </div>
                                    </a>
                                    <ul class="pull-left dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                                        <li>
                                            <a href="#"
                                               ng-click="addGlossary()">
                                                <i class="fa fa-book"></i>
                                                {% trans "Glossary" %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <style>
                                    .project-list-glossary-header {
                                        font-weight: 500;
                                        color: #999999;
                                        margin-bottom: 5px;
                                        margin-top: 20px;
                                        text-transform: uppercase;
                                    }
                                    .project-list-glossary__empty {
                                        margin-left: 32%;
                                        margin-top: 20px;
                                    }
                                    .project-list-glossary__empty__icon {
                                        color: #d4d4d4;
                                        font-size: 30px;
                                        margin-left: 30px;
                                    }
                                    .project-list-glossary__empty__text {
                                        color: #d4d4d4;
                                        display: block;
                                    }
                                </style>
                                <div class="project-list-glossary-header">
                                    {% trans 'TM Databases' %}
                                </div>
                                <div class="project-list-glossary" ng-repeat="tmx in tmxes">
                                    <div class="project-list-glossary__name">
                                        <i class="fa fa-th-list"></i>
                                        {=:: tmx.name =}
                                    </div>
                                    <div class="project-list-glossary__btns">
                                        <a class="project-list-glossary__btn" href=""
                                           ng-show="(isUserManager || (userMembershipStatus == 0))"
                                           popover-template="'tmxRemovePopover.html'"
                                           popover-placement="left"
                                           class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                                    </div>
                                </div>
                                <div class="project-list-glossary__empty" ng-if="!(tmxes.length > 0)">
                                    <i class="fa fa-th-list project-list-glossary__empty__icon" aria-hidden="true"></i>
                                    <span class="project-list-glossary__empty__text">Пока ничего нет</span>
                                </div>
                                <div class="project-list-glossary-header">
                                    {% trans 'Glossaries' %}
                                </div>
                                <div class="project-list-glossary" ng-repeat="glossary in glossaries">
                                    <div class="project-list-glossary__name" ng-click="editGlossary(glossary)">
                                        <i class="fa fa-book"></i>
                                        {=:: glossary.name =}
                                    </div>
                                    <div class="project-list-glossary__btns">
                                        <a class="project-list-glossary__btn" href=""
                                           ng-show="(isUserManager || (userMembershipStatus == 0))"
                                           popover-template="'glossaryRemovePopover.html'"
                                           popover-placement="left"
                                           class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                                    </div>
                                </div>
                                <div class="project-list-glossary__empty" ng-if="!(glossaries.length > 0)">
                                    <i class="fa fa-book project-list-glossary__empty__icon" aria-hidden="true"></i>
                                    <span class="project-list-glossary__empty__text">Пока ничего нет</span>
                                </div>
                            </div><!-- /project-sidebar -->
                        </div><!-- /widget-body -->
                    </div>
                    <div class="tab-pane" id="3">
                        <div class="project-sidebar">
                            <div class="project-list-glossary-header">
                                {% trans 'Description' %}
                            </div>
                            <p ng-show="!editingDescription">{= project.description =}</p>
                            <textarea class="form-control" name="" id="" cols="30" rows="10"
                                      ng-model="projectDescription"
                                      ng-show="editingDescription"></textarea>
                            {% if is_user_manager == 'true' or user_membership_status == 0 %}
                            <a class="float-right"
                                      href=""
                                      ng-show="editingDescription"
                                      ng-click="saveDescription()"><i class="fa fa-check"></i></a>
                            <a class="float-right"
                               href=""
                               ng-show="editingDescription"
                               ng-click="cancelEditDescription()"><i class="fa fa-times"></i></a>
                            <a class="float-right"
                                      href=""
                                      ng-show="!editingDescription"
                                      ng-click="editDescription()"><i class="fa fa-pencil"></i></a>
                            {% endif %}
                            {% if is_user_manager == 'true' %}
                            <div>
                                <a href="/project/{{ project.id }}/stats/"
                                   class="btn btn-sm btn-info">
                                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                    {% trans "Project statistics" %}
                                </a>
                            </div>
                            <div class="project-list-glossary-header">
                                {% trans 'Attention!' %}
                            </div>
                            <div>
                                <a popover-template="'projectRemovePopover.html'"
                                   popover-placement="right"
                                   style="z-index: 999;"
                                   class="btn btn-sm btn-danger">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    {% trans "Remove Project" %}
                                </a>
                            </div>
                            {% elif is_user_a_member == 'true' %}
                            <div>
                                <a popover-template="'projectLeavePopover.html'"
                                   popover-placement="right"
                                   style="z-index: 999;"
                                   class="btn btn-sm btn-danger">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                    {% trans "Leave Project" %}
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    {% if is_user_manager == 'true' or user_membership_status == 0 %}
    {% include "translations/partial/add_participant_modal.html" %}
    {% include "translations/partial/participant_remove_popover.html" %}
    {% include "translations/partial/user_typeahead_template.html" %}
    {% include "translations/partial/add_text_modal.html" %}
    {% include "translations/partial/add_project_translation_modal.html" %}
    {% include "translations/partial/select_text_ranges_modal.html" %}
    {% include "translations/partial/edit_text_modal.html" %}
    {% include "translations/partial/text_remove_popover.html" %}
    {% include "translations/partial/add_glossary_modal.html" %}
    {% include "translations/partial/add_tmx_modal.html" %}
    {% include "translations/partial/glossary_remove_popover.html" %}
    {% include "translations/partial/handsontable.template.html" %}
    {% include "translations/partial/tmx_remove_popover.html" %}
    {% include "translations/partial/project_remove_popover.html" %}
    {% endif %}
    {% include "translations/partial/project_leave_popover.html" %}
{% endblock %}
