{% extends "main/base-logged-in.html" %}
{% load i18n %}

{% block innercontent %}
    <script>
        project={{ projectData | safe }};
        projectId={{ project.id }};
        isUserManager = {{ is_user_manager }};
    </script>
    <div ng-controller="projectCtrl" ng-cloak>
        <div class="page-header">
            <h1>
                <span ng-show="!editingName">
                    {= project.name =}
                </span>
                {% if is_user_manager == 'true' %}
                <input class="form-contrl" type="text"
                       ng-show="editingName"
                       ng-model="projectName"/>
                <small><a class="float-right"
                          href=""
                          ng-show="editingName"
                          ng-click="saveName()"><i class="fa fa-check"></i></a></small>
                <small><a class="float-right"
                          href=""
                          ng-show="editingName"
                          ng-click="cancelEditName()"><i class="fa fa-times"></i></a></small>
                <small><a class="float-right"
                          href=""
                          ng-show="!editingName"
                          ng-click="editName()"><i class="fa fa-pencil"></i></a></small>
                {% endif %}
            </h1>
            <blockquote>
                {% if is_user_manager == 'true' %}
                <a class="float-right"
                          href=""
                          ng-show="editingDescription"
                          ng-click="saveDescription()"><i class="fa fa-check"></i></a>
                <a class="float-right"
                   href=""
                   ng-show="editingDescription"
                   ng-click="cancelEditDescription()"><i class="fa fa-times"></i></a>
                <a class="float-right"
                          href=""
                          ng-show="!editingDescription"
                          ng-click="editDescription()"><i class="fa fa-pencil"></i></a>
                {% endif %}
                <p ng-show="!editingDescription">{= project.description =}</p>
                <textarea class="form-control" name="" id="" cols="30" rows="10"
                          ng-model="projectDescription"
                          ng-show="editingDescription"></textarea>
            </blockquote>
        </div>


        <div class="row">
            <div class="col-sm-3">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat">
                        <h5>
                            {% trans "Participants" %}
                        </h5>
                        <div class="widget-toolbar no-border"
                             ng-show="isUserManager">
                            <a href=""
                               ng-click="addParticipant()">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body" ng-init="activeParticipant = null">
                        <div class="widget-main">
                            <div class="project-list-participant"
                                 ng-repeat="participant in participants"
                                 ng-click="activeParticipant = participant"
                                 ng-class="{'project-list-participant_active': activeParticipant === participant}">
                                <div class="project-list-participant__ava">
                                    <img src="/media/{= participant.avatar =}" alt="Jason's Photo">
                                </div>
                                <div class="project-list-participant__name">
                                    {= participant.name =}
                                </div>
                                <div class="project-list-participant__btns">
                                    <a class="project-list-participant__btn" href="/user/{= participant.id =}"><i class="fa fa-eye"></i></a>
                                    <!--<a class="project-list-participant__btn" href=""><i class="fa fa-pencil-square-o"></i></a>-->
                                    <a class="project-list-participant__btn" href=""
                                       ng-show="isUserManager"
                                       popover-template="'participantRemovePopover.html'"
                                       popover-placement="left"
                                       popover-append-to-body="true"
                                       class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                                </div>
                                <div class="project-list-participant__menu"
                                        ng-click="activeParticipant === participant && (activeParticipant = null || $event.stopPropagation())">
                                    <i class="fa fa-bars"></i>
                                </div>
                            </div>


                        </div><!-- /widget-main -->
                    </div><!-- /widget-body -->
                </div>
            </div>
            <div class="col-sm-6">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat">
                        <h5>
                            {% trans "Documents" %}
                        </h5>
                        <div class="widget-toolbar no-border"
                             ng-show="isUserManager">
                            <a href=""
                               ng-click="addText()">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="project-list-texts">
                            <div class="project-list-text" ng-repeat="text in texts">
                                <div class="project-list-text__title">
                                    <a href="/text/{= text.id =}">
                                        {= text.title =}
                                    </a>
                                </div>
                                <div class="project-list-text__progress">
                                    <div class="progress-bar">
                                        <div class="progress-bar__gauge" style="width:{= text.progress =}%;background:#02c14f"></div>
                                        <span class="progress-bar__value">{= text.progress =}%</span>
                                    </div>
                                </div>
                                <div class="project-list-text__languages">
                                    <div class="languages">
                                        <i class="flag flag-{= text.sourceLang =}"></i>
                                        <i class="fa fa-chevron-right"></i>
                                        <i class="flag flag-{= text.targetLang =}"></i>
                                    </div>
                                </div>
                                <div class="project-list-text__btns">
                                    <a class="project-list-text__btn" href=""
                                       ng-show="isUserManager"
                                       ng-click="editText(text)"><i class="fa fa-pencil-square-o"></i></a>
                                    <a class="project-list-text__btn" href="/text/{= text.id =}/export/"><i class="fa fa-download"></i></a>
                                    <a class="project-list-text__btn" href=""
                                       ng-show="isUserManager"
                                       popover-template="'textRemovePopover.html'"
                                       popover-placement="left"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- /widget-body -->
                </div>
            </div>
            <div class="col-sm-3">
                <div class="widget-box">
                    <div class="widget-header widget-header-flat">
                        <h5>
                            {% trans "TMX/Glossaries" %}
                        </h5>
                        <div class="widget-toolbar no-border"
                             ng-show="isUserManager">
                            <a data-toggle="dropdown"
                               class="dropdown-toggle"
                               href="">
                                <i class="fa fa-plus-circle"></i>
                            </a>
                            <ul class="pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
								<!--<li>-->
									<!--<a href="#"-->
                                       <!--ng-click="addTmx()">-->
										<!--<i class="fa fa-language"></i>-->
										<!--{% trans "TMX" %}-->
									<!--</a>-->
								<!--</li>-->

								<li>
									<a href="#"
                                       ng-click="addGlossary()">
                                        <i class="fa fa-book"></i>
										{% trans "Glossary" %}
									</a>
								</li>
							</ul>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main">
                            <div class="project-list-glossary" ng-repeat="tmx in tmxes">
                                <div class="project-list-glossary__name">
                                    <i class="fa fa-language"></i>
                                    {= tmx.name =}
                                </div>
                                <div class="project-list-glossary__btns">
                                    <a class="project-list-glossary__btn" href=""
                                       ng-show="isUserManager"
                                       popover-template="'tmxRemovePopover.html'"
                                       popover-placement="left"
                                       class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                            <div class="project-list-glossary" ng-repeat="glossary in glossaries">
                                <div class="project-list-glossary__name" ng-click="editGlossary(glossary)">
                                    <i class="fa fa-book"></i>
                                    {= glossary.name =}
                                </div>
                                <div class="project-list-glossary__btns">
                                    <a class="project-list-glossary__btn" href=""
                                       ng-show="isUserManager"
                                       popover-template="'glossaryRemovePopover.html'"
                                       popover-placement="left"
                                       class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                                </div>
                            </div>
                        </div><!-- /widget-main -->
                    </div><!-- /widget-body -->
                </div>
            </div>
        </div>
        {% if is_user_manager == 'true' %}
        <div class="pull-right">
            <a popover-template="'projectRemovePopover.html'"
               popover-placement="left"
               class="btn btn-default">{% trans "Remove Project" %}</a>
        </div>
        {% endif %}
    </div>
    {% if is_user_manager == 'true' %}
    {% include "translations/partial/add_participant_modal.html" %}
    {% include "translations/partial/participant_remove_popover.html" %}
    {% include "translations/partial/user_typeahead_template.html" %}
    {% include "translations/partial/add_text_modal.html" %}
    {% include "translations/partial/edit_text_modal.html" %}
    {% include "translations/partial/text_remove_popover.html" %}
    {% include "translations/partial/add_glossary_modal.html" %}
    {% include "translations/partial/add_tmx_modal.html" %}
    {% include "translations/partial/glossary_remove_popover.html" %}
    {% include "translations/partial/tmx_remove_popover.html" %}
    {% include "translations/partial/project_remove_popover.html" %}
    {% endif %}
{% endblock %}
