{% extends "main/base-logged-in.html" %}
{% load i18n %}

{% block innercontent %}
<script src="/media/js/jquery.js"></script>

    <script type="text/javascript">
        $(document).on("click", ".add-text", function() {
                var prId = $(this).data('id');
                var prName = $(this).data('name');
                $(".prId").val( prId );
                $(".prName").html( prName );
        });
        $(document).on("click", ".add-user", function() {
                var prId = $(this).data('id');
                var prName = $(this).data('name');
                $(".prId").val( prId );
                $(".prName").html( prName );
                });

        $(document).on("click", "#textFormSubmit", function () {
                $("#textForm").submit();
                });

    </script>

<div class="row">
        <div class="col-md-12">
          {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
          {% endif %}
          <table class="table table-hover">
            <colgroup>
              <col span="1" style="width: 5%;">
              <col span="1" style="width: 25%;">
              <col span="1" style="width: 25%;">
              <col span="1" style="width: 35%;">
              <col span="1" style="width: 10%;">
            </colgroup>
            <thead>
              <tr>
                <th>#</th>
                <th>{% trans "Project Name" %}</th>
                <th>{% trans "Translators" %}</th>
                <th>{% trans "Progress" %}</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
    {% for pr in user_projects %}
              <tr>
                <td><h4>{% if pr.is_private %}<i class="icon-lock"></i></h4>{% endif %} <a href="{% url 'delete_project' pr.id %}"><i class="icon-trash"></i></a></h4></td>
                <td>{{ pr.name }}<br>
                    {% for entry in pr.entries_details %}
                        {{ entry.number_of_sent }} | {{ entry.author }} | {{ entry.time_created }}<hr>
                        <!--{{ entry.body }} | {{ entry.author }} | {{ entry.time_created }}<hr>-->
                    {% endfor %}
                </td>
                <td>
                    {% for usr in pr.users %}
                        <span class="label">{{ usr.username }} <a href="{% url 'remove_user_from_project' pr.id usr.id %}"> <i class="icon-remove"></i></a></span>
                    {% endfor %}
                </td>
                <td>
                  <div class="progress active progress-info">
                    <div class="progress-bar" style="width: {{ pr.progress }}%;" rel="tooltip" title="{{ pr.progress }}%" data-placement="top"></div>
                  </div>
                    <table class="table">
                        <colgroup>
                          <col span="1" style="width: 45%;">
                          <col span="1" style="width: 40%;">
                          <col span="1" style="width: 15%;">
                        </colgroup>
                        <tbody>
                        {% for text in pr.texts %}
                            <tr>
                                <td><a href="{% url 'view_text' text.id %}">{{ text.title }}</a></td>
                                <td>
                                  <div class="progress active progress-info">
                                    <div class="progress-bar" style="width: 85%;" rel="tooltip" title="85%" data-placement="top"></div>
                                  </div>
                                </td>
                                <td>
                                    <a href=""><i class="icon-chevron-down"></i></a>
                                    |
                                    <a href="{% url 'delete_text' text.id %}"><i class="icon-trash"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </td>
                <td>
                  <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-sm dropdown-toggle">
                        {% trans "Add" %}
                        <i class="icon-angle-down icon-on-right"></i>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                      <a class="add-text" data-toggle="modal" data-id="{{ pr.id }}" data-name="{{ pr.name }}" href="#addTextModal"><i class="icon-file-text-alt"></i> {% trans "Text" %}</a>
                      </li>
                      <li>
                      <a class="add-user" data-toggle="modal" data-id="{{ pr.id }}" data-name="{{ pr.name }}" href="#addUserModal"><i class="icon-user"></i> {% trans "User" %}</a>
                      </li>
                    </ul>
                  </div>
                </td>
            </tr>
    {% empty %}
        <tr>
            <td rowspan="5">{% trans "Sorry, you haven't created any projects yet" %}</td>
        </tr>
    {% endfor %}
            </tbody>
          </table>
          <hr>
          <div class="container" style="width: 600px; float: right;">
            <form method="post" action="{% url 'add_project' %}">
                {% csrf_token %}
                {{ addProjectForm.errors }}
                {{ addProjectForm.non_field_errors }}
              <label class="form-label">{% trans "Add new Project" %}</label>
              {{ addProjectForm.name.errors }}
              {{ addProjectForm.name }}
              <div class="checkbox">
                <label>
                    {{ addProjectForm.is_private }}
                    <span class="lbl">{% trans "Private?" %}</span>
                </label>
              </div>
              <button class="btn pull-right btn-primary">{% trans "Add" %}</button>
            </form>

            <!--            <form method="post" action="/projects/">
              <label class="form-label">Add new Project</label>
              <input type="text" name="name" class="form-control input-sm">
              <div class="checkbox">
                <label>
                    <input type="checkbox" class="ace" name="is_private" value="false">
                    <span class="lbl">Private?</span>
                </label>
              </div>
              <button class="btn pull-right btn-primary">Add</button>
          </form> -->


          </div>
        </div>
      </div>

    <div class="modal fade" id="addTextModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><span class="prName">{% trans "Project name" %}</span> <i class="icon-angle-right"></i> {% trans "Add text" %} </h4>
          </div>
          <div class="modal-body">
      <form id="textForm" action="/projects/add-text/" method="POST">
        {% csrf_token %}
        <input type="hidden" name="id" class="prId form-control">
        <label class="form-label">{% trans "Title:" %}</label>
        <input type="text" name="title" class="form-control">
        <label class="form-label">{% trans "Subject:" %}</label>
        <select name="subject" class="form-control">
        {% for subj in subjs %}
            <option value="{{ subj.id }}">{{ subj.name }}</option>
        {% endfor %}
        </select>
        <table class="table" style="margin-bottom: 0px">
          <tbody>
            <tr>
              <td><label class="form-label">{% trans "Source lang:" %}</label></td>
              <td>
                <select name="source_lang" class="form-control">
                {% for lang in langs %}
                    <option value="{{ lang.id }}" style="background: url(/media/img/flags/{{ lang.code }}-24.png) no-repeat; padding-left: 27px;">{{lang.name}}</option>
                {% endfor %}
                </select>
              </td>
              <td><label class="form-label">{% trans "Target lang:" %}</label></td>
              <td>
                <select name="target_lang" class="form-control">
                {% for lang in langs %}
                    <option value="{{ lang.id }}">{{lang.name}}</option>
                {% endfor %}
                </select>
              </td>
            </tr>
          </tbody>
        </table>
        <label class="form-label">{% trans "Text body:" %}</label>
        <textarea name="text_body" class="form-control"></textarea>
      </form>
          </div>
          <div class="modal-footer">
            <a href="#" id="textFormSubmit" class="btn btn-primary">{% trans "Add text" %}</a>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->


    <div class="modal fade" id="addUserModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title"><span class="prName">{% trans "Project name" %}</span> <i class="icon-angle-right"></i> {% trans "Add user" %} </h4>
          </div>
          <div class="modal-body">
      <form>
        <input type="hidden" name="id" class="prId form-control">
        <label class="form-label">{% trans "Username:" %}</label>
        <input type="text" class="form-control">
      </form>
          </div>
          <div class="modal-footer">
            <a href="#" class="btn btn-primary">{% trans "Add user" %}</a>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

{% endblock %}