{% extends "main/base-logged-in.html" %}
{% load i18n %}

{% block innercontent %}
    <div class="translation" ng-controller="transCtrl">
        <h1 class="translation__title">{{ text.title }}</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2 class="translation__variants-title">Варианты перевода</h2>

                <div class="translation__sentence-translation"
                     ng-repeat="entry in entries"
                     ng-class="{'translation__sentence-translation_state_closed': $parent.activeEntry !== entry,
                                'translation__sentence-translation_mode_suggest': entry.mode === 1,
                                'translation__sentence-translation_state_approved': entry.approved}">

                    <div class="translation__sentence-translation-original"
                         ng-click="toogleEntry(entry)">
                        {= entry.body =}
                    </div>

                    <div class="translation__sentence-translation-result">
                        <div class="translation__sentence-translation-switcher">
                            <div class="switcher">
                            <span class="switcher__button"
                                  ng-class="{'switcher__button_state_active': entry.mode !== 1}"
                                  ng-click="entry.mode = 0">
                                <i class="fa fa-user switcher__button-icon"></i>
                                <span class="switcher__button-content">Переводы пользователей</span>
                            </span>
                            <span class="switcher__button"
                                  ng-class="{'switcher__button_state_active': entry.mode === 1}"
                                  ng-click="entry.mode = 1">
                                <i class="fa fa-pencil switcher__button-icon"></i>
                                <span class="switcher__button-content">Предложить перевод</span>
                            </span>
                            </div>
                        </div>

                        <div class="translation__sentence-commitance">
                            <form>
                                <textarea name="translation-suggestion"
                                          class="translation__sentence-suggestion-input"
                                          placeholder="Ваш перевод"
                                          ng-model="translation"></textarea>

                                <div class="translation__sentence-machine-suggestions">
                                    <h4 class="translation__sentence-suggestions-title">Машинные переводы</h4>

                                    <ul class="translation__sentence-machine-suggestions-list">
                                        <li class="translation__sentence-machine-suggestions-item">
                                            <span class="translation__sentence-machine-suggestions-text">В студию графического дизайна Emil Stasovskiy Branding на постоянную работу приглашается графический дизайнер</span>
                                            <span class="translation__sentence-machine-suggestions-relevance translation__sentence-machine-suggestions-relevance_high">50%</span>
                                        </li>

                                        <li class="translation__sentence-machine-suggestions-item">
                                            <span class="translation__sentence-machine-suggestions-text">В японии полным ходом идет культовое мероприятие - rc custom body show.</span>
                                            <span class="translation__sentence-machine-suggestions-relevance translation__sentence-machine-suggestions-relevance_medium">50%</span>
                                        </li>

                                        <li class="translation__sentence-machine-suggestions-item">
                                            <span class="translation__sentence-machine-suggestions-text">На форуме выступят представители ведущих веб агентств  и дизайн студий: Nimax, Shishki, Astra Media Group, Журнал "Инфографика", Science, Webcom, No Comments и др.</span>
                                            <span class="translation__sentence-machine-suggestions-relevance translation__sentence-machine-suggestions-relevance_low">50%</span>
                                        </li>
                                    </ul>
                                </div>

                                <button type="submit" class="translation__sentence-commit"
                                        ng-click="suggestTranslation(translation, entry)">Готово</button>
                            </form>
                        </div>

                        <div class="translation__sentence-suggestion"
                             ng-repeat="translation in entry.translations"
                             ng-class="{'translation__sentence-suggestion_state_approved': translation.isApproved}">
                            <span class="translation__sentence-suggestion-text">{= translation.body =}</span>
                            <div class="translation__sentence-suggestion-approve">
                                <i class="fa fa-check-circle"
                                   ng-click="approveEntry(translation, entry)"></i>
                            </div>
                            <div class="translation__sentence-suggestion-approved">
                                <i class="fa fa-check"></i>
                            </div>
                            <div class="translation__sentence-suggestion-edit">
                                <i class="fa fa-pencil"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 hidden-xs">
                <div class="translation-text">
                    <div class="translation-text__switcher">
                        <div class="switcher">
                        <span class="switcher__button"
                              ng-class="{'switcher__button_state_active': textTab === 0}"
                              ng-click="textTab = 0">Оригинал</span>
                        <span class="switcher__button"
                              ng-class="{'switcher__button_state_active': textTab === 1}"
                              ng-click="textTab = 1">Перевод</span>
                        </div>
                    </div>
                    <div class="translation-text__text">
                        {% autoescape off %}{{ text.body | linebreaksbr }}{% endautoescape %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
