{% extends "main/base-logged-in.html" %}
{% load i18n %}

{% block innercontent %}
<script src="/media/js/jquery.js"></script>

    <script type="text/javascript">
function my_js_callback(data){
    alert("Hi, " + data.name + "!");
}
    </script>
              <label class="form-label">Test alert name:</label>
                <input type="text" id="test_alert_name" class="form-control" value="">
              <button class="btn pull-right btn-primary" onclick="Dajaxice.translations.say_hello(my_js_callback, {'name':$('#test_alert_name').val()});">Test!</button>
    <div class="row">
        <div class="col-md-6">
        {% for entry in entries %}
            <div class="well well-sm" style="margin-bottom:2px; margin-top:10px;">
                {{ entry.body }}
            </div>
            {% for translation in entry.translations %}
            <div class="itemdiv dialogdiv">
                <div class="user">
                    <img alt="Alexa's Avatar" src="/media/avatars/avatar1.png">
                </div>

                <div class="body">
                    <!--<div class="name">-->
                        <!--<a href="#">{{ translation.author.username }}</a>-->
                    <!--</div>-->
                    <div class="text">{{ translation.body }}</div>

                    <div class="tools">
                        <a href="{% url 'entry_voteup' translation.id %}"><i class="icon-plus"></i></a>
                        {{ translation.vote }}
                        <a href="{% url 'entry_votedown' translation.id %}"><i class="icon-minus"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <form action="{% url 'translate_entry' entry.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="parent_id" class="form-control" value="{{ entry.id }}">
                <textarea name="body" class="autosize-transition form-control" style="overflow: hidden; word-wrap: break-word; resize: horizontal; height: 52px;"></textarea>
                <button type="submit" class="btn btn-minier">
                    <i class="icon-pencil align-top"></i>
                    {% trans "Translate" %}
                </button>
            </form>
        {% endfor %}
        </div>
        <div class="col-md-6">
            <div class="well well-lg">
                <h4 class="blue">{{ text.title }}</h4>
                {{ text.body | linebreaksbr }}
            </div>
        </div>
      </div>
{% endblock %}
