{% extends "main/base-logged-in.html" %}
{% load i18n %}
{% load staticfiles %}

{% block innercontent %}

{% trans 'Translation variants' as trans_variants %}
{% trans 'Users translations' as users_trans %}
{% trans 'Translate' as make_translation %}
{% trans 'Add your translation' as your_translation %}
{% trans 'Machine translations' as mtranslations %}
{% trans 'Translation memory variants' as tmtranslations %}
{% trans 'Add' as add_translation %}
{% trans 'Save' as save_translation %}
{% trans 'Remove' as remove_translation %}
{% trans 'Cancel (Esc)' as cancel_translation %}
{% trans 'Skip translation (Alt-S)' as disable_translation %}
{% trans 'Copied!' as fragment_link %}
{% trans 'Original' as original_text %}
{% trans 'Translation' as translated_text %}
{% trans 'Add with' as text_options %}
{% trans 'enter word' as dict_input_placeholder %}
{% trans 'Nothing found' as dict_nothing_found %}
{% trans 'To glossary' as add_to_glossary %}

    <style>
        .sidebar {
            display: none;
        }
        .main-content {
            margin-left: 0;
        }
        footer {
            display: none;
        }
        html, body, .main, .main-container, .main-container-inner, .main-content, .page-content {
            height: 100%;
            position: relative;
            overflow: hidden;
        }
        @media (max-width: 755px) {
            html, body, .main, .main-container, .main-container-inner, .main-content, .page-content {
                height: auto;
                position: relative;
                overflow: unset;
            }
        }
        html > body > .main {
            padding-bottom: 0;
        }
        .navbar {
            z-index: 999;
        }
        .page-content {
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 12px;
            padding-left: 12px;
        }
        .main-content {
            margin-left: 0 !important;
        }
    </style>

    <script>
        window['textId'] = {{ text.id }};
        window['useMachine'] = {{ use_machine }};
        window['translationTargetLang'] = '{{ target_lang }}';
        window['translationSourceLang'] = '{{ source_lang }}';
        window['translation_progress'] = {{ translation_progress }};
        window['translation_counts'] = {{ translation_counts }};
        window['wsTextConnectHost'] = '{{ ws_connect_host }}';
        window['userMembershipStatus'] = {{ user_membership_status }};
        window['pagesCount'] = {{ total_pages }};
        window['savedPosition'] = {{ saved_position | safe }};
    </script>

    <div class="workbench-layout" ng-controller="transCtrl">
        <script type="text/ng-template" id="myPopoverTemplate.html">
            <div class="btn-group btn-group-xs" role="group" aria-label="...">
              <button type="button" class="btn btn-default" ng-click="toGlossary()"
              ng-show="(userIsManager || userMembershipStatus == 0)">{{ add_to_glossary }}</button>
              <button type="button" class="btn btn-default" ng-click="translatePhrase()">{{ make_translation }}</button>
            </div>
        </script>
        <div class="workbench-layout__row row" ng-cloak ng-scroll="hidePopover()">
            <div class="workbench-layout__col col-xs-12 col-sm-6">
                <div class="text-pieces" id="translations-container"
                     ng-show="!busy">
                    <div class="text-piece"
                         ng-repeat="entry in entries"
                         id="entry-{= entry.idInText =}"
                         ng-click="($parent.activeEntry !== entry) && !entry.disabled && toggleEntry(entry, $event)"
                         ng-class="{'text-piece_closed': $parent.activeEntry !== entry,
                                    'text-piece_editing': ($parent.activeEntry === entry) && entry.editing,
                                    'text-piece_approved': entry.approved,
                                    'text-piece_disabled': entry.disabled,
                                    'text-piece_translated': !entry.approved && !entry.disabled && (entry.translations.length > 0),
                                    'text-piece_someone-editing': keyLength(entry.isBeingEdited) > 0}"
                         ng-style="{'font-size': customFontSize + 'px'}"
                         uib-popover-template="'myPopoverTemplate.html'"
                         popover-append-to-body="true"
                         popover-class="active-entry-popover"
                         popover-placement="top-left"
                         popover-is-open="entry.popoverIsOpen"
                         popover-trigger="'none'">
                        <!---------------------------------
                                   original text
                        ---------------------------------->
                        <div class="text-piece__original" ng-mouseup="hidePopover()">
                            <div ng-if="$parent.activeEntry !== entry">
                                <div ng-if="!entry.approved && (entry.translations.length == 0)">
                                    <span html-content="entry.body"></span>
                                    {% include "translations/partial/text-page-now-editing-icon.html" %}
                                </div>
                                <div ng-if="!entry.approved && !entry.disabled && (entry.translations.length > 0)">
                                    <span class="text-piece__body">
                                        <span html-content="entry.translations[entry.translations.length-1].body"></span>
                                        {% include "translations/partial/text-page-now-editing-icon.html" %}
                                    </span>
                                    <div class="text-piece__icons" ng-if="entry.translations.length == 1">
                                        <a ng-show="(userIsManager || userMembershipStatus == 0) && !entry.approved"
                                           ng-click="approveEntry(entry.translations[entry.translations.length-1], entry)"
                                           ng-disabled="entry.translations[entry.translations.length-1].busy"
                                           title="{% trans 'Approve translation' %}">
                                            <i class="fa fa-check-circle"></i>
                                        </a>
                                        <a ng-show="(userIsManager || userMembershipStatus == 0 || (user == translation.author.id)) && !(userMembershipStatus == 2)"
                                           ng-click="editTranslation(entry, entry.translations[entry.translations.length-1], $event)"
                                           ng-disabled="entry.translations[entry.translations.length-1].busy"
                                           title="{% trans 'Edit translation' %}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                    </div>
                                    <div class="translation-variant__author">
                                        <span ng-if="entry.translations.length > 1"> ({= entry.translations.length =})</span> <a href="/user/{= entry.translations[entry.translations.length-1].author.id =}/">{= entry.translations[entry.translations.length-1].author.name =}</a>
                                    </div>
                                </div>
                                <div ng-if="entry.approved">
                                    <span class="text-piece__body">
                                        <span html-content="entry.translation"></span>
                                        {% include "translations/partial/text-page-now-editing-icon.html" %}
                                    </span>
                                    <div class="text-piece__icons">
                                        <a class="active"
                                           ng-click="disapproveEntry(entry)"
                                           ng-disabled="entry.busy"
                                           title="{% trans 'Disapprove translation' %}">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </div>
                                </div>
                                <div ng-if="entry.disabled">
                                    <span class="text-piece__body" ng-if="entry.translations.length > 0">
                                        <span html-content="entry.body"></span>
                                    </span>
                                    <div class="text-piece__icons">
                                        <a class="active"
                                           ng-click="enableEntry(entry)"
                                           ng-disabled="entry.busy"
                                           title="{% trans 'Enable translation' %}">
                                            <i class="fa fa-ban"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div ng-if="$parent.activeEntry === entry">
                                <div ng-if="!entry.meta.msgid_plural">
                                    <span style="padding-right: 25px; display: block;" ng-mouseup="$parent.mouseup($event, entry)">
                                        <span html-content="entry.body"></span>
                                        {% include "translations/partial/text-page-now-editing-icon.html" %}
                                        <div class="text-piece__icons">
                                            <a ng-init="entryUrl = baseHost + '/text/' + currentTextId + '/' + currentTargetLang + '/f/' + entry['previewCode']+'/'"
                                               title="{% trans "Copy fragment link" %}"
                                               ng-click-copy="{= entryUrl =}" ng-click-copy-message="{{ fragment_link }}"
                                               style="font-size: 16px;"
                                               ng-show="(!userIsManager && userMembershipStatus != 0)">
                                                <i class="fa fa-fw fa-link"></i>
                                            </a>
                                            <div class="translation-variant__options"
                                                 ng-show="(userIsManager || userMembershipStatus == 0)">
                                                <a class="project-list-text__btn dropdown dropdown-append-to-body"
                                                       href="#"
                                                       data-toggle="dropdown"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                                                    <ul class="dropdown-menu dropdown-menu-right dropdown-yellow dropdown-caret">
                                                        <li>
                                                            <a ng-init="entryUrl = baseHost + '/text/' + currentTextId + '/' + currentTargetLang + '/f/' + entry['previewCode']+'/'"
                                                                title="{% trans "Copy fragment link" %}"
                                                                ng-click-copy="{= entryUrl =}" ng-click-copy-message="{{ fragment_link }}">
                                                                <i class="fa fa-fw fa-link"></i>
                                                                &nbsp{% trans "Copy fragment link" %}
                                                            </a>
                                                        </li>
                                                        <li class="divider"></li>
                                                        <li>
                                                            <a href=""
                                                               ng-click="disableEntry(entry)">
                                                                <i class="fa fa-fw fa-ban"></i>
                                                                &nbsp{{ disable_translation }}
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href=""
                                                                ng-click="viewEntryDeletedTranslations(entry)">
                                                                  <i class="fa fa-fw fa-undo"></i>
                                                                &nbsp{% trans 'Restore deleted translation' %}
                                                            </a>
                                                        </li>
                                                    </ul>
                                            </div>

                                        </div>
                                    </span>
                                </div>
                                <div ng-if="entry.meta.msgid_plural">
                                    <span class="grey">{% trans 'singular:' %}</span> <span html-content="entry.body"></span> <br>
                                    <span class="grey">{% trans 'plural:' %}</span> <span html-content="entry.meta.msgid_plural"></span>
                                </div>
                            </div>
                        </div>
                        <div class="text-piece__box">
                            <!---------------------------------
                                       editor field
                            ---------------------------------->
                            <div class="text-piece__editor"
                                 ng-if="($parent.activeEntry === entry && userMembershipStatus < 2)"
                                 ng-show="entry.editing || !entry.approved">
                                <div class="translation-editor"
                                     ng-class="{'translation-editor_active': entry.editing,
                                                'disabled-div': entrySuggestSending}"
                                     ng-disabled="entrySuggestSending">
                                    <div class="translation-editor__tabs"
                                         ng-if="entry.meta.msgid_plural && entry.editing">
                                        <div class="switcher2">
                                            <a href=""
                                               class="switcher2__button"
                                               ng-repeat="pluralExample in pluralExamples track by $index"
                                               ng-class="{'switcher2__button_active': entry.plural == $index}"
                                               ng-click="switchPlural(entry, $index)">{= pluralExample =}</a>
                                        </div>
                                    </div>
                                    <div class="translation-editor__input-wrapper">
                                        <div contenteditable="true"
                                             id="entry-suggestion-{= entry.id =}"
                                             class="translation-editor__input"
                                             placeholder="{{ your_translation }}"
                                             data-insert-text=""
                                             ng-model="entry.suggestion"
                                             ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}"
                                             ng-drop="textareaDrop($event, entry)"
                                             ng-focus="startEditing(entry)"
                                             ng-keydown="textareaKeydown($event, entry)"
                                             ng-change="textareaAutoSave($event, entry)"
                                             text-editor>
                                        </div>
                                    </div>
                                    <div class="translation-editor__btns">
                                        <div class="translation-editor__save-btn">
                                            <div class="translation-editor__options">
                                                <div class="translation-editor__options-content">
                                                    {{ text_options }}:
                                                    <div>
                                                        <label>
                                                            <input type="radio" class="ace"
                                                                   value="ctrl-enter"
                                                                   ng-model="savingOptions.btn"
                                                                   ng-click="changeSavingOptions()">
                                                            <span class="lbl"> Ctrl-Enter</span>
                                                        </label>
                                                    </div>
                                                    <div>
                                                        <label>
                                                            <input type="radio" class="ace"
                                                                   value="enter"
                                                                   ng-model="savingOptions.btn"
                                                                   ng-click="changeSavingOptions()">
                                                            <span class="lbl"> Enter</span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <a href=""
                                               ng-click="suggestTranslation(entry)"
                                               title="{= entry.suggestionId ? '{{ save_translation }}' : '{{ add_translation }}' =}">
                                                <i class="fa fa-fw fa-floppy-o"></i>
                                            </a>
                                        </div>
                                        <a href=""
                                           ng-show="entry.suggestionId"
                                           ng-click="removeTranslation(entry)"
                                           title="{{ remove_translation }}">
                                            <i class="fa fa-fw fa-trash-o"></i>
                                        </a>
                                        <a href=""
                                           ng-click="cancelEditing(entry)"
                                           title="{{ cancel_translation }}">
                                            <i class="fa fa-fw fa-times"></i>
                                        </a>
                                    </div>
                                    <div class="translation-editor__machine-suggestions">
                                        <div class="machine-suggestions"
                                             ng-show="showText = true; entry.tmdbVariants.length">
                                            <h4 class="machine-suggestions__title">{{ tmtranslations }}</h4>
                                            <ul class="machine-suggestions__list">
                                                <li class="machine-suggestions__item"
                                                    ng-repeat="machine in entry.tmdbVariants">
                                                    <div class="machine-suggestion">
                                                        <span class="machine-suggestion__from">{= machine.tmx | limitTo:15 =}</span>
                                                        <span class="machine-suggestion__text"
                                                              html-content="machine.text"
                                                              ng-if="showText"
                                                              ng-click="addMachineSuggestion(entry, machine)"></span>
                                                        <span class="machine-suggestion__text"
                                                              html-content="machine.diff"
                                                              ng-if="!showText"
                                                              ng-click="addMachineSuggestion(entry, machine)"></span>
                                                        <span class="machine-suggestion__relevance"
                                                              ng-class="{
                                                                'machine-suggestion__relevance_high': machine.percent >= 70,
                                                                'machine-suggestion__relevance_medium': machine.percent> 40 && machine.percent < 70,
                                                                'machine-suggestion__relevance_low': machine.percent <= 40
                                                              }"
                                                              ng-click="showText = !showText">{= machine.percent =}%</span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="machine-suggestions"
                                             ng-show="entry.yaMachines.length">
                                            <h4 class="machine-suggestions__title">{{ mtranslations }}</h4>
                                            <ul class="machine-suggestions__list">
                                                <li class="machine-suggestions__item"
                                                    ng-repeat="machine in entry.yaMachines"
                                                    ng-click="addMachineSuggestion(entry, machine)">
                                                    <div class="machine-suggestion">
                                                        <span class="machine-suggestion__text"
                                                              html-content="machine.text"></span>
                                                        <span class="machine-suggestion__logo"><img src="/static/img/yandex_logo.svg"></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!---------------------------------
                                    translation variants
                            ---------------------------------->
                            <div class="text-piece__variants"
                             ng-if="($parent.activeEntry === entry)">
                            <div class="translation-variant"
                                 ng-repeat="translation in entry.translations"
                                 ng-class="{'translation-variant_approved': translation.isApproved}">
                                <div class="translation-variant__text"
                                     ng-bind-html="clearTranslation(entry, translation) | trusted">
                                </div>
                                <div class="translation-variant__author">
                                    <a href="/user/{= translation.author.id =}">{= translation.author.name =}</a>
                                </div>
                                <div class="translation-variant__date">
                                    <!-- TODO: сделать красивый плюрал -->
                                    <span ng-click="viewEntryHistory(translation)" ng-if="translation.historyCount > 0" title="Правок: {= translation.historyCount =}, последняя от {= translation.lastModifiedAuthor =}" style="cursor: pointer">
                                        <i class="fa fa-pencil" aria-hidden="true"></i> {= translation.lastModified | date:'short' =}
                                    </span>
                                    <span ng-if="translation.historyCount == 0">{= translation.lastModified | date:'short' =}</span>
                                </div>
                                <div class="translation-variant__options"
                                     ng-show="(userIsManager || userMembershipStatus == 0)">
                                    <a class="project-list-text__btn dropdown"
                                           href="#"
                                           data-toggle="dropdown"
                                           title="{% trans 'Options' %}"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                                        <ul class="dropdown-menu dropdown-yellow dropdown-caret">
                                            <li>
                                                <a href=""
                                                    ng-click="approveEntriesByUser(translation.author)">
                                                    <i class="fa fa-check-circle"></i>
                                                    &nbsp{% trans 'Approve all entries from user' %}
                                                </a>
                                            </li>
                                            <li>
                                                <a href=""
                                                    ng-click="disapproveEntriesByUser(translation.author)">
                                                    <i class="fa fa-times-circle"></i>
                                                    &nbsp{% trans 'Disapprove all entries from user' %}
                                                </a>
                                            </li>
                                        </ul>
                                </div>
                                <div class="translation-variant__icons">
                                    <div ng-if="entry.approved">
                                        <a class="active"
                                           ng-click="disapproveEntry(entry)"
                                           ng-disabled="entry.busy"
                                           title="{% trans 'Disapprove translation' %}"
                                           ng-show="translation.isApproved">
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </div>
                                    <div>
                                        <a ng-show="(userIsManager || userMembershipStatus == 0) && !entry.approved"
                                           ng-click="approveEntry(translation, entry)"
                                           ng-disabled="translation.busy"
                                           title="{% trans 'Approve translation' %}">
                                            <i class="fa fa-check-circle"></i>
                                        </a>
                                        <a ng-show="(userIsManager || userMembershipStatus == 0 || (user == translation.author.id)) && !(userMembershipStatus == 2)"
                                           ng-click="editTranslation(entry, translation)"
                                           ng-disabled="translation.busy"
                                           title="{% trans 'Edit translation' %}">
                                            <i class="fa fa-pencil"></i>
                                        </a>
                                        <a ng-class="{'active': translation.isVoted}"
                                           ng-show="false"
                                           ng-click="voteTranslation(entry, translation)"
                                           ng-disabled="translation.busy">
                                            <i class="fa fa-plus-square-o"></i>
                                        </a>
                                        <span class="translation-variant__vote"
                                              ng-show="(userIsManager || userMembershipStatus == 0) && translation.vote">
                                            <i class="fa fa-plus"></i> {= translation.vote =}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="workbench-layout__col col-sm-6 hidden-xs" id="translation-text">
                <div class="text-overview">
                    <div class="text-overview__table">
                        <div class="text-overview__row text-overview__row_thin">
                            <div class="text-overview__cell">
                                <div class="text-overview__switcher">
                                    <link href="{% static 'assets/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.css' %}" rel="stylesheet">
                                    <style>
                                        .toggle.android {
                                            border-radius: 0px;
                                            border-width: 1px;
                                            min-width: 115px;
                                        }
                                        .toggle .btn-primary {
                                            background-color: #438EB9 !important;
                                        }
                                        @media (prefers-color-scheme:dark) {
                                            .toggle .btn-primary {
                                                background-color: #FEE188 !important;
                                                color: #262727 !important;
                                            }
                                            .toggle.android .toggle-handle {
                                                background-color: #262727 !important;
                                            }
                                        }
                                         .toggle.android .toggle-handle {
                                             border-radius: 0px;
                                             border-width: 1px;
                                        }
                                        .dict-btn {
                                          /*border: 0 !important;*/
                                          color: #777676 !important;
                                          background-color: #f5f5f5 !important;
                                          border: none;
                                          font-size: large;
                                          line-height: 22px;
                                        }
                                        .dict-btn:active {
                                            top: 0px !important;
                                            left: 0px !important;
                                            background-color: #E4E4E4 !important;
                                            border: none;
                                            box-shadow: inset 0 0 3px 0px rgba(0, 0, 0, 0.5) !important;
                                        }
                                        .dict-btn:hover {
                                            background-color: #E4E4E4 !important;
                                            border: none;
                                        }

                                    </style>
                                    <toggle ng-model="textTab" ng-change="changed()"
                                            on="{{ translated_text }}"
                                            off="{{ original_text }}"
                                            size="btn-sm"
                                            style="android"></toggle>
                                </div>
                            </div>
                        </div>
                        <div class="text-overview__row">
                            <div class="text-overview__cell">
                                <div class="text-overview__content" id="result-container"
                                     ng-show="!busy" dynamic="textBody"
                                    ng-style="{'font-size': customFontSize + 'px'}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "translations/partial/dictionary_modal.html" %}
        {% include "translations/partial/view_text/to_glossary_modal.html" %}
        {% include "translations/partial/view_text/view_entry_history.html" %}
        {% include "translations/partial/view_text/view_entry_deleted.html" %}
    </div>
    <script>
        var helpTexts = {
            'translations-container': '{% trans "Here we can see all the fragments text was splitted to" %}',
            'entry': '{% trans "Click to expand fragment and begin translation" %}',
            'entry2': '{% trans "Translation entry form, translation memory variants and machine translations" %}',
            'entry-suggestion': '{% trans "Click to add new translation" %}',
            'translation-text': '{% trans "Here we can see the whole text" %}',
            'data-entry': '{% trans "Click on the fragment in text to move to its translation form" %}',
            'switcher__button_original-text': '{% trans "Source text" %}',
            'switcher__button_translated-text': '{% trans "All the text with translated fragments" %}'
        };
    </script>
{% endblock %}

{% block script %}
<script src="{% static 'js/jquery-ui-1.10.3.full.min.js' %}"></script>
{% endblock %}
