{% extends "main/base-logged-in.html" %}

{% block innercontent %}
<div class="profile-container" ng-controller="projectsCtrl">
    <aside class="profile-sidebar">
        {% include "components/profile-data/personal-info.html" %}
    </aside>
    <section class="profile-content">
        <div class="user-statistics">
            <div class="user-statistics__title">User statistics</div>
            <div class="user-statistics__translations">
                <ul class="user-statistics-list">
                    <li class="user-statistics-list__item">
                        <div class="user-statistics-column">
                            <div class="user-statistics-column__value user-statistics-column__value_l" style="height: 30%"></div>
                            <div class="user-statistics-column__value user-statistics-column__value_r" style="height: 30%"></div>
                        </div>
                        <div class="user-statistics__translations-rate">
                            <div class="user-statistics__translations-rate-item user-statistics__translations-rate-item_l-r">
                                <span class="user-statistics__translations-language flag flag-Aland"></span>
                                <span class="user-statistics__translations-direction fa fa-chevron-left"></span>
                                <span class="user-statistics__translations-language flag flag-Albania"></span>
                            </div>
                            <div class="user-statistics__translations-rate-item user-statistics__translations-rate-item_r-l">
                                <span class="user-statistics__translations-language flag flag-Russia"></span>
                                <span class="user-statistics__translations-direction fa fa-chevron-right"></span>
                                <span class="user-statistics__translations-language flag flag-China"></span>
                            </div>
                        </div>
                    </li>
                    <li class="user-statistics-list__item">
                        <div class="user-statistics-column">
                            <div class="user-statistics-column__value user-statistics-column__value_l" style="height: 30%"></div>
                            <div class="user-statistics-column__value user-statistics-column__value_r" style="height: 30%"></div>
                        </div>
                        <div class="user-statistics__translations-rate">
                            <div class="user-statistics__translations-rate-item user-statistics__translations-rate-item_l-r">
                                <span class="user-statistics__translations-language"></span>
                                <span class="user-statistics__translations-direction"></span>
                                <span class="user-statistics__translations-language"></span>
                            </div>
                            <div class="user-statistics__translations-rate-item user-statistics__translations-rate-item_r-l">
                                <span class="user-statistics__translations-language"></span>
                                <span class="user-statistics__translations-direction"></span>
                                <span class="user-statistics__translations-language"></span>
                            </div>
                        </div>
                    </li>
                    <li class="user-statistics-list__item">
                        <div class="user-statistics-column">
                            <div class="user-statistics-column__value user-statistics-column__value_l" style="height: 30%"></div>
                            <div class="user-statistics-column__value user-statistics-column__value_r" style="height: 30%"></div>
                        </div>
                        <div class="user-statistics__translations-rate">
                            <div class="user-statistics__translations-rate-item user-statistics__translations-rate-item_l-r">
                                <span class="user-statistics__translations-language"></span>
                                <span class="user-statistics__translations-direction"></span>
                                <span class="user-statistics__translations-language"></span>
                            </div>
                            <div class="user-statistics__translations-rate-item user-statistics__translations-rate-item_r-l">
                                <span class="user-statistics__translations-language"></span>
                                <span class="user-statistics__translations-direction"></span>
                                <span class="user-statistics__translations-language"></span>
                            </div>
                        </div>
                    </li>
                </ul>

                <div class="user-statistics__total">
                    <div class="user-statistics__total-title">Total:</div>
                    <div class="user-statistics__total-number">5843</div>
                    <div class="user-statistics__total-sentences">sentences translated</div>
                </div>
            </div>


        </div>

        <div class="user-statistics__recent-progress">
            <div class="user-statistics__recent-progress-title stripy-heading">
                <span class="stripy-heading__before"></span>
                <span class="stripy-heading__text">Recent progress</span>
                <span class="stripy-heading__after"></span>
            </div>

            <div class="user-statistics__recent-progress-table">
                <table cellpadding="0" cellspacing="0" class="user-statistics-table">
                    <tbody>
                        {% for project in projects %}
                        <tr class="user-statistics-table__row">
                            <td class="user-statistics-table__title">{{ project.name }}</td>
                            <td class="user-statistics-table__progress">
                                <div class="progress-bar">
                                    <div class="progress-bar__gauge" style="width:{{ project.get_progress }}%;background:#02c14f"></div>
                                    <span class="progress-bar__value">{{ project.get_progress }}%</span>
                                </div>
                            </td>
                            <td class="user-statistics-table__languages">
                                <span class="user-statistics__translations-language flag flag-Russia"></span>
                                <span class="user-statistics__translations-direction user-statistics__translations-direction_small fa fa-chevron-right"></span>
                                <span class="user-statistics__translations-language flag flag-China"></span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <a href="" class="btn" ng-click="startNewProject()">Start New</a>
        </div>
    </section>
</div>

<script type="text/ng-template" id="newProjectModal.html">
    <div class="modal-header">
        <button type="button"
                class="bootbox-close-button close"
                ng-click="cancel()">×</button>
        <h3 class="modal-title">Add project</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <label class="control-label no-padding-right" for="form-field-1"> Short project name: </label>
                <div class="">
                    <input type="text"
                           id="form-field-1"
                           placeholder="Short project name"
                           class="form-control"
                           ng-model="name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right" for="form-field-2"> Short project description: </label>
                <div class="">
                    <textarea class="form-control"
                              placeholder=""
                              id="form-field-2"
                              msd-elastic="\n"
                              ng-model="description"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label>
                    <input name="form-field-radio" type="radio" class="ace"
                           value="public"
                           ng-model="type">
                    <span class="lbl"> Public</span>
                </label>
            </div>
            <div class="form-group">
                <label>
                    <input name="form-field-radio" type="radio" class="ace"
                           value="private"
                           ng-model="type">
                    <span class="lbl"> Private</span>
                </label>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success"
                ng-click="ok()"
                ng-disabled="busy">Done</button>
    </div>
</script>

{% endblock %}