{% extends "main/base-logged-in.html" %}

{% block innercontent %}
<aside class="sidebar">
	{% include "components/profile-data/personal-info.html" %}
</aside>
<section class="content">
	<div class="user-statistics">
		<div class="user-statistics__title">User statistics</div>
		<div class="user-statistics__translations">
			<ul class="user-statistics-list">
				<li class="user-statistics-list__item">
					<div class="user-statistics-column">
						<div class="user-statistics-column__value user-statistics-column__value_l" style="height: 30%"></div>
						<div class="user-statistics-column__value user-statistics-column__value_r" style="height: 30%"></div>
					</div>
					<div class="user-statistics__translations-rate">
						<div class="user-statistics__translations-rate-item user-statistics__translations-rate-item_l-r">
							<span class="user-statistics__translations-language flag flag-Aland"></span>
							<span class="user-statistics__translations-direction fa fa-chevron-left"></span>
							<span class="user-statistics__translations-language flag flag-Albania"></span>
						</div>
						<div class="user-statistics__translations-rate-item user-statistics__translations-rate-item_r-l">
							<span class="user-statistics__translations-language flag flag-Russia"></span>
							<span class="user-statistics__translations-direction fa fa-chevron-right"></span>
							<span class="user-statistics__translations-language flag flag-China"></span>
						</div>
					</div>
				</li>
				<li class="user-statistics-list__item">
					<div class="user-statistics-column">
						<div class="user-statistics-column__value user-statistics-column__value_l" style="height: 30%"></div>
						<div class="user-statistics-column__value user-statistics-column__value_r" style="height: 30%"></div>
					</div>
					<div class="user-statistics__translations-rate">
						<div class="user-statistics__translations-rate-item user-statistics__translations-rate-item_l-r">
							<span class="user-statistics__translations-language"></span>
							<span class="user-statistics__translations-direction"></span>
							<span class="user-statistics__translations-language"></span>
						</div>
						<div class="user-statistics__translations-rate-item user-statistics__translations-rate-item_r-l">
							<span class="user-statistics__translations-language"></span>
							<span class="user-statistics__translations-direction"></span>
							<span class="user-statistics__translations-language"></span>
						</div>
					</div>
				</li>
				<li class="user-statistics-list__item">
					<div class="user-statistics-column">
						<div class="user-statistics-column__value user-statistics-column__value_l" style="height: 30%"></div>
						<div class="user-statistics-column__value user-statistics-column__value_r" style="height: 30%"></div>
					</div>
					<div class="user-statistics__translations-rate">
						<div class="user-statistics__translations-rate-item user-statistics__translations-rate-item_l-r">
							<span class="user-statistics__translations-language"></span>
							<span class="user-statistics__translations-direction"></span>
							<span class="user-statistics__translations-language"></span>
						</div>
						<div class="user-statistics__translations-rate-item user-statistics__translations-rate-item_r-l">
							<span class="user-statistics__translations-language"></span>
							<span class="user-statistics__translations-direction"></span>
							<span class="user-statistics__translations-language"></span>
						</div>
					</div>
				</li>
			</ul>

			<div class="user-statistics__total">
				<div class="user-statistics__total-title">Total:</div>
				<div class="user-statistics__total-number">5843</div>
				<div class="user-statistics__total-sentences">sentences translated</div>
			</div>
		</div>


	</div>

	<div class="user-statistics__recent-progress">
		<div class="user-statistics__recent-progress-title stripy-heading">
			<span class="stripy-heading__before"></span>
			<span class="stripy-heading__text">Recent progress</span>
			<span class="stripy-heading__after"></span>
		</div>

		<div class="user-statistics__recent-progress-table">
			<table cellpadding="0" cellspacing="0" class="user-statistics-table">
				<tbody>
					<tr class="user-statistics-table__row">
						<td class="user-statistics-table__title">How I met your mother</td>
						<td class="user-statistics-table__progress">
							<div class="progress-bar">
								<div class="progress-bar__gauge" style="width:75%;background:#02c14f"></div>
								<span class="progress-bar__value">75%</span>
							</div>
						</td>
						<td class="user-statistics-table__languages">
							<span class="user-statistics__translations-language flag flag-Russia"></span>
							<span class="user-statistics__translations-direction user-statistics__translations-direction_small fa fa-chevron-right"></span>
							<span class="user-statistics__translations-language flag flag-China"></span>
						</td>
					</tr>

					<tr class="user-statistics-table__row">
						<td class="user-statistics-table__title">How I met your mother</td>
						<td class="user-statistics-table__progress">
							<div class="progress-bar">
								<div class="progress-bar__gauge" style="width:75%;background:#02c14f"></div>
								<span class="progress-bar__value">75%</span>
							</div>
						</td>
						<td class="user-statistics-table__languages">
							<span class="user-statistics__translations-language flag flag-Russia"></span>
							<span class="user-statistics__translations-direction user-statistics__translations-direction_small fa fa-chevron-right"></span>
							<span class="user-statistics__translations-language flag flag-China"></span>
						</td>
					</tr>
					<tr class="user-statistics-table__row">
						<td class="user-statistics-table__title">How I met your mother</td>
						<td class="user-statistics-table__progress">
							<div class="progress-bar">
								<div class="progress-bar__gauge" style="width:75%;background:#02c14f"></div>
								<span class="progress-bar__value">75%</span>
							</div>
						</td>
						<td class="user-statistics-table__languages">
							<span class="user-statistics__translations-language flag flag-Russia"></span>
							<span class="user-statistics__translations-direction user-statistics__translations-direction_small fa fa-chevron-right"></span>
							<span class="user-statistics__translations-language flag flag-China"></span>
						</td>
					</tr>
					<tr class="user-statistics-table__row">
						<td class="user-statistics-table__title">How I met your mother</td>
						<td class="user-statistics-table__progress">
							<div class="progress-bar">
								<div class="progress-bar__gauge" style="width:75%;background:#02c14f"></div>
								<span class="progress-bar__value">75%</span>
							</div>
						</td>
						<td class="user-statistics-table__languages">
							<span class="user-statistics__translations-language flag flag-Russia"></span>
							<span class="user-statistics__translations-direction user-statistics__translations-direction_small fa fa-chevron-right"></span>
							<span class="user-statistics__translations-language flag flag-China"></span>
						</td>
					</tr>
					<tr class="user-statistics-table__row">
						<td class="user-statistics-table__title">How I met your mother</td>
						<td class="user-statistics-table__progress">
							<div class="progress-bar">
								<div class="progress-bar__gauge" style="width:75%;background:#02c14f"></div>
								<span class="progress-bar__value">75%</span>
							</div>
						</td>
						<td class="user-statistics-table__languages">
							<span class="user-statistics__translations-language flag flag-Russia"></span>
							<span class="user-statistics__translations-direction user-statistics__translations-direction_small fa fa-chevron-right"></span>
							<span class="user-statistics__translations-language flag flag-China"></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<a href="#" class="button button_gray user-statistics__recent-progress-new">Start New</a>
	</div>
</section>
{% endblock %}