<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Tolma.ch</title>

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!--basic styles-->
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.min.css" />
        <link rel="stylesheet" href="/static/css/jquery.gritter.css" />
        <link rel="stylesheet" href="/static/css/select2.css" />
        <link rel="stylesheet" href="/static/css/bootstrap-editable.css" />

		<!--fonts-->
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,400italic,500italic,700italic&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">
        <!--[if IE 7]>
		  <link rel="stylesheet" href="/static/css/font-awesome-ie7.min.css" />
		<![endif]-->

        <!--ace styles-->
        <link rel="stylesheet" href="/static/css/ace.min.css">
        <link rel="stylesheet" href="/static/css/ace-rtl.min.css">
        <link rel="stylesheet" href="/static/css/ace-skins.min.css">

        <!--[if lte IE 8]>
		  <link rel="stylesheet" href="/static/css/ace-ie.min.css" />
		<![endif]-->

        <!--page specific plugin styles-->
        <link rel="stylesheet" href="/static/css/all.css">

        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
              display: none !important;
            }
        </style>

        <!--inline styles related to this page-->
	</head>

	<body>
        <div class="main{% if user.is_authenticated %} auth{% endif %}" ng-app="tolmachApp">
            {% include "components/header/header.html" %}

            {% block content %}
            {% endblock %}
        </div>



		<a href="" id="btn-scroll-up" class="btn-scroll-up btn btn-small btn-inverse" title="Наверх">
			⬆
		</a>

		<!--basic scripts-->
		<script src="/static/js/jquery-2.0.3.min.js"></script>

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='/static/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="/static/js/bootstrap.min.js"></script>

		<!--page specific plugin scripts-->

		<!--ace scripts-->

		<script src="/static/js/ace-elements.min.js"></script>
        <script src="/static/js/ace.js"></script>
        <script src="/static/js/ace-extra.js"></script>
        <script src="/static/assets/angular/angular.min.js"></script>
        <script src="/static/assets/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="/static/assets/angular-elastic/elastic.js"></script>
        <script src="/static/assets/ng-file-upload/ng-file-upload.js"></script>
        <script>
            var csrfToken = '{{ csrf_token }}';
        </script>
		<script src="/static/js/app.js"></script>

		<!--inline scripts related to this page-->
    </body>
</html>