{% extends "main/base.html" %}
{% block content %}
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>

        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>

            <div class="sidebar" id="sidebar">
                <script type="text/javascript">
                    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
                </script>

                <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                    <form action="/i18n/setlang/" method="POST">
                        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
	                        {% csrf_token %}
                            <button type="submit" class="btn btn-success" name="language" value="en">
                                ENG
                            </button>

                            <button type="submit" class="btn btn-info" name="language" value="ru">
                                RUS
                            </button>

                            <button type="submit" class="btn btn-warning" name="language" value="it">
                                ITA
                            </button>

                            <button type="submit" class="btn btn-danger" name="language" value="zh">
                                ZHO
                            </button>
                        </div>
                    </form>

                    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                        <span class="btn btn-success"></span>

                        <span class="btn btn-info"></span>

                        <span class="btn btn-warning"></span>

                        <span class="btn btn-danger"></span>
                    </div>
                </div><!-- #sidebar-shortcuts -->

                <ul class="nav nav-list">
                    <li>
                        <a href="/">
                            <i class="fa fa-dashboard"></i>
                            <span class="menu-text"> Dashboard </span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span class="menu-text"> Projects </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="/projects/">
                                    <i class="fa fa-double-angle-right"></i>
                                    My projects
                                </a>
                            </li>

                            <li>
                                <a href="/third-party/">
                                    <i class="fa fa-double-angle-right"></i>
                                    Others' projects
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-street-view"></i>
                            <span class="menu-text"> Community </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="/public-projects/">
                                    <i class="fa fa-double-angle-right"></i>
                                    Public projects
                                </a>
                            </li>

                            <li>
                                <a href="/people/">
                                    <i class="fa fa-double-angle-right"></i>
                                    People
                                </a>
                            </li>

                            <li>
                                <a href="/translation-memory/">
                                    <i class="fa fa-double-angle-right"></i>
                                    TM Databases
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="/tickets/">
                            <i class="fa fa-info"></i>
                            <span class="menu-text"> Tickets </span>
                        </a>
                    </li>

                    <li>
                        <a href="/blog/">
                            <i class="fa fa-newspaper-o"></i>
                            <span class="menu-text"> Blog </span>
                        </a>
                    </li>

                    <li>
                        <a href="/settings/">
                            <i class="fa fa-gears"></i>
                            <span class="menu-text"> Settings </span>
                        </a>
                    </li>
                </ul><!-- /.nav-list -->

                <div class="sidebar-collapse" id="sidebar-collapse">
                    <i class="fa fa-angle-double-left" data-icon1="fa fa-angle-double-left" data-icon2="fa fa-angle-double-right"></i>
                </div>

                <script type="text/javascript">
                    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
                </script>
            </div>

            <div class="main-content">
                <div class="breadcrumbs" id="breadcrumbs">
                    <script type="text/javascript">
                        try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                    </script>

                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home home-icon"></i>
                            <a href="/">Home</a>
                        </li>
                        {% for link in breadcrumbs %}
                        <li class="active">
                            {% if link.1 %}<a href="{{ link.1 }}">{{ link.0 }}</a>
                            {% else %}{{ link.0 }}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul><!-- .breadcrumb -->

                    <div class="nav-search" id="nav-search">
                        <form class="form-search">
                            <span class="input-icon">
                                <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
                                <i class="fa fa-search nav-search-icon"></i>
                            </span>
                        </form>
                    </div><!-- #nav-search -->
                </div>

                <div class="page-content">
                    <!-- PAGE CONTENT BEGINS -->
                    {% block innercontent %}
                    {% endblock %}
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.page-content -->
            </div><!-- /.main-content -->
        </div><!-- /.main-container-inner -->
    </div>
{% endblock %}