{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="tolmachApp">
    <head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
        <title>{% if page_title %}{{ page_title }}{% else %}Tolma.ch{% endif %}</title>

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#3B8DB6" />

        {% with front_version="r08ie25ev7gu2digru5pqcflma" %}


        <link href="{% static 'img/favicon.ico' %}?v={{ front_version }}" rel="shortcut icon">

        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'img/site.json' %}">
        <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg" color="#5bbad5' %}">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}?v={{ front_version }}">
        <meta name="apple-mobile-web-app-title" content="Tolma.ch">
        <meta name="application-name" content="Tolma.ch">
        <meta name="msapplication-TileColor" content="#00a300">
        <meta name="msapplication-config" content="{% static 'img/browserconfig.xml' %}">



        {% if debug == 'false' %}
            <link rel="stylesheet" href="{% static 'dist/tolmach.min.css' %}?v={{ front_version }}">
        {% else %}
            <link rel="stylesheet" href="{% static 'assets/bootstrap/dist/css/bootstrap.css' %}">
            <link rel="stylesheet/less" type="text/css" href="{% static 'less/tolmach.less' %}" />
            <link rel="stylesheet/less" type="text/css" href="{% static 'assets/handsontable/dist/handsontable.full.css' %}" />
            <script src="{% static 'assets/less/dist/less.js' %}" type="text/javascript"></script>
        {%  endif %}

		<!--fonts-->
        <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}?v={{ front_version }}">

        <!--ace styles-->
        <link rel="stylesheet" href="{% static 'dist/ace.css' %}?v={{ front_version }}">
        <link rel="stylesheet" href="{% static 'css/ace-rtl.min.css' %}?v={{ front_version }}">

        <!--page specific plugin styles-->
        <link rel="stylesheet" href="{% static 'dist/all.css' %}?v={{ front_version }}">
        <link rel="stylesheet" href="{% static 'css/image-crop-styles.css' %}?v={{ front_version }}">
        <link rel="stylesheet" href="{% static 'assets/angular-ui-select/dist/select.css' %}?v={{ front_version }}">
        <style>
            [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
              display: none !important;
            }
        </style>
        <script type="text/javascript">
            window['getHost'] = "{{request.get_host }}";
            window['isHttps'] = {{request.is_secure|lower }};
            window['baseDomain'] = "{% ifequal request.is_secure|lower true %}https{% else %}http{% endifequal %}://{{request.get_host }}";
        </script>

        {% if base_domain == 'https://tolma.ch' %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter31835741 = new Ya.Metrika({
                            id:31835741,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/31835741" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->

        <!-- Vk.com retarget pixel -->
        <script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src="https://vk.com/js/api/openapi.js?159",t.onload=function(){VK.Retargeting.Init("VK-RTRG-285607-dmsdo"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-285607-dmsdo" style="position:fixed; left:-999px;" alt=""/></noscript>
        <!-- /Vk.com retarget pixel -->
        {% endif %}

        <!--inline styles related to this page-->
	</head>

	<body ng-controller="mainCtrl" ng-keydown="globalKeydown($event, entry)" ng-keyup="globalKeyup($event, entry)" ng-click="bodyClick($event)" ng-mouseup="mouseup($event)">
        <div class="main{% if user.is_authenticated %} auth{% endif %}" resize="globalResize">
            {% include "main/partial/navbar.html" %}

            {% block content %}
            {% endblock %}
        </div>

        {% include "main/partial/footer.html" %}

        <script type="text/ng-template" id="helpTextBlock.html">
            <div class="help__text-block-inner">
                {= helpText =}
                <div class="help__btns-inner">
                    <a class="btn btn-danger help__btn"
                       ng-click="closeHelpPresentation()">{% trans "Close" %}</a>
                    <a class="btn btn-success help__btn"
                       ng-click="nextHelpStep()"
                       ng-show="hasNext">{% trans "Next" %}</a>
                </div>
            </div>
        </script>
{#        <div class="chatroom"#}
{#             ng-if="showChatroom"#}
{#             ng-cloak#}
{#             ng-controller="ChatCtrl"#}
{#             ng-style="style"#}
{#             data-drag="true"#}
{#             jqyoui-draggable>#}
{#            <div class="chatroom__title">#}
{#                Chat#}
{#            </div>#}
{#            <div class="chatroom__history">#}
{#                <div class="chat-item">#}
{#                    <img class="chat-item__ava" src="/media/avatar/vk_avatar_110946620_UQUgNLv.jpg" alt="User">#}
{#                    <div class="chat-item__time">yesterday 12:15</div>#}
{#                    <div class="chat-item__name">Evgeniy Finkelstein</div>#}
{#                    <div class="chat-item__text">Hi!</div>#}
{#                </div>#}
{#                <div class="chat-item chat-item_short chat-item_wo-time">#}
{#                    <img class="chat-item__ava" src="/media/avatar/vk_avatar_110946620_UQUgNLv.jpg" alt="User">#}
{#                    <div class="chat-item__time">yesterday 12:15</div>#}
{#                    <div class="chat-item__name">Evgeniy Finkelstein</div>#}
{#                    <div class="chat-item__text">How are you?</div>#}
{#                </div>#}
{#                <div class="chat-item chat-item_own">#}
{#                    <img class="chat-item__ava" src="/media/avatar/vk_avatar_110946620_UQUgNLv.jpg" alt="User">#}
{#                    <div class="chat-item__time">yesterday 12:16</div>#}
{#                    <div class="chat-item__name">Stupid Idiot</div>#}
{#                    <div class="chat-item__text">Hi!</div>#}
{#                </div>#}
{#                <div class="chat-item chat-item_own chat-item_wo-time">#}
{#                    <img class="chat-item__ava" src="/media/avatar/vk_avatar_110946620_UQUgNLv.jpg" alt="User">#}
{#                    <div class="chat-item__time">yesterday 12:16</div>#}
{#                    <div class="chat-item__name">Stupid Idiot</div>#}
{#                    <div class="chat-item__text">I am fine</div>#}
{#                </div>#}
{#                <div class="chat-item">#}
{#                    <img class="chat-item__ava" src="/media/avatar/vk_avatar_110946620_UQUgNLv.jpg" alt="User">#}
{#                    <div class="chat-item__time">yesterday 12:18</div>#}
{#                    <div class="chat-item__name">Another member</div>#}
{#                    <div class="chat-item__text">You are stupid idiots both!</div>#}
{#                </div>#}
{#                <div class="chat-item chat-item_short">#}
{#                    <img class="chat-item__ava" src="/media/avatar/vk_avatar_110946620_UQUgNLv.jpg" alt="User">#}
{#                    <div class="chat-item__time">yesterday 12:23</div>#}
{#                    <div class="chat-item__name">Another member</div>#}
{#                    <div class="chat-item__text">Cretins...</div>#}
{#                </div>#}
{##}
{#                <div class="chat-item">#}
{#                    <img class="chat-item__ava" src="/media/avatar/vk_avatar_110946620_UQUgNLv.jpg" alt="User">#}
{#                    <div class="chat-item__time">12:15</div>#}
{#                    <div class="chat-item__name">Evgeniy Finkelstein</div>#}
{#                    <div class="chat-item__text">Hi!</div>#}
{#                </div>#}
{#                <div class="chat-item chat-item_short chat-item_wo-time">#}
{#                    <img class="chat-item__ava" src="/media/avatar/vk_avatar_110946620_UQUgNLv.jpg" alt="User">#}
{#                    <div class="chat-item__time">12:15</div>#}
{#                    <div class="chat-item__name">Evgeniy Finkelstein</div>#}
{#                    <div class="chat-item__text">How are you?</div>#}
{#                </div>#}
{#                <div class="chat-item chat-item_own">#}
{#                    <img class="chat-item__ava" src="/media/avatar/vk_avatar_110946620_UQUgNLv.jpg" alt="User">#}
{#                    <div class="chat-item__time">12:16</div>#}
{#                    <div class="chat-item__name">Stupid Idiot</div>#}
{#                    <div class="chat-item__text">Hi!</div>#}
{#                </div>#}
{#                <div class="chat-item chat-item_own chat-item_wo-time">#}
{#                    <img class="chat-item__ava" src="/media/avatar/vk_avatar_110946620_UQUgNLv.jpg" alt="User">#}
{#                    <div class="chat-item__time">12:16</div>#}
{#                    <div class="chat-item__name">Stupid Idiot</div>#}
{#                    <div class="chat-item__text">I am fine</div>#}
{#                </div>#}
{#                <div class="chat-item">#}
{#                    <img class="chat-item__ava" src="/media/avatar/vk_avatar_110946620_UQUgNLv.jpg" alt="User">#}
{#                    <div class="chat-item__time">12:18</div>#}
{#                    <div class="chat-item__name">Another member</div>#}
{#                    <div class="chat-item__text">You are stupid idiots both!</div>#}
{#                </div>#}
{#                <div class="chat-item chat-item_short">#}
{#                    <img class="chat-item__ava" src="/media/avatar/vk_avatar_110946620_UQUgNLv.jpg" alt="User">#}
{#                    <div class="chat-item__time">12:23</div>#}
{#                    <div class="chat-item__name">Another member</div>#}
{#                    <div class="chat-item__text">Cretins...</div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="chatroom__input">#}
{#                <textarea class="chat-input"#}
{#                          name=""#}
{#                          id=""#}
{#                          placeholder="Write a message..."#}
{#                          msd-elastic#}
{#                          ng-keypress="textareaKeypress($event)"></textarea>#}
{#            </div>#}
{#        </div>#}
        <div class="help" ng-show="helpShow" resize="helpResize" ng-cloak>
            <div class="help__fadeout-block" ng-style="helpBlockStyle1">
                <div class="help__btns"
                     ng-show="position === 'top'">
                    <a class="btn btn-danger help__btn"
                       ng-click="closeHelpPresentation()">{% trans "Close" %}</a>
                    <a class="btn btn-success help__btn"
                       ng-click="nextHelpStep()"
                       ng-show="hasNext">{% trans "Next" %}</a>
                </div>
                <div class="help__text-block"
                     ng-style="helpTextStyle1"
                     ng-show="position === 'top'">{= helpText =}</div>
            </div>
            <div class="help__fadeout-block" ng-style="helpBlockStyle2">
                <div ng-if="position === 'left'" ng-include="'helpTextBlock.html'"></div>
            </div>
            <div class="help__fadeout-block" ng-style="helpBlockStyle3">
                <div ng-if="position === 'right'" ng-include="'helpTextBlock.html'"></div>
            </div>
            <div class="help__fadeout-block" ng-style="helpBlockStyle4">
                <div ng-if="position === 'bottom'" ng-include="'helpTextBlock.html'"></div>
            </div>
            <div class="help__transparent-block" ng-style="helpCenterBlockStyle1" ng-click="clickBlock && clickBlock()">
                <div ng-if="position === 'inner'" ng-include="'helpTextBlock.html'"></div>
            </div>
        </div>

        <div class="popover fade bottom in"
             id="translation-popup"
             ng-show="showTranslatePopup"
             ng-style="translatePopupStyle">
            <div class="arrow"></div>
            <div class="popover-content">
                <div ng-show="translationResults.length === 0">{% trans "No results" %}</div>
                <div ng-repeat="res in translationResults">
                    <a href="" ng-click="copyToClipboard(res)">{= res =}</a>

                </div>
            </div>
        </div>

		<!--basic scripts-->
		<script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
		<script src="{% static 'js/name-generator.js' %}"></script>
		<script src="{% static 'js/screenfull.js' %}"></script>

        <script>
            // if we're on a view text page
            if (window['textId'] !== undefined) {
                console.log($("header"));
                $("body").css("padding-top", "50px");
                var headerStyles = {
                    position: "fixed",
                    top: "0",
                    transition: "top 0.2s ease-in-out",
                    width: "100%"
                };
                $("header").css(headerStyles);
                // Hide Header on on scroll down
                var didScroll;
                var lastScrollTop = 0;
                var delta = 5;
                var navbarHeight = $('header').outerHeight();

                $(window).scroll(function(event){
                    didScroll = true;
                });

                setInterval(function() {
                    if (didScroll) {
                        hasScrolled();
                        didScroll = false;
                    }
                }, 250);

                function hasScrolled() {
                    var st = $(this).scrollTop();

                    // Make sure they scroll more than delta
                    if(Math.abs(lastScrollTop - st) <= delta)
                        return;

                    // If they scrolled down and are past the navbar, add class .nav-up.
                    // This is necessary so you never see what is "behind" the navbar.
                    if (st > lastScrollTop && st > navbarHeight){
                        // Scroll Down
                        $('header').removeClass('nav-down').addClass('nav-up');
                    } else {
                        // Scroll Up
                        if(st + $(window).height() < $(document).height()) {
                            $('header').removeClass('nav-up').addClass('nav-down');
                        }
                    }

                    lastScrollTop = st;
                }
            }
        </script>
        <style>
            .nav-up {
                top: -50px !important;
            }
        </style>

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='{% static 'js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="{% static 'js/bootstrap.min.js' %}?v={{ front_version }}"></script>

		<!--page specific plugin scripts-->

		<!--ace scripts-->

		<script src="{% static 'js/ace-elements.min.js' %}?v={{ front_version }}"></script>
        <script src="{% static 'js/ace.js' %}?v={{ front_version }}"></script>
        <script src="{% static 'js/ace-extra.js' %}?v={{ front_version }}"></script>
        <script src="{% static 'js/reconnecting-websocket.min.js' %}?v={{ front_version }}"></script>
        <script src="{% static 'assets/angular/angular.min.js' %}?v={{ front_version }}"></script>
        {% with 'js/angular-locale_'|add:LANGUAGE_CODE|add:'.min.js' as angular_i18n %}
        <script src="{% static angular_i18n %}"></script>
        {% endwith %}
        {#<script src="{% static 'js/ace.js' %}?v={{ front_version }}"></script>#}
        {#<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.5/angular-locale_{{ LANGUAGE_CODE }}.min.js"></script>#}
        <script src="{% static 'assets/angular-bootstrap/ui-bootstrap-tpls-2.5.0.min.js' %}?v={{ front_version }}"></script>
        <script src="{% static 'assets/angular-elastic/elastic.js' %}?v={{ front_version }}"></script>
        <script src="{% static 'assets/angular-ui-select/dist/select.min.js' %}?v={{ front_version }}"></script>
        <script src="{% static 'assets/ng-file-upload/ng-file-upload.js' %}?v={{ front_version }}"></script>
        <script src="{% static 'assets/angular-image-crop/image-crop.js' %}?v={{ front_version }}"></script>
        <script src="{% static 'assets/angular-contenteditable/angular-contenteditable.js' %}?v={{ front_version }}"></script>
        <script src="{% static 'assets/angular-img-cropper/dist/angular-img-cropper.min.js' %}?v={{ front_version }}"></script>
        <script src="{% static 'assets/angular-dragdrop/src/angular-dragdrop.js' %}?v={{ front_version }}"></script>
        <script src="{% static 'assets/angular-local-storage/dist/angular-local-storage.min.js' %}?v={{ front_version }}"></script>
        <script src="{% static 'assets/handsontable/dist/handsontable.full.min.js' %}?v={{ front_version }}"></script>
        <script src="{% static 'assets/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.min.js' %}?v={{ front_version }}"></script>
        <script src="{% static 'assets/ng-click-copy/ng-click-copy.js' %}?v={{ front_version }}"></script>
        <script>
            var csrfToken = '{{ csrf_token }}';
        </script>
        {% if debug == 'false' %}
		    <script src="{% static 'dist/app.min.js' %}?v={{ front_version }}"></script>
        {% else %}
		    {% include "main/partial/include-js.html" %}
        {%  endif %}

        {% block script %}
        {% endblock %}
        {% endwith %}

		<!--inline scripts related to this page-->
    </body>
</html>
