{% extends "main/base.html" %}
{% load i18n %}

{% block content %}
{% trans 'Dashboard' as sidebar_dashboard %}
{% trans 'Projects' as sidebar_projects %}
{% trans 'My projects' as sidebar_my_projects %}
{% trans 'Third party' as sidebar_third_party %}
{% trans 'Community' as sidebar_community %}
{% trans 'Public projects' as sidebar_public_projects %}
{% trans 'People' as sidebar_people %}
{% trans 'TM Databases' as sidebar_tmdb %}
{% trans 'Support' as sidebar_support %}
{% trans 'Blog' as sidebar_blog %}
{% trans 'Settings' as sidebar_settings %}
{% trans 'Home' as home_link %}
{% trans 'Search' as search_placeholder %}
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>

        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>

            <div class="main-content" style="margin-left: 0">
                <div class="page-content">
                    <!-- PAGE CONTENT BEGINS -->
                    {% block innercontent %}
                    {% endblock %}
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.page-content -->
            </div><!-- /.main-content -->
        </div><!-- /.main-container-inner -->
    </div>

    {% include "tolmach/partial/all_messages_modal.html" %}
{% endblock %}