{% extends "main/base.html" %}
{% load i18n %}

{% block content %}
{% trans 'Dashboard' as sidebar_dashboard %}
{% trans 'Projects' as sidebar_projects %}
{% trans 'My projects' as sidebar_my_projects %}
{% trans 'Third party' as sidebar_third_party %}
{% trans 'Community' as sidebar_community %}
{% trans 'Public projects' as sidebar_public_projects %}
{% trans 'People' as sidebar_people %}
{% trans 'TM Databases' as sidebar_tmdb %}
{% trans 'Support' as sidebar_support %}
{% trans 'Blog' as sidebar_blog %}
{% trans 'Settings' as sidebar_settings %}
{% trans 'Home' as home_link %}
{% trans 'Search' as search_placeholder %}
    <div class="main-container" id="main-container">
        <script type="text/javascript">
            try{ace.settings.check('main-container' , 'fixed')}catch(e){}
        </script>

        <div class="main-container-inner">
            <a class="menu-toggler" id="menu-toggler" href="#">
                <span class="menu-text"></span>
            </a>

            <div class="sidebar" id="sidebar"
                 ng-class="{'menu-min': sidebarCollapsed}">
                <script type="text/javascript">
                    try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
                </script>

                <div class="sidebar-shortcuts" id="sidebar-shortcuts">
                    <form action="/i18n/setlang/" method="POST">
                        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
	                        {% csrf_token %}
                            <button type="submit" class="btn btn-success" name="language" value="en">
                                ENG
                            </button>

                            <button type="submit" class="btn btn-info" name="language" value="ru">
                                RUS
                            </button>

                            <button type="submit" class="btn btn-warning" name="language" value="it">
                                ITA
                            </button>

                            <button type="submit" class="btn btn-danger" name="language" value="zh">
                                ZHO
                            </button>
                        </div>
                    </form>

                    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                        <span class="btn btn-success"></span>

                        <span class="btn btn-info"></span>

                        <span class="btn btn-warning"></span>

                        <span class="btn btn-danger"></span>
                    </div>
                </div><!-- #sidebar-shortcuts -->

                <ul class="nav nav-list">
                    <li>
                        <a href="/">
                            <i class="fa fa-dashboard"></i>
                            <span class="menu-text"> {{ sidebar_dashboard }} </span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span class="menu-text"> {{ sidebar_projects }} </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="/projects/my/">
                                    <i class="fa fa-double-angle-right"></i>
                                    {{ sidebar_my_projects }}
                                </a>
                            </li>

                            <li>
                                <a href="/projects/thirdparty/">
                                    <i class="fa fa-double-angle-right"></i>
                                    {{ sidebar_third_party }}
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-street-view"></i>
                            <span class="menu-text"> {{ sidebar_community }} </span>

                            <b class="arrow fa fa-angle-down"></b>
                        </a>

                        <ul class="submenu">
                            <li>
                                <a href="/projects/public/">
                                    <i class="fa fa-double-angle-right"></i>
                                    {{ sidebar_public_projects }}
                                </a>
                            </li>

                            <!--<li>-->
                                <!--<a href="/people/">-->
                                    <!--<i class="fa fa-double-angle-right"></i>-->
                                    <!--{{ sidebar_people }}-->
                                <!--</a>-->
                            <!--</li>-->

                            <!--<li>-->
                                <!--<a href="/translation-memory/">-->
                                    <!--<i class="fa fa-double-angle-right"></i>-->
                                    <!--{{ sidebar_tmdb }}-->
                                <!--</a>-->
                            <!--</li>-->
                        </ul>
                    </li>

                    <!--<li>-->
                        <!--<a href="/support/">-->
                            <!--<i class="fa fa-info"></i>-->
                            <!--<span class="menu-text"> {{ sidebar_support }} </span>-->
                        <!--</a>-->
                    <!--</li>-->

                    <li>
                        <a href="http://vk.com/tolma_ch">
                            <i class="fa fa-newspaper-o"></i>
                            <span class="menu-text"> {{ sidebar_blog }} </span>
                        </a>
                    </li>

                    <!--<li>-->
                        <!--<a href="/settings/">-->
                            <!--<i class="fa fa-gears"></i>-->
                            <!--<span class="menu-text"> {{ sidebar_settings }} </span>-->
                        <!--</a>-->
                    <!--</li>-->
                </ul><!-- /.nav-list -->

                <div class="sidebar-collapse" ng-click="toggleSidebar()">
                    <i class="fa"
                       ng-class="{
                           'fa-angle-double-right': sidebarCollapsed,
                           'fa-angle-double-left': !sidebarCollapsed
                       }"></i>
                </div>

                <script type="text/javascript">
                    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
                </script>
            </div>

            <div class="main-content">
                <div class="page-content">
                    <!-- PAGE CONTENT BEGINS -->
                    {% block innercontent %}
                    {% endblock %}
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.page-content -->
            </div><!-- /.main-content -->
        </div><!-- /.main-container-inner -->
    </div>

    {% include "tolmach/partial/all_messages_modal.html" %}
{% endblock %}