{% load i18n %}
<ul class="navbar-nav pull-right">

	<li class="navbar-nav__button button_dark-green">
		<a data-toggle="dropdown" class="dropdown-toggle" href="#">
			<i class="fa fa-bell-o" ng-class="{'fa-animated-bell': messages.length}"></i>
			<span class="badge badge-success" ng-show="messages.length">{= messages.length =}</span>
		</a>

        <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-close">
            <li class="dropdown-header">
                <i class="fa-envelope-alt"></i>
                {= messages.length =} new messages
            </li>
            <li ng-repeat="message in messages">
                <a href="/project/{= message.project_id =}/">
                    <img class="navbar-nav__user-photo" src="/media/{= message.sender_ava =}" class="msg-photo" alt="avatar" />
                    <span class="msg-body">
                        <span class="msg-title">
                            <span class="blue">{= message.originator =}:</span>
                            пригласил вас в проект {= message.project_name =}
                        </span>

                        <span class="msg-time">
                            <i class="fa-time"></i>
                            <span>{= message.time_created|date:"d M Y" =}</span>
                        </span>
                    </span>
                </a>
            </li>

            <li>
                <a href="inbox.html">
                    See all messages
                    <i class="fa-arrow-right"></i>
                </a>
            </li>
        </ul>
	</li>

	<li class="navbar-nav__button button_light-blue navbar-nav__user">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">
            {% if user_avatar %}
			<img class="navbar-nav__user-photo" src="/media/{{ user_avatar }}" alt="Avatar">
            {% else %}
            <img class="navbar-nav__user-photo" src="/media/avatar/default.png" alt="Avatar">
            {% endif %}
			<span class="navbar-nav__user-info">
				<small>{% trans "Hi," %}</small>
				<span>{{ username }}</span>
			</span>

			<i class="fa fa-caret-down"></i>
		</a>
        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li>
                <a href="#">
                    <i class="fa-cog"></i>
                    Settings
                </a>
            </li>

            <li>
                <a href="/">
                    <i class="fa-user"></i>
                    Profile
                </a>
            </li>

            <li class="divider"></li>

            <li>
                <a href="/logout">
                    <i class="fa-off"></i>
                    Logout
                </a>
            </li>
        </ul>
	</li>
</ul>
