{% load i18n %}
<script type="text/javascript">
function invite(data){
    if(data!=Dajaxice.EXCEPTION){
        alert(data.message);
    }else{
        alert('Error');
    }
}
</script>
<ul class="navbar-nav pull-right">
	<!--<li class="navbar-nav__button button_gray">-->
		<!--<a data-toggle="dropdown" class="dropdown-toggle" href="#">-->
			<!--<i class="fa fa-tasks"></i>-->
			<!--<span class="badge badge-grey">4</span>-->
		<!--</a>-->
	<!--</li>-->

	<!--<li class="navbar-nav__button button_purple">-->
		<!--<a data-toggle="dropdown" class="dropdown-toggle" href="#">-->
            <!--{% if invites_num > 0 %}-->
			<!--<i class="fa fa-bell-o fa-animated-bell"></i>-->
			<!--<span class="badge badge-important">{{ invites_num }}</span>-->
            <!--{% else %}-->
            <!--<i class="fa fa-bell-o"></i>-->
            <!--{% endif %}-->
		<!--</a>-->
	<!--</li>-->

	<li class="navbar-nav__button button_dark-green">
		<a data-toggle="dropdown" class="dropdown-toggle" href="#">
			<i class="fa fa-bell-o fa-animated-bell"></i>
            {% if invites_num > 0 %}
			<span class="badge badge-success">{{ invites_num }}</span>
            {% endif %}
		</a>
	</li>

	<li class="navbar-nav__button button_light-blue navbar-nav__user">
		<a data-toggle="dropdown" href="#" class="dropdown-toggle">
            {% if user_avatar %}
			<img class="navbar-nav__user-photo" src="/media/{{ user_avatar }}" alt="Avatar">
            {% else %}
            <img class="navbar-nav__user-photo" src="/media/avatar/default.png" alt="Avatar">
            {% endif %}
			<span class="navbar-nav__user-info">
				<small>{% trans "Hi," %}</small>
				<span>{{ username }}</span>
			</span>

			<i class="fa fa-caret-down"></i>
		</a>
        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li>
                <a href="#">
                    <i class="icon-cog"></i>
                    Settings
                </a>
            </li>

            <li>
                <a href="/">
                    <i class="icon-user"></i>
                    Profile
                </a>
            </li>

            <li class="divider"></li>

            <li>
                <a href="/logout">
                    <i class="icon-off"></i>
                    Logout
                </a>
            </li>
        </ul>
	</li>
</ul>
