{% load i18n %}

<div class="user-sidebar">
	<div class="user-sidebar__photo">
		<img class="user-sidebar__img" src="/components/sidebar/images/default.png">
	</div>

	<div class="user-sidebar__info">
		<div class="user-sidebar__nickname">mega.venik</div>
		<div class="user-sidebar__username">Dmitriy Chumak</div>
		<div class="user-sidebar__location">
			<i class="icon-map-marker"></i>
			Irkutsk, Russia
		</div>
	</div>

	<div class="user-sidebar__socials">
		<a href="#" target="__blank" class="user-sidebar__social-icon user-sidebar__social-icon_vk"></a>
		<a href="#" target="__blank" class="user-sidebar__social-icon user-sidebar__social-icon_gp"></a>
		<a href="#" target="__blank" class="user-sidebar__social-icon user-sidebar__social-icon_tw"></a>
		<a href="#" target="__blank" class="user-sidebar__social-icon user-sidebar__social-icon_fb"></a>
	</div>

	<div class="user-sidebar__profile">
		<div class="user-sidebar__profile-line">
			<span class="user-sidebar__profile-line-title">website:</span>
			<a class="user-sidebar__profile-line-data" href="" target="__blank">xxxx.com</a>
		</div>


		<a class="user-sidebar__profile-line user-sidebar__profile-edit" href="">
			<i class="icon-gear">Edit profile</i>
		</a>
	</div>
</div>