{% load i18n %}

{% trans 'Мы ВКонтакте' as vk_title %}
{% trans 'Tolma.ch на Google+' as gp_title %}
{% trans 'Наш Twitter' as tw_title %}
{% trans 'Tolma.ch в Facebook' as fb_title %}

{% if user.is_authenticated %}
	<footer class="footer footer-white auth" id="footer">
		<div class="footer-container" id="footer-container">
			<div class="footer-data pull-left">
				<ul class="footer-data__list">
					<li class="footer-data__item">
						<a href="#" class="footer-data__link">Languages</a>
					</li>
					<li class="footer-data__item">
						<a href="#" class="footer-data__link">Projects</a>
					</li>
					<li class="footer-data__item">
						<a href="#" class="footer-data__link">Popular?</a>
					</li>
					<li class="footer-data__item">
						<a href="#" class="footer-data__link">New</a>
					</li>
				</ul>
				<ul class="footer-data__list">
					<li class="footer-data__item">
						<a href="#" class="footer-data__link">Languages</a>
					</li>
					<li class="footer-data__item">
						<a href="#" class="footer-data__link">Projects</a>
					</li>
					<li class="footer-data__item">
						<a href="#" class="footer-data__link">Popular?</a>
					</li>
					<li class="footer-data__item">
						<a href="#" class="footer-data__link">New</a>
					</li>
				</ul>
				<ul class="footer-data__list">
					<li class="footer-data__item">
						<a href="#" class="footer-data__link">Languages</a>
					</li>
					<li class="footer-data__item">
						<a href="#" class="footer-data__link">Projects</a>
					</li>
					<li class="footer-data__item">
						<a href="#" class="footer-data__link">Popular?</a>
					</li>
					<li class="footer-data__item">
						<a href="#" class="footer-data__link">New</a>
					</li>
				</ul>
			</div>
			<div class="footer-logo-full pull-right">
				<a href="/">
                    <img src="/static/images/main/tolmach_logo_full.png">
                </a><!-- /.brand -->
                <ul class="footer-social footer-social_small">
					<li class="footer-social__item">
						<a href="#" target="_blank" title="{{ vk_title }}" class="footer-social__icon footer-social__icon_small footer-social__item_vk"></a>
					</li><!--
			     --><li class="footer-social__item">
						<a href="#" target="_blank" title="{{ gp_title }}" class="footer-social__icon footer-social__icon_small footer-social__item_gp"></a>
					</li><!--
				 --><li class="footer-social__item">
						<a href="#" target="_blank" title="{{ tw_title }}" class="footer-social__icon footer-social__icon_small footer-social__item_tw"></a>
					</li><!--
				 --><li class="footer-social__item">
						<a href="#" target="_blank" title="{{ fb_title }}" class="footer-social__icon footer-social__icon_small footer-social__item_fb"></a>
					</li>
				</ul>
            </div>
        </div>
	</footer>
{% else %}
	<footer class="footer footer-default" id="footer">
		<div class="footer-container" id="footer-container">
			<div class="footer-logo pull-left">
                <a href="/">
                    <!--<img src="/static/tolma.ch.ru_small_white.png" style="margin-top:3px">-->
                    <img src="/static/img/tolmach_1-02_mini.png">
                </a><!-- /.brand -->
			</div><!-- /.navbar-header -->

			<ul class="footer-social pull-right">
				<li class="footer-social__item">
					<a href="#" target="_blank" title="{{ vk_title }}" class="footer-social__icon footer-social__item_vk"></a>
				</li><!--
		     --><li class="footer-social__item">
					<a href="#" target="_blank" title="{{ gp_title }}" class="footer-social__icon footer-social__item_gp"></a>
				</li><!--
			 --><li class="footer-social__item">
					<a href="#" target="_blank" title="{{ tw_title }}" class="footer-social__icon footer-social__item_tw"></a>
				</li><!--
			 --><li class="footer-social__item">
					<a href="#" target="_blank" title="{{ fb_title }}" class="footer-social__icon footer-social__item_fb"></a>
				</li>
			</ul>

		</div><!-- /.container -->
	</footer>	
{% endif %}
