@headerColor: #2b7cb5;
@annotation: #989898;
@entryColor: #77cb49;
@yellowMain: #FEE188;

.box-shadow(@box-shadow-args) {
  -webkit-box-shadow: @box-shadow-args;
  -moz-box-shadow: @box-shadow-args;
  box-shadow: @box-shadow-args;
}

.border-radius(@border-radius-args) {
  -webkit-border-radius: @border-radius-args;
  -moz-border-radius: @border-radius-args;
  border-radius: @border-radius-args;
}