.blog-footer {
	font-size: 16px;
}
.post-header {
	color: #2b7cb5;
	font-size: 32px;
	font-family: @fontFamily;
	line-height: 1.15;
	font-weight: 500;
	background-position: center center;
	border-color: transparent;
	border-style: solid;
	@media (prefers-color-scheme: dark) {
		color: @yellow-main;
	}
}

.text-left {
	color: #000000;
	font-size: 16px;
	font-family: @fontFamily;
	line-height: 1.5;
	font-weight: 300;
	letter-spacing: 0.5px;
	background-position: center center;
	border-color: transparent;
	border-style: solid;
	@media (prefers-color-scheme: dark) {
		color: #BEBFBE;
	}
}
.post-date {
	color: #868686;
	font-size: 16px;
	font-family: @fontFamily;
	line-height: 1.55;
	font-weight: 300;
	background-position: center center;
	border-color: transparent;
	border-style: solid;
	margin-top: -10px;
	margin-left: 5px;
}
