.flag {
  display: inline-block;
  position: relative;
  top: 3px;
  min-width: 29px;
  height: 29px;
  background: white;
  border: 1px solid #e5e5e5;
  border-radius: 29px;
  padding: 1px;
  color: #9c9b9b;
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;

  @media (prefers-color-scheme: dark) {
    background: #525252;
  }

  &:before {
    background-repeat: no-repeat;
    display: block;
    float:left;
    content: " ";
    width: 25px;
    height: 25px;
    border-radius: 25px;
  }

  &__text {
    padding: 0 10px;
    font-size: 13px;
    line-height: 24px;
  }

  &.flag-zh-CN {
    &:before {
        background-image: url("/static/img/flags/zh-CN.svg");
      }
  }

  &.flag-zh-HK {
    &:before {
        background-image: url("/static/img/flags/zh-HK.svg");
      }
  }

  &.flag-zh-MO {
    &:before {
        background-image: url("/static/img/flags/zh-MO.svg");
      }
  }

  &.flag-zh-SG {
    &:before {
        background-image: url("/static/img/flags/zh-SG.svg");
      }
  }

  &.flag-zh-TW {
    &:before {
        background-image: url("/static/img/flags/zh-TW.svg");
      }
  }

  &.flag-fr-BE,
  &.flag-fr-CA,
  &.flag-fr-CH,
  &.flag-fr-FR {
    &:before {
        background-image: url("/static/img/flags/france.svg");
      }
  }

  &.flag-de-AT,
  &.flag-de-CH,
  &.flag-de-DE {
    &:before {
        background-image: url("/static/img/flags/germany.svg");
      }
  }

  &.flag-ja-JP {
    &:before {
        background-image: url("/static/img/flags/ja-JP.svg");
      }
  }

  &.flag-it-CH,
  &.flag-it-IT {
    &:before {
        background-image: url("/static/img/flags/italy.svg");
      }
  }

  &.flag-ru-RU {
    &:before {
        background-image: url("/static/img/flags/ru-RU.svg");
      }
  }

  &.flag-ko-KR {
    &:before {
        background-image: url("/static/img/flags/ko-KR.svg");
      }
  }

  &.flag-es-CL {
    &:before {
      background-image: url("/static/img/flags/es-CL.svg");
    }
  }

  &.flag-es-ES {
    &:before {
        background-image: url("/static/img/flags/es-ES.svg");
      }
  }

  &.flag-es-MX {
    &:before {
      background-image: url("/static/img/flags/es-MX.svg");
    }
  }

  &.flag-en-GB {
    &:before {
        background-image: url("/static/img/flags/en-GB.svg");
      }
  }

  &.flag-en-US {
    &:before {
      background-image: url("/static/img/flags/en-US.svg");
    }
  }
}