.user-statistics {
  padding-top: 20px;

  &__recent-progress {
    text-align: center;

    &-title {
      .stripy-heading__text {
        padding: 10px 20px;
      }
    }
    &-table {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 20px;
    }
  }
  &-table {
    width: 100%;

    &__row {
      &:nth-child(2n) {
        background: #f5f5f5;
      }
      i {
        color: #B5B5B5;
      }
    }
    &__title {
      padding: 0 10px;
      max-width: 197px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
    }

    &__project-manager {
      color: #B5B5B5;
    }


    &__progress {
      padding: 8px 0;
      width: 350px;

      .progress-bar {
        height: 18px;
        background: #d9d9d9;

        &__value {
          color: #fff;
          line-height: 18px;
        }
      }
    }

    &__languages {
      padding: 5px 10px 0;
      text-align: right;
    }
  }
  &__new-block-total {
    display: block;
    float: left;
    width: 90px;
    text-align: center;
    margin-right: 30px;
  }
  &__new-block {
    display: block;
    vertical-align: middle;
    float: left;
    width: 90px;
    text-align: center;
    margin-top: 15px;
  }
  &__new-total-number {
    font-size: 50px;
    font-weight: 600;
    color: #b5b5b5;
    line-height: 1.1;
  }
  &__new-total-sentences {
    color: #b5b5b5;
  }
  &__new-number {
    font-size: 45px;
    font-weight: 500;
    line-height: 0.9;
    color: #02C14F;
  }
  &__new-sentences {
    color: #b5b5b5;
    i {
      font-size: 8px;
    }
  }
  &__translations {
    margin-left: 30px;
    margin-bottom: 80px;
  }
}

@media (max-width: 1013px) {
  .user-statistics {
    &__translations {
      margin-bottom: 130px;
    }
  }
}

@media (max-width: 768px) {
  .user-statistics {
    &__translations {
      margin-bottom: 200px;
    }
  }
}

@media (max-width: 500px) {
  .user-statistics {
    &__translations {
      margin-bottom: 270px;
    }
  }
}

@media (max-width: 1242px) {
  .user-statistics {
    &-table {
      &__progress {
        padding: 0;
        width: auto;

        .progress-bar {
          width: 100%;
          height: auto;
          background: transparent;

          &__gauge {
            visibility: hidden;
            -webkit-transition: width .5s;
            transition: width .5s;
          }
          &__value {
            position: relative;
            line-height: 22px;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
            width: 100%;
            color: #02C14F;
          }
        }
      }
      &__languages {
        padding: 5px 10px 0;
        text-align: right;
      }
    }
  }
}

.project-type-selector {
  margin: 0;
  li {
    display: inline;
    a {
      background-color: white;
      border: none !important;
      position: relative;
      float: left;
      padding: 6px 12px;
      line-height: 1.42857143;
      text-decoration: none;
      &:hover {
        color: #337AB7;
        background-color: #F5F5F5;
      }
    }
    &.active {
      a {
        color: white;
        background-color: #438EB9;
      }
    }
  }
}

.user-avatar {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #999;
  width: 42px;
  height: 42px;
  img {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
  }
}

