.user-statistics {
  padding-top: 20px;

  &__recent-progress {
    text-align: center;

    &-title {
      .stripy-heading__text {
        padding: 10px 20px;
      }
    }
    &-table {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 20px;
    }
  }
  &-table {
    width: 100%;

    &__row {
      &:nth-child(2n) {
        background: #f5f5f5;
        @media (prefers-color-scheme: dark) {
          background: #3b3f42;
        }
      }
      i {
        color: #B5B5B5;
      }
    }
    &__title {
      padding: 8px 10px;
      max-width: 197px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
    }

    &__project-manager {
      color: #B5B5B5;
    }

    &__remove-btn {
      width: 30px
    }


    &__progress {
      padding: 8px 0;
      width: 300px;

      .progress-bar {
        height: 18px;
        background: #d9d9d9;

        @media (prefers-color-scheme: dark) {
          background: #4c5154;
        }

        &__value {
          color: #fff;
          line-height: 18px;
        }
      }
    }

    &__languages {
      padding: 5px 10px 0;
      text-align: right;
    }

    &__preloader {
      margin: 130px 0 130px;
    }
  }
  &__new-block-total {
    display: block;
    float: left;
    width: 90px;
    text-align: center;
    margin-right: 30px;
  }
  &__new-block {
    display: block;
    vertical-align: middle;
    float: left;
    width: 90px;
    text-align: center;
    margin-top: 15px;
  }
  &__new-total-number {
    font-size: 50px;
    font-weight: 600;
    color: #b5b5b5;
    line-height: 1.1;
  }
  &__new-total-sentences {
    color: #b5b5b5;
  }
  &__new-number {
    font-size: 45px;
    font-weight: 500;
    line-height: 0.9;
    color: #02C14F;
  }
  &__new-sentences {
    color: #b5b5b5;
    i {
      font-size: 8px;
    }
  }
  &__translations {
    margin-left: 30px;
    margin-bottom: 80px;
  }
}

.section-tabs {
  padding-top: 15px;

  .nav-tabs {
    overflow: hidden;
  }

  .tab-content {
    border: none;
  }
  .nav-tabs li a:hover,
  .nav-tabs li.active a:hover,
  .nav-tabs li.active a:focus,
  .nav-tabs li.active a,
  .nav-tabs li a {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    background: none;
    box-shadow: none;
    text-transform: uppercase;
  }
  .nav-tabs li.active {
    border-bottom: 5px solid #02C14F;
  }
}

.projects-background {
  &__tabs {
    margin-top: 30px;
  }

  &__icon {
    color: #F2F2F2;
    font-size: 64px;
    display: block;
    margin-left: 90px;
    margin-bottom: 15px;

    &__front {
      position: relative;
      top: 15px;
      right: 75%;
      background: #ffffff;
    }
  }

  &__text {
    font-size: 13px;
    line-height: 1;
    color: #bbbbbb;
  }
}

.new-proj-block-btn {
  margin-top: 15px !important;
}

.progress-bar-mobile {
  height: 3px !important;
  display: none;

  .progress-bar__value {
    display: none;
  }
}

@media (max-width: 1242px) {
  .user-statistics-table {
    &__progress {
      padding: 8px 0;
      width: 250px;

      .progress-bar {
        height: 18px;
        background: #d9d9d9;

        &__value {
          color: #fff;
          line-height: 18px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
    .user-statistics-table {
    &__progress {
      padding: 8px 0;
      width: 200px;
    }
  }
}

@media (max-width: 660px) {
    .user-statistics-table {
    &__progress {
      padding: 8px 0;
      width: 150px;
    }
  }
}

@media (max-width: 560px) {
  .user-statistics {
    &-table {
      &__progress {
        padding: 0;
        width: auto;

        .progress-bar {
          width: 100%;
          height: auto;
          background: transparent;
          display: none;

          &__gauge {
            visibility: hidden;
            -webkit-transition: width .5s;
            transition: width .5s;
          }
          &__value {
            position: relative;
            line-height: 22px;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
            width: 100%;
            color: #02C14F;
          }
        }
      }
      &__languages {
        padding: 5px 10px 0;
        text-align: right;
      }
    }
  }
  .organization-header {
    margin: 0 !important;
    &__img {
      max-height: 50px !important;
      max-width: 50px !important;
    }
  }
  .progress-bar-mobile {
    display: block !important;
  }
}

@media (min-width: 756px) and (max-width: 1014px) {
  #stats-block-6 {
    display: none;
  }
}
@media (min-width: 756px) and (max-width: 923px) {
  #stats-block-5 {
    display: none;
  }
}
@media (min-width: 756px) and (max-width: 834px) {
  #stats-block-4 {
    display: none;
  }
}
@media (max-width: 737px) {
  #stats-block-6 {
    display: none;
  }
}
@media (max-width: 647px) {
  #stats-block-5 {
    display: none;
  }
}
@media (max-width: 557px) {
  #stats-block-4 {
    display: none;
  }
}
@media (max-width: 467px) {
  #stats-block-3 {
    display: none;
  }
}
@media (max-width: 400px) {
  #stats-block-2 {
    display: none;
  }
}

.project-type-selector {
  margin: 0;
  li {
    display: inline;
    a {
      background-color: white;
      border: none !important;
      position: relative;
      float: left;
      padding: 6px 12px;
      line-height: 1.42857143;
      text-decoration: none;
      &:hover {
        color: #337AB7;
        background-color: #F5F5F5;
      }
    }
    &.active {
      a {
        color: white;
        background-color: #438EB9;
      }
    }
  }
}

.projects-paginator {
  li.active a {
    background-color: #438EB9 !important;
    &:hover {
      background-color: #438EB9 !important;
    }
  }
  li.disabled a {
    color: #707070 !important;
    background-color: #F9F9F9 !important;
  }
  li a {
    background: none !important;
    border: none !important;
    &:hover {
      background: #F5F5F5 !important;
      border: none !important;
    }
  }
}

.user-avatar {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #999;
  width: 42px;
  height: 42px;
  img {
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
  }
}

.organization-header {
  margin:0 0 12px;
  padding-bottom: 0;
  padding-top: 7px;

  &__title {
    display: inline-block;

    h1 {
      padding: 0;
      margin: 10px 8px;
      font-size: 24px;
      font-weight: lighter;
      color: #2679B5;
      font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    }
  }

  &__photo {
    display: inline-block;
  }
  &__img {
    max-height: 100px;
    max-width: 100px;
  }
}

.organizations {
  padding-top: 20px;

  &__recent-progress {
    text-align: center;

    &-title {
      .stripy-heading__text {
        padding: 10px 20px;
      }
    }
    &-table {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 20px;
    }
  }
  &-table {
    width: 100%;

    &__row {
      &:nth-child(2n) {
        background: #f5f5f5;
      }
      i {
        color: #B5B5B5;
      }
    }
    &__title {
      padding: 0 10px;
      max-width: 197px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      text-align: left;
    }

    &__project-manager {
      color: #B5B5B5;
    }

    &__members {
      padding: 8px 0;
      width: 100px;
      font-size: 13px;
    }
    &__member-status {
      width: 100px;
    }

    &__languages {
      padding: 5px 10px 0;
      text-align: right;
    }
  }
}