.workbench-layout {
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  &__row {
    height: 100%;
    box-shadow: 0px 0px 35px 0px rgba(167, 167, 167, 0.75);
  }
  &__col {
    height: 100%;
    background-color: #f5f5f5;
    & > .text-pieces {
      margin: 0 -15px;
    }
    & > .text-overview {
      margin: 0 -15px;
    }
  }
}

.text-overview {
  background: @grayBg;
  padding: 10px 15px 0;
  height: 100%;
  font-weight: 300;

  &__table {
    display: table;
    height: 100%;
    width: 100%;
  }
  &__row {
    display: table-row;
    height: 100%;
    &_thin {
      height: 1px;
    }
  }
  &__cell {
    display: table-cell;
    height: 0;
  }

  &__switcher {
    padding-bottom: 10px;
  }
  &__paginator {
    float: right;
    a {
      color: #777676;
      font-size: 1.5em;
      padding: 0 5px;
      position: relative;
      display: inline-block;
      height: 29px;
      line-height: 30px;
      vertical-align: middle;
      &:hover {
        background-color: #E4E4E4;
      }
      &:active {
        background-color: #E4E4E4;
        box-shadow: inset 0 0 3px 0px rgba(0,0,0,0.5);
      }
    }
    input {
      width: 30px;
    }
    &-text {
      cursor: pointer;
      padding: 6px 5px 9px 5px;
      &:hover {
        background: #E4E4E4;
      }
    }
    &__mobile {
      display: none;
      @media (max-width: 767px) {
        float: none !important;
        display: block;
        position: relative;
        text-align: center;
        font-size: 20px;
        margin-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #d2d2d2;
      }
    }
  }

  &__content {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 12px 10px;
    text-align: justify;
    font-size: 15px;
    background: white;
    border: 1px solid @grayBorder;
    .active {
      background: #ffefaa;
      padding: 3px 0;
      margin: -3px 0;
    }
    .approved {
      background: #C5FFCC;
      padding: 3px 0;
      margin: -3px 0;
      padding-right: 3px;
      margin-right: -3px;
    }
    tag-left, tag-right {
      display: none;
    }
  }
}

.text-pieces {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  font-weight: 300;
  & > .text-piece {
    border-bottom: 1px solid rgba(128, 128, 128, 0.3);
    &:last-child {
      border-bottom: none;
    }
  }
}

.text-piece {
  position: relative;
  background: white;
  font-size: 16px;
  padding: 10px;
  transition: background-color 0.3s;

  &__original {
    position: relative;
  }
  &__editor {

  }
  &__variants {

  }
  &__icons {
    width: 25px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    a {
      cursor: pointer;
      font-size: 1.5em;
      color: #9c9b9b;
      margin: -5px 0;
      display: inline-block;
      &:hover {
        color: #02c14f;
      }
      &.active {
        color: #02c14f;
      }
    }
  }
  &__body {
    margin-right: 25px;
    display: block;
    &:before {
        content: ".";
        font-size: 0px;
        visibility: hidden;
    }
  }
  &__now-editing {
    display: inline-block;
    visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    .fa-pencil {
      position :relative;
      margin-left: -5px;
      bottom: 2px;
    }
  }
  &_someone-editing {
    .text-piece__now-editing {
      visibility: visible;
    }
  }
  &_closed {
    background: @grayBg;
    cursor: pointer;
  }
  &_closed&_translated {
    background: #F0FFC0;
  }
  &_closed&_approved {
    background: #C5FFCC;
    .translation-variant {
      display: none;
      &_approved {
        display: block;
      }
    }
  }
  &_closed &__variants {
    display: none;
  }
  &_closed &__editor {
    display: none;
  }
  &_approved &__original {
    //display: none;
  }
  &_approved &__variants {
    display: block;
  }
}

.disabled-div{
  opacity: 0.5;
  pointer-events: none;

  > * {
    opacity: 0.5;
    pointer-events: none;
  }
}

.translation-variant {
  position: relative;
  min-height: 60px;
  &__text {
    margin-right: 30px;
  }
  &__author {

  }
  &__icons {
    width: 25px;
    position: absolute;
    top: 5px;
    right: 0;
    text-align: right;
    a {
      cursor: pointer;
      font-size: 1.5em;
      color: #9c9b9b;
      margin: -5px 0;
      display: inline-block;
      &:hover {
        color: #02c14f;
      }
      &.active {
        color: #02c14f;
      }
    }
  }
  &__vote {
    text-align: right;
    font-size: 12px;
    color: #9c9b9b;
  }
  &_approved {

  }
}

.translation-editor {
  position: relative;
  &__btns {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    text-align: right;
    font-size: 18px;
    margin-top: -6px;
    a {
      cursor: pointer;
      color: #777676;
      display: block;
      &:hover {
        color: #02c14f;
      }
      &.active {
        color: #02c14f;
      }
    }
  }
  &__save-btn:hover &__options {
    width: 130px;
  }
  &__options {
    display: block;
    position: absolute;
    top: 0px;
    right: 20px;
    width: 0;
    overflow: hidden;
    transition: 0.2s width;
    transition-delay: .5s;
    text-align: left;
  }
  &__options-content {
    background: @grayBg;
    border: 1px solid @grayBorder;
    padding: 10px 15px;
    width: 130px;
    font-size: 14px;
  }
  &__input-wrapper {

  }
  &__input {
    width: 100%;
    height: 27px;
    min-height: 27px;
    padding: 3px 8px;
    margin: 10px 0;
    font-size: 13px;
    border: 1px solid #cacaca;
    .transition(all .3s);

    &:before {
      content: attr(placeholder);
      display: block;
      opacity: .7;
    }
  }
  &__machine-suggestions {
    display: none;
  }
  &_active &__btns {
    display: block;
  }
  &_active &__input-wrapper {
    padding-right: 24px;
  }
  &_active &__input {
    height: 130px;
    min-height: 80px;
    padding: 10px 15px;
    &:before {
      display: none;
    }
  }
  &_active &__machine-suggestions {
    display: block;
  }
}

.machine-suggestions {
  box-shadow: inset rgba(0, 0, 0, 0.3) 0 0 5px;
  padding: 2px 10px 2px 10px;
  margin-bottom: 15px;
  background: rgba(0, 0, 0, 0.03);
  &__title {
    font-size: 14px;
    font-weight: 400;
    color: #6f6f6e;
  }
  &__list{
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 13px;
    color: #6F6F6F;
  }
  &__item {
    position: relative;
    min-height: 30px;
    margin-bottom: 3px;
    padding-right: 40px;
    cursor: pointer;
  }
}
.machine-suggestion {
  &__text {
    //display: inline-block;
    vertical-align: middle;
  }
  &__from {
    float: right;
    background: #ECECEC;
    padding: 3px 5px;
    margin: 3px 0 0 10px;
    font-size: 11px;
  }
  &__relevance {
    display:  block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-weight: 600;
    font-size: 11px;
    vertical-align:  middle;
    color: #fff;
    //margin-top: -15px;
    position: absolute;
    right: 0;
    top: 0;

    &_high {
      background: #02c14f;
    }
    &_medium {
      background: #80cc44;
    }
    &_low {
      background: #ffe41b;
    }
  }
  &__logo {
    display: block;
    width: 42px;
    height: 17px;
    text-align: right;
    margin-top: -9px;
    position: absolute;
    right: 0;
    top: 50%;
  }
}


.glossary-word {
  background: #e1ffa2;
  cursor: pointer;
}

[contenteditable] {
  background: white;
  overflow: auto;
}

.tag-left, .tag-right, hr[i] {
  position: relative;
  top: -.1em;
  display: none;
  background: #C9EA6F;
  font-size: .7em;
  color: #055A15;
  text-shadow: 1px 1px 0 #fff;
  height: auto;
  margin: 0;
  text-decoration: none;
  &:before {
    content: attr(i);
  }
}
.tag-left, hr[l] {
  border-radius: 10px 0 0 10px;
  padding: 0 1px 0 3px;
}
.tag-right, hr[r] {
  border-radius: 0 10px 10px 0;
  padding: 0 3px 0 1px;
}
.text-piece_editing {
  .tag-left, .tag-right, hr[i] {
    display: inline-block;
  }
}

.header-progress {
  position: absolute !important;
  display: block;
  z-index: 300;
  top: 0;
  left: 0;
  height: 3px !important;
  width: 100%;
  -webkit-transition: height 0.1s ease-in-out;
  -moz-transition: height 0.1s ease-in-out;
  -o-transition: height 0.1s ease-in-out;
  transition: height 0.1s ease-in-out;

  &:hover {
    height: 7px !important;
    box-shadow: 0 2px 5px rgba(0,0,0,0.5);
    cursor: pointer;
    -webkit-transition: height 0.1s ease-in-out;
    -moz-transition: height 0.1s ease-in-out;
    -o-transition: height 0.1s ease-in-out;
    transition: height 0.1s ease-in-out;
  }

  &-full {
    width: 60%;
    height: 100%;
    float: left;
    border-right: 1px solid #a2a2a2;
  }
}