{% extends "main/base.html" %}

{% block content %}
<div class="area-content">
    <div class="container">
    	<div class="stripy-heading">
    		<span class="stripy-heading__text">How it works?</span>
    	</div>

		<div class="iconed-features">
			<ul class="iconed-featires__list">
				<li class="iconed-features__item">
					<img />
					<div class="iconed-features__text">
						<h3 class="iconed-features__item-header">Upload your documents</h3>
						<p class="iconed-features__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et molestie risus, sit amet consequat felis. Nullam dolor tellus, interdum quis elementum vitae, congue vulputate nunc.</p>
					</div>
				</li>
				<li class="iconed-features__item">
					<img />
					<div class="iconed-features__text">
						<h3 class="iconed-features__item-header">Upload your documents</h3>
						<p class="iconed-features__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et molestie risus, sit amet consequat felis. Nullam dolor tellus, interdum quis elementum vitae, congue vulputate nunc.</p>
					</div>
				</li>
				<li class="iconed-features__item">
					<img />
					<div class="iconed-features__text">
						<h3 class="iconed-features__item-header">Upload your documents</h3>
						<p class="iconed-features__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et molestie risus, sit amet consequat felis. Nullam dolor tellus, interdum quis elementum vitae, congue vulputate nunc.</p>
					</div>
				</li>
				<li class="iconed-features__item">
					<img />
					<div class="iconed-features__text">
						<h3 class="iconed-features__item-header">Upload your documents</h3>
						<p class="iconed-features__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et molestie risus, sit amet consequat felis. Nullam dolor tellus, interdum quis elementum vitae, congue vulputate nunc.</p>
					</div>
				</li>
				<li class="iconed-features__item">
					<img />
					<div class="iconed-features__text">
						<h3 class="iconed-features__item-header">Upload your documents</h3>
						<p class="iconed-features__item-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis et molestie risus, sit amet consequat felis. Nullam dolor tellus, interdum quis elementum vitae, congue vulputate nunc.</p>
					</div>
				</li>
			</ul>
		</div>

	</div>	
</div>	
{% endblock %}
