<div class="row sheet">
    <div class="col-md-10">
        <div class="sheet__container"></div>
    </div>
    <div class="col-md-2">
        <div class="sheet-ranges">
            <h2>Ranges</h2>
            <div class="sheet-ranges__items">
                <div class="sheet-ranges__item"
                     ng-repeat="range in $ctrl.ranges">
                    <div class="sheet-range"
                         ng-class="{'sheet-range_active': range.active}">
                        <a href=""
                           class="sheet-range__remove-btn"
                           ng-click="removeRange(range)"><i class="fa fa-trash"></i></a>
                        <div class="sheet-range__input"
                             ng-click="$ctrl.selectRange(range, 0)"
                             ng-class="{'sheet-range__input_active': range.active && range.source.active,
                                        'sheet-range__input_error': range.source.error}">
                            {= range.source.text =}
                        </div>
                        <div class="sheet-range__input"
                             ng-click="$ctrl.selectRange(range, 1)"
                             ng-class="{'sheet-range__input_active': range.active && range.target.active,
                                        'sheet-range__input_error': range.target.error}">
                            {= range.target.text =}
                        </div>
                    </div>
                </div>
            </div>

            <a href=""
               class="sheet-ranges__add-btn"
               ng-click="$ctrl.addRange()">Add range</a>
        </div>
    </div>
</div>