.translation
	font-weight 300
	

	&__title
		font-size 28px
		font-weight normal
		font-family $fontFamily
		color $grayText
		
		padding 50px 0 20px
		

	&__variants-title
		height 32px
		margin 20px 0 11px
		
		line-height 32px
		font-size 23px
		font-weight normal
		font-family $fontFamily
		color $grayText
		

	&__sentences
	&__text-wrap
		width 52%
		padding 0 20px
		margin 0 -20px
		
		box-sizing border-box
		

	&__sentences
		float left
		

	&__text-wrap
		float right
		
		background $grayBg
		

	&__text
		padding 10px
		margin-bottom 20px
		background #fff
		
		border 1px solid $grayBorder
		

	&__text-switcher
		margin 20px 0 10px
		
		&-button
			display inline-block
			height 32px
			padding 0 25px
			
			line-height 32px
			
			color $mainBlue
			text-decoration underline
			
			cursor pointer
			
			border none
			

			&_state_active
				background $mainBlue
				color #fff
				text-decoration none
				
				cursor default
				

	&__sentence
		&_state_active
			background #94ffa1
			

	&__sentence-translation
		padding 20px
		margin-bottom 20px
		position relative
		
		background $grayBg
		
		font-size 16px
		

		&_state_active
			background #94ffa1
			

		&_state_closed &-original
			&:after
				position absolute
				top 50%
				right 10px
				
				transform translateY(-50%)
				
				color #9c9b9b
				font-size 1.5em
				font-family FontAwesome
				content '\f138'
				
				cursor pointer


		&_state_opened &-original
			&:after
				position absolute
				top 50%
				right 10px
				
				transform translateY(-50%)
				
				color #9c9b9b
				font-size 1.5em
				font-family FontAwesome
				content '\f13a'
				
				cursor pointer
			

		&_translation_approved:after
			position absolute
			right 10px
			bottom 40px
			
			color #02c14f
			font-size 1.5em
			font-family FontAwesome
			content '\f00c'
			

		&-edit
			position absolute
			right 10px
			bottom 10px
				
			color #02c14f
			font-size 1.5em
			
			cursor pointer


	&__sentence-translation-original
		position relative
		padding 10px 40px 10px 0
		margin -10px -20px 0 0
		
		border-bottom 1px solid rgba(#868686, 0.5)


	&__sentence-translation_state_active &__sentence-translation-original
		border-color #54e47e
		

	&__sentence-translation_state_active &__sentence-translation-result
		background transparent
		

	&__sentence-translation_state_closed &__sentence-translation-original
		border none
		margin-bottom -10px
		

	&__sentence-translation_state_closed &__sentence-translation-result
		height 0
		padding 0
		

	&__sentence-translation_state_opened &__sentence-translation-original
		padding-left 20px
		margin-left -20px
		

	&__sentence-translation_state_opened &__sentence-translation-result
		padding-left 20px
		padding-bottom 20px
		margin-left -20px
		margin-bottom -20px
			

	&__sentence-translation-result
		padding 10px 40px  10px 0
		margin 0 -20px -10px 0
		
		background $grayBorder
		

	&__sentence-translation-switcher
		margin-bottom 10px
		

	&__sentence-translation-switcher &__text-switcher-button
		width 150px
		height 35px
		line-height 35px
		padding 0 20px
		
		white-space nowrap
		text-decoration none !important
		

	&__text-switcher-button &__button-content
		display inline-block
		margin-bottom 2px
		vertical-align middle
		
		line-height 1
		white-space normal
		
		font-weight 300
		font-size 13px
		

	&__text-switcher-button &__button-icon
		display inline-block
		vertical-align middle
		margin-right 5px
		
		font-size 1.3em
		

	&__sentence-suggestion
		position relative
		min-height 90px
		margin 0 -40px 0 -20px
		padding 10px 50px 10px 20px
		
		border-bottom 1px dashed #cacaca
		color #1d1d1b
		font-size 15px
		

		&:last-child
			margin-bottom -20px
			
			border-bottom none
			

		&-approve
			position absolute
			right 10px
			bottom 50px
			
			color #9c9b9b
			font-size 2em
			
			cursor pointer
			

			&:hover
				color #02c14f
			

		&-edit
			position absolute
			right 10px
			bottom 10px
				
			color #9c9b9b
			font-size 2em
			
			cursor pointer


			&:hover
				color $mainBlue
				

	&__sentence-translation_mode_select &__sentence-suggestion
		display block
		

	&__sentence-translation_mode_select &__sentence-commitance
		display none
		

	&__sentence-translation_mode_suggest &__sentence-suggestion
		display none
		

	&__sentence-translation_mode_suggest &__sentence-commitance
		display block
		

	&__sentence-suggestion-input
		width 442px
		min-width 442px
		max-width 442px
		height 130px
		min-height 80px
		padding 10px 15px
		margin 10px -20px 10px 0
		
		font-size 13px
		
		border 1px solid #cacaca

	
	&__sentence-suggestions-title
		font-size 14px
		font-weight 400
		font-family $fontFamily
		color #6f6f6e
		

	&__sentence-machine-suggestions-list
		list-style-type none
		padding 0
		margin-right -20px
		
		font-size 11px
		
		color #9c9b9b
		

	&__sentence-machine-suggestions-item
		position relative
		min-height 30px
		margin-bottom 10px
		

	&__sentence-machine-suggestions-text
		display inline-block
		width 90%
		
		vertical-align middle
		

	&__sentence-machine-suggestions-relevance
		display  inline-block
		width 30px
		height 30px
		line-height 30px
		margin-left 11px
		
		border-radius 50%
		
		text-align center
		font-weight 600
		vertical-align  middle
		
		color #fff
		

		&_high
			background #02c14f
			

		&_medium
			background #80cc44
			

		&_low
			background #ffe41b
		

	&__sentence-commit
		@extend .translation__text-switcher-button_state_active
		
		height 30px
		line-height 30px
		min-width 115px
		
		padding 0 30px

		border none
		font-size 13px