{% load i18n %}

{% trans "We're in vk.com" as vk_title %}
{% trans 'Tolma.ch on Google+' as gp_title %}
{% trans 'Our Twitter' as tw_title %}
{% trans 'Tolma.ch on Facebook' as fb_title %}

{% if user.is_authenticated %}
	<footer class="footer footer-white auth" id="footer">
		<div class="container footer-container" id="footer-container">
            <div class="row">
                <div>
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-2">
                        <p class="footer-data__item">2015 © Tolma.ch</p>
                    </div>
                    <div class="col-sm-1" style="margin-top: -15px">
                        <a href="/">
                            <img src="/static/images/main/small_footer_parrot.png">
                        </a><!-- /.brand -->
                    </div>
                    <div class="col-sm-1">
                        <ul class="footer-social footer-social_small">
                            <li class="footer-social__item">
                                <a href="http://vk.com/tolma_ch" target="_blank" title="{{ vk_title }}" class="footer-social__icon footer-social__icon_small footer-social__item_vk"></a>
                            </li>
                            <!--<li class="footer-social__item">-->
                                <!--<a href="#" target="_blank" title="{{ gp_title }}" class="footer-social__icon footer-social__icon_small footer-social__item_gp"></a>-->
                            <!--</li>-->
                            <li class="footer-social__item">
                                <a href="https://twitter.com/tolma_ch" target="_blank" title="{{ tw_title }}" class="footer-social__icon footer-social__icon_small footer-social__item_tw"></a>
                            </li>
                            <!--<li class="footer-social__item">-->
                                <!--<a href="#" target="_blank" title="{{ fb_title }}" class="footer-social__icon footer-social__icon_small footer-social__item_fb"></a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                    <div class="col-sm-1">
                        <a href="//www.iubenda.com/privacy-policy/7774144" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                    </div>
                </div>
            </div>
        </div>
	</footer>
{% else %}
	<footer class="footer footer-default" id="footer">
		<div class="footer-container" id="footer-container">
			<div class="footer-logo pull-left">
                <a href="/">
                    <img src="/static/img/top-logo.svg">
                </a><!-- /.brand -->
			</div><!-- /.navbar-header -->

			<ul class="footer-social pull-right">
				<li class="footer-social__item">
					<a href="http://vk.com/tolma_ch" target="_blank" title="{{ vk_title }}" class="footer-social__icon footer-social__item_vk"></a>
				</li>
                <!--<li class="footer-social__item">-->
					<!--<a href="#" target="_blank" title="{{ gp_title }}" class="footer-social__icon footer-social__item_gp"></a>-->
				<!--</li>-->
                <li class="footer-social__item">
					<a href="https://twitter.com/tolma_ch" target="_blank" title="{{ tw_title }}" class="footer-social__icon footer-social__item_tw"></a>
				</li>
                <!--<li class="footer-social__item">-->
					<!--<a href="#" target="_blank" title="{{ fb_title }}" class="footer-social__icon footer-social__item_fb"></a>-->
				<!--</li>-->
                <li class="footer-social__item">
                    <a href="//www.iubenda.com/privacy-policy/7774144" class="iubenda-white iubenda-embed" title="Privacy Policy">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
                </li>
			</ul>

		</div><!-- /.container -->
	</footer>	
{% endif %}
