{% load i18n %}
{% load staticfiles %}

{% trans "We're in vk.com" as vk_title %}
{% trans 'Tolma.ch on Google+' as gp_title %}
{% trans 'Our Twitter' as tw_title %}
{% trans 'Telegram live chat' as tg_title %}
{% trans 'Tolma.ch on Facebook' as fb_title %}
{% trans 'Blog' as blog_link %}

{% trans 'Privacy policy' as privacy %}

    <style>
        .footer {
            padding-bottom: 10px;
        }
        .footer-grid {
            width: 100%;
        }
        .footer-data__logo {
            float: left;
            margin-top: -10px;
        }
        .footer-data__copyright {
            float: left;
            margin-left: 10px;
        }
        .footer-data__copyright p {
            font-size: 13px;
            font-weight: 300;
            line-height: 20px;
        }
        .footer-data__social-block {
            float: left;
            margin-left: 10px;
        }
        .footer-social_small {
            padding: 3px 0;
        }
        .footer-data__links {
            float: right;
        }
        .footer-data__links ul li {
            display: inline;
            margin: 0 5px;
            line-height: 20px;
            font-size: 12px;
        }
        @media (max-width: 400px) {
            .footer-data__social-block {
                display: none;
            }
        }
    </style>
	<footer class="footer footer-white auth" id="footer">
		<div class="container footer-container" id="footer-container">
            <div class="row">
                <div class="col-sm-12 footer-grid">
                    <div class="footer-data__logo">
                        <a href="/">
                            <!--<img src="{% static 'images/main/small_footer_parrot.png' %}">-->
                            <img src="{% static 'img/footer/footer_logo.svg' %}" height="40">
                        </a><!-- /.brand -->
                    </div>
                    <div class="footer-data__copyright">
                        <p>{% now "Y" %} © Tolma.ch</p>
                    </div>
                    <div class="footer-data__social-block">
                        <ul class="footer-social footer-social_small">
                            <li class="footer-social__item">
                                <a href="http://vk.com/tolma_ch" target="_blank" title="{{ vk_title }}" class="footer-social__icon footer-social__icon_small footer-social__item_vk"></a>
                            </li>
                            <li class="footer-social__item">
                                <a href="https://twitter.com/tolma_ch" target="_blank" title="{{ tw_title }}" class="footer-social__icon footer-social__icon_small footer-social__item_tw"></a>
                            </li>
                            <li class="footer-social__item">
                                <a href="https://t.me/tolma_ch" target="_blank" title="{{ tg_title }}" class="footer-social__icon footer-social__icon_small footer-social__item_tg"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-data__links">
                        <ul class="footer-data__links__list">
                            <li class="footer-data__links__list__item">
                                {% if LANGUAGE_CODE == "ru" %}
                                <a href="{% url 'blog' blog_lang=LANGUAGE_CODE %}">{{ blog_link }}</a>
                                {% else %}
                                <a href="{% url 'blog' blog_lang='ru' %}">{{ blog_link }}</a>
                                {% endif %}
                            </li>
                            <li class="footer-data__links__list__item">
                                <a href="{% url 'privacy_policy' %}">{{ privacy }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
	</footer>
