{% include "main/partial/navbar.html" %}
{% load i18n %}

{% trans 'Translating together' as together %}
{% trans 'Better than ever!' as better_ever %}
{% trans 'Start with' as start %}

{% if user.is_authenticated or not is_index %}
{% else %}
	<section class="slogan-zone">
	{% load social_auth_widget %}
		<div class="main-container container-fluid">
			<div class="noise-wrapper"></div>
			<section class="leaderboard leaderboard-style-one">
			    <div class="container">
			        <h1 class="animated fadeInDown">{{ together }}</h1>
			        <h2 class="animated fadeInDown">{{ better_ever }}</h2>
			        <div class="relative-w">
		          	    <form class="form-signin">
					        <h2 class="form-signin-heading">{{ start }}</h2>
							{% social_auth_widget %}
					    </form>
			        </div>
			    </div>
			</section>
		</div>
	</section>
{% endif %}