<script src="/static/app/app.js"></script>
<script src="/static/app/components/chat/chatControllers.js"></script>
<script src="/static/app/components/chat/chatModule.js"></script>
<script src="/static/app/components/chat/chatServices.js"></script>
<script src="/static/app/components/handsontable/handsontable.controller.js"></script>
<script src="/static/app/components/profile/profileControllers.js"></script>
<script src="/static/app/components/profile/profileModule.js"></script>
<script src="/static/app/components/project/projectControllers.js"></script>
<script src="/static/app/components/project/projectModule.js"></script>
<script src="/static/app/components/projects/projectsControllers.js"></script>
<script src="/static/app/components/projects/projectsModule.js"></script>
<script src="/static/app/components/text/textControllers.js"></script>
<script src="/static/app/components/text/textDirectives.js"></script>
<script src="/static/app/components/text/textFilters.js"></script>
<script src="/static/app/components/text/textModule.js"></script>
<script src="/static/app/shared/main/mainControllers.js"></script>
<script src="/static/app/shared/main/mainDirectives.js"></script>
<script src="/static/app/shared/main/mainModule.js"></script>
