{% load staticfiles %}
<script src="{% static 'app/app.js' %}"></script>
<script src="{% static 'app/components/dict/dictControllers.js' %}"></script>
<script src="{% static 'app/components/dict/dictModule.js' %}"></script>
<script src="{% static 'app/components/dict/dictServices.js' %}"></script>
<script src="{% static 'app/components/dict/dictDirectives.js' %}"></script>
<script src="{% static 'app/components/handsontable/handsontable.controller.js' %}"></script>
<script src="{% static 'app/components/settings/settingsControllers.js' %}"></script>
<script src="{% static 'app/components/settings/settingsModule.js' %}"></script>
<script src="{% static 'app/components/project/projectControllers.js' %}"></script>
<script src="{% static 'app/components/project/projectModule.js' %}"></script>
<script src="{% static 'app/components/projects/projectsControllers.js' %}"></script>
<script src="{% static 'app/components/projects/projectsModule.js' %}"></script>
<script src="{% static 'app/components/organizations/organizationsControllers.js' %}"></script>
<script src="{% static 'app/components/organizations/organizationsModule.js' %}"></script>
<script src="{% static 'app/components/text/textControllers.js' %}"></script>
<script src="{% static 'app/components/text/textDirectives.js' %}"></script>
<script src="{% static 'app/components/text/textFilters.js' %}"></script>
<script src="{% static 'app/components/text/textModule.js' %}"></script>
<script src="{% static 'app/shared/main/mainControllers.js' %}"></script>
<script src="{% static 'app/shared/main/mainDirectives.js' %}"></script>
<script src="{% static 'app/shared/main/mainModule.js' %}"></script>
