{% load i18n %}
{% load staticfiles %}
		<header class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container" style="margin: 0 auto; max-width: 1400px">
				<div class="navbar-header pull-left">
                    <a href="/" title="{{ title_special }}">
                        <img src="{% static 'img/top-logo' %}{{ logo_special }}.svg"
                             class="hidden-xs">
                        <img src="{% static 'img/android-chrome-512x512.png' %}"
                             class="hidden-sm hidden-md hidden-lg hidden-xl"
                             style="height: 45px;margin: 3px 0 3px;">
                    </a><!-- /.brand -->
				</div><!-- /.navbar-header -->


				{% if user.is_authenticated %}
	                {% load tolmach_tags %}
	                {% login_navbar %}
                    <ul class="breadcrumbs2">
                        {% for link in breadcrumbs %}
                        <li class="breadcrumbs2__item {% if forloop.counter == 1 %}hidden-md hidden-sm hidden-xs{% endif %}">
                            <span class="breadcrumbs2__item__text">
                                {% if link.url|length > 1 %}
                                    {% if link.type == 'org' %}<i class="fa fa-sitemap"></i>{% endif %} <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                                {% else %}
                                    {{ link.title }}
                                {% endif %}
                            </span>
                        </li>
                        {% endfor %}

                        {% if text and target_lang %}
                        <span style="display: inline-block;
                                        overflow: hidden;">
                            <a class="breadcrumbs2__btn"
                               href="/text/{{ text.id }}/{{ target_lang }}/export/"
                               uib-tooltip="{% trans 'Export translation' %}"
                               tooltip-placement="bottom"
                               tooltip-append-to-body="true"><i class="fa fa-download"></i></a>
                        </span>
                        {% endif %}
                    </ul>


	            {% else %}
				<!--<ul class="navbar-nav pull-right">-->
					<!--<li class="navbar-nav__button button_blue">-->
						<!--<a href="#">BLOG</a>-->
					<!--</li>-->
					<!--<li class="navbar-nav__button button_green">-->
						<!--<a href="#">CONTACTS</a>-->
					<!--</li>-->
				<!--</ul>-->
				{% endif %}
                {% if text.id %}
                {% block navprogress %}
                <div class="progress header-progress"
                      uib-tooltip="{% trans 'Fragments approved:' %} {= translationCounts[2] =}
                      {% trans 'Fragments translated:' %} {= translationCounts[1] =}"
                      tooltip-placement="bottom"
                      tooltip-append-to-body="true">
                    <div class="progress-bar-success header-progress-full" role="progressbar"
                  aria-valuemin="0" aria-valuemax="100"
                         style="transition: width 0.3s ease-in-out;"
                         ng-style="{width : ( translationProgress[1] + '%' ) }"></div>
                    <div class="progress-bar-success header-progress-full" role="progressbar"
                  aria-valuemin="0" aria-valuemax="100"
                         style="transition: width 0.3s ease-in-out;" ng-style="{width : ( translationProgress[0] - translationProgress[1] + '%' ), background: 'rgb(255, 217, 121)' }"></div>
                </div>
                {% endblock %}
                {% endif %}
			</div><!-- /.container -->

		</header>
