{% load i18n %}
{% trans 'new messages' as new_messages %}
{% trans 'invited you to the project' as invitation %}
{% trans 'pitched you out of the project' as uninvitation %}
{% trans 'Logout' as logout %}
{% trans 'See all messages' as messages %}
{% trans 'Language' as language %}
{% include "tolmach/partial/global_search_typeahead_template.html" %}
<ul class="navbar-nav pull-right">
    <div class="search-btn"
         ng-show="pagesCount !== undefined"
         ng-class="{'search-btn_open': showSearch}"
         ng-cloak>
        <input class="search-btn__input" type="text"
               autocomplete="off"
               ng-model="searchText"
               focus-me="focusSearchInput"
               ng-blur="!searchText && (showSearch = false)"
               uib-typeahead="searchText as searchText.searched_text for searchText in globalSearch($viewValue)"
               typeahead-template-url="globalSearchTypeaheadTemplate.html"
               typeahead-on-select="onSearchSelect($item, $model, $label)">
        <i class="fa fa-search"
           ng-click="showSearch = true; focusSearchInput = true"></i>
        <i class="fa fa-times"
           ng-click="searchText = ''; showSearch = false;"></i>
    </div>
    <li class="navbar-nav__button button_blue"
        ng-show="(pagesCount !== undefined) && (showSearch == false)"
        ng-cloak
        uib-tooltip="{% trans 'Dictionary' %}"
        tooltip-append-to-body="true"
        tooltip-placement="bottom">
        <a class="" href="#" ng-click="dictOpener()"
           style="font-size: 22px;
                padding-top: 14px;">
			<i class="fa fa-book" ></i>
		</a>
    </li>
    <li class="navbar-nav__button button_blue"
        tooltip-append-to-body="true"
        tooltip-placement="bottom">
        <div class='text-overview__paginator'
            ng-show="(pagesCount > 1) && (showSearch == false)"
            ng-cloak
            style="padding-top: 15px;
                padding-left: 5px;
                padding-right: 5px;
                color: #ffffff;">
            <a href=""
               class="hidden-sm hidden-xs"
               ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a>

            <span class="text-overview__paginator-text"
                  ng-click="$parent.editPage = true; focusPaginator = true">
                <i class="fa fa-file-text-o"></i>
                {= page =} {#/ {= pagesCount =}#}
            </span>

            <div class="text-overview__dropmenu"
                 ng-show="$parent.editPage">
                <div class="text-overview__dropitem"
                     ng-repeat="n in [] | range:pagesCount"
                     ng-click="setPage(n + 1)">
                    {= n + 1 =}
                </div>
            </div>
            <a href=""
               class="hidden-sm hidden-xs"
               ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a>
        </div>
    </li>
    <li class="navbar-nav__button button_blue hidden-md hidden-lg hidden-xl"
        ng-show="showSearch == false"
        uib-tooltip="{% trans 'Fullscreen' %}"
        tooltip-append-to-body="true"
        tooltip-placement="bottom">
        <a class="" href="#" ng-click="toggleFullscreen()"
           style="font-size: 18px;
                padding-top: 14px;">
			<i class="fa"
                ng-class="isFullscreenActive ? 'fa-compress' : 'fa-expand'"></i>
		</a>
    </li>
    <li class="navbar-nav__button button_blue hidden-xs"
        ng-show="showSearch == false"
        uib-tooltip="{% trans 'Help' %}"
        tooltip-append-to-body="true"
        tooltip-placement="bottom">
        <a class="" href="#" ng-click="beginHelpPresentation()"
           style="font-size: 22px;
                padding-top: 14px;">
			<i class="fa fa-question-circle-o" ></i>
		</a>
    </li>
    <!--<li class="navbar-nav__button button_gray"-->
        <!--uib-tooltip="{% trans 'Chat' %}"-->
        <!--tooltip-append-to-body="true"-->
        <!--tooltip-placement="bottom">-->
        <!--<a class="" href="#" ng-click="toggleChat()">-->
			<!--<i class="fa fa-comments-o" ></i>-->
		<!--</a>-->
    <!--</li>-->

    <li class="navbar-nav__button button_blue navbar-nav__user">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
            <i class="fa fa-bell-o" ng-class="{'fa-animated-bell': messages.length}"
               ng-show="messages.length"
               ng-cloak
               style="color: white;
                    position: absolute;
                    z-index: 900;
                    top: 5px;
                    left: 35px;
                    background: #68aa45;
                    padding: 3px;
                    border-radius: 50%;
                    font-size: 9px;
                    border: 1px solid #f5f5f5;"></i>
            {% if user_avatar %}
            <img class="navbar-nav__user-photo" src="/media/{{ user_avatar }}" alt="Avatar">
            {% else %}
            <img class="navbar-nav__user-photo" src="/media/avatar/default.png" alt="Avatar">
            {% endif %}
            <span class="navbar-nav__user-info hidden-xs">
                <!--<small>{% trans "Hi," %}</small>-->
{#                <span>{{ username }}</span>#}
            </span>

            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li>
                <a href="#" ng-click="showAllMessages()">
                    <span class="badge badge-success" ng-show="messages.length"
                          style="
                              font-size: 10px;
                              padding-top: 3px;
                              border-radius: 5px;
                              ">
                        {= messages.length =}
                    </span>
                    <i class="fa fa-bell-o" aria-hidden="true" ng-show="!messages.length"></i>
                    {% trans 'Notifications' %}
                </a>
            </li>

            <li class="dropdown-hover dropleft">
                <a href="#" tabindex="-1">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    {{ language }}
                </a>

                <ul class="dropdown-menu pull-left">
                    <li>
                        <a href="" ng-click="changeLanguage('en')">
                            English
                        </a>
                    </li>

                    <li>
                        <a href="" ng-click="changeLanguage('ru')">
                            Russian
                        </a>
                    </li>

                    <li>
                        <a href="" ng-click="changeLanguage('zh')">
                            Chinese
                        </a>
                    </li>
                </ul>
            </li>

            <li class="divider">

            </li>

            <li>
                <a href="/logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    {{ logout }}
                </a>
            </li>
        </ul>
	</li>
</ul>
