{% load i18n %}
{% load staticfiles %}
		<header class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container" style="margin: 0 auto; max-width: 1400px">
				<div class="navbar-header pull-left">
                    <a href="/">
                        <img src="{% static 'img/top-logo' %}{{ logo_special }}.svg">
                    </a><!-- /.brand -->
				</div><!-- /.navbar-header -->


				{% if user.is_authenticated %}
	                {% load tolmach_tags %}
	                {% login_navbar %}
                    <ul class="breadcrumbs2">
                        {% for link in breadcrumbs %}
                        <li class="breadcrumbs2__item {% if forloop.counter == 1 %}hidden-md hidden-sm hidden-xs{% endif %}">
                            <span class="breadcrumbs2__item__text">
                                {% if link.url|length > 1 %}
                                    {% if link.type == 'org' %}<i class="fa fa-sitemap"></i>{% endif %} <a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                                {% else %}
                                    {{ link.title }}
                                {% endif %}
                            </span>
                        </li>
                        {% endfor %}

                        {% if text and target_lang %}
                        <span style="display: inline-block;
                                        overflow: hidden;">
                            <a class="breadcrumbs2__btn"
                               href="/text/{{ text.id }}/{{ target_lang }}/export/"
                               tooltip="{% trans 'Export translation' %}"
                               tooltip-placement="bottom"
                               tooltip-append-to-body="true"><i class="fa fa-download"></i></a>
                        </span>
                        {% endif %}
                    </ul>


	            {% else %}
				<!--<ul class="navbar-nav pull-right">-->
					<!--<li class="navbar-nav__button button_blue">-->
						<!--<a href="#">BLOG</a>-->
					<!--</li>-->
					<!--<li class="navbar-nav__button button_green">-->
						<!--<a href="#">CONTACTS</a>-->
					<!--</li>-->
				<!--</ul>-->
				{% endif %}
                {% block navprogress %}
                {% endblock %}
			</div><!-- /.container -->
		</header>
