{% load i18n %}
{% load staticfiles %}
		<header class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container" style="margin: 0 auto; max-width: 1400px">
				<div class="navbar-header pull-left">
                    <a href="/">
                        <img src="{% static 'img/top-logo' %}{{ logo_special }}.svg">
                    </a><!-- /.brand -->
				</div><!-- /.navbar-header -->


				{% if user.is_authenticated %}
	                {% load tolmach_tags %}
	                {% login_navbar %}
                    <ul class="breadcrumbs2 hidden-xs">
                        {% for link in breadcrumbs %}
                        <li class="breadcrumbs2__item {% if forloop.counter == 1 %}hidden-md hidden-sm hidden-xs{% endif %}">
                            <!--Large screens only (>1200px) -->
                            <span class="hidden-xs hidden-sm hidden-md" style="display: inline-block;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
                                        -o-text-overflow: ellipsis;  /** Opera 9 & 10 **/
                                        max-width: 250px;">
                            {% if link.1 %}
                                <a href="{{ link.1 }}" title="{{ link.0 }}">{{ link.0 }}</a>
                            {% else %}
                                {{ link.0 }}
                            {% endif %}
                            </span>

                            <!--Medium screens only (992px - 1199px) -->
                            <span class="hidden-xs hidden-sm hidden-lg" style="display: inline-block;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
                                        -o-text-overflow: ellipsis;  /** Opera 9 & 10 **/
                                        max-width: 200px;">
                            {% if link.1 %}
                                <a href="{{ link.1 }}" title="{{ link.0 }}">{{ link.0 }}</a>
                            {% else %}
                                {{ link.0 }}
                            {% endif %}
                            </span>

                            <!--Small screens only (768px - 991px) -->
                            <span class="hidden-xs hidden-md hidden-lg" style="display: inline-block;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
                                        -o-text-overflow: ellipsis;  /** Opera 9 & 10 **/
                                        max-width: 100px;">
                            {% if link.1 %}
                                <a href="{{ link.1 }}" title="{{ link.0 }}">{{ link.0 }}</a>
                            {% else %}
                                {{ link.0 }}
                            {% endif %}
                            </span>
                            <!--Extra small screens only (<767px) -->
                            <span class="hidden-sm hidden-md hidden-lg" style="display: inline-block;
                                        white-space: nowrap;
                                        overflow: hidden;
                                        text-overflow: ellipsis;     /** IE6+, Firefox 7+, Opera 11+, Chrome, Safari **/
                                        -o-text-overflow: ellipsis;  /** Opera 9 & 10 **/
                                        max-width: 100px;">
                            {% if link.1 %}
                                <a href="{{ link.1 }}" title="{{ link.0 }}">{{ link.0 }}</a>
                            {% else %}
                                {{ link.0 }}
                            {% endif %}
                            </span>
                        </li>
                        {% endfor %}

                        {% if text and target_lang %}
                        <span style="display: inline-block;
                                        overflow: hidden;">
                            <a class="breadcrumbs2__btn"
                               href="/text/{{ text.id }}/{{ target_lang }}/export/"
                               tooltip="{% trans 'Export translation' %}"
                               tooltip-placement="bottom"
                               tooltip-append-to-body="true"><i class="fa fa-download"></i></a>
                        </span>
                        {% endif %}
                    </ul>


	            {% else %}
				<!--<ul class="navbar-nav pull-right">-->
					<!--<li class="navbar-nav__button button_blue">-->
						<!--<a href="#">BLOG</a>-->
					<!--</li>-->
					<!--<li class="navbar-nav__button button_green">-->
						<!--<a href="#">CONTACTS</a>-->
					<!--</li>-->
				<!--</ul>-->
				{% endif %}
                {% block navprogress %}
                {% endblock %}
			</div><!-- /.container -->
		</header>
