{% load i18n %}
{% trans 'new messages' as new_messages %}
{% trans 'invited you to the project' as invitation %}
{% trans 'pitched you out of the project' as uninvitation %}
{% trans 'Logout' as logout %}
{% trans 'See all messages' as messages %}
{% trans 'Language' as language %}
<ul class="navbar-nav pull-right">
    <style>
        .text-overview__paginator a {
            color: #ffffff;
            margin-top: -6px;
        }
        .text-overview__paginator a:hover {
            background-color: #367798;
            color: #5DBE3E;
        }
        .text-overview__paginator-text:hover {
            background: #367798;
            color: #5DBE3E;
        }
        .text-overview__paginator-text i {
            font-size: 19px;
        }
        .text-overview__dropmenu {
            position: absolute;
            background: white;
            z-index: 999;
            right: 0;
            color: black;
            width: 100%;
            text-align: center;
            border: 1px solid #D5D5D5;
            box-shadow: #00000047 0px 5px 17px 0px;
            max-height: 309px;
            overflow-y: auto;
        }
        .text-overview__dropitem {
            padding: 5px 0;
            cursor: pointer;
        }
        .text-overview__dropitem:hover {
            background-color: #f5f5f5 !important;
        }
        .search-btn {
            float: left;
            height: 50px;
            line-height: 50px;
            color: white;
            font-size: 130%;
            min-width: 50px;
            position: relative;
            cursor: pointer;
        }
        .search-btn:hover {
            background: #32779a;
        }
        .search-btn i {
            position: absolute;
            height: 50px;
            width: 50px;
            top: 0;
            right: 0;
            line-height: 50px;
            transition: all .5s;
            text-align: center;
        }
        .search-btn i.fa-search {
            display: block;
        }
        .search-btn i.fa-times {
            display: none;
        }
        .search-btn__input {
            width: 0;
            opacity: 0 !important;
            padding: 0 !important;
            background: transparent;
            border: none !important;
            border-radius: 111px !important;
            line-height: 30px !important;
            transition: all .5s;
        }
        .search-btn_open {
            color: #438EB9;
        }
        .search-btn_open i.fa-search {
            display: none;
        }
        .search-btn_open i.fa-times {
            display: block;
            width: 30px;
        }
        .search-btn_open:hover {
            background: transparent;
        }
        .search-btn_open .search-btn__input {
            width: 200px;
            opacity: 1 !important;
            padding: 2px 35px 2px 12px !important;
            background: white;
            border-radius: 111px !important;
        }
    </style>

{#    <div class="search-btn"#}
{#         ng-class="{'search-btn_open': showSearch}">#}
{#        <input class="search-btn__input" type="text"#}
{#               ng-model="searchText"#}
{#               focus-me="focusSearchInput"#}
{#               ng-blur="!searchText && (showSearch = false)">#}
{#        <i class="fa fa-search"#}
{#           ng-click="showSearch = true; focusSearchInput = true"></i>#}
{#        <i class="fa fa-times"#}
{#           ng-click="searchText = ''; showSearch = false;"></i>#}
{#    </div>#}

    <li class="navbar-nav__button button_blue">
        <div class='text-overview__paginator'
            ng-show="pagesCount > 1"
            ng-cloak
            style="padding-top: 15px;
                padding-left: 5px;
                padding-right: 5px;
                color: #ffffff;">
            <a href=""
               class="hidden-sm hidden-xs"
               ng-click="prevPage()"><i class="fa fa-chevron-left"></i></a>

            <span class="text-overview__paginator-text"
                  ng-click="$parent.editPage = true; focusPaginator = true">
                <i class="fa fa-file-text-o"></i>
                {= page =} {#/ {= pagesCount =}#}
            </span>

            <div class="text-overview__dropmenu"
                 ng-show="$parent.editPage">
                <div class="text-overview__dropitem"
                     ng-repeat="n in [] | range:pagesCount"
                     ng-click="setPage(n + 1)">
                    {= n + 1 =}
                </div>
            </div>

            <!--<input type="text"-->
                   <!--ng-show="editPage"-->
                   <!--focus-me="focusPaginator"-->
                   <!--ng-model="page"-->
                   <!--ng-keypress="paginatorKeypress($event)"-->
                   <!--ng-blur="paginatorBlur()">-->

            <a href=""
               class="hidden-sm hidden-xs"
               ng-click="nextPage()"><i class="fa fa-chevron-right"></i></a>
        </div>
    </li>
    <li class="navbar-nav__button button_blue hidden-md hidden-lg hidden-xl"
        tooltip="{% trans 'Fullscreen' %}"
        tooltip-append-to-body="true"
        tooltip-placement="bottom">
        <a class="" href="#" ng-click="toggleFullscreen()"
           style="font-size: 18px;
                padding-top: 14px;">
			<i class="fa"
                ng-class="isFullscreenActive ? 'fa-compress' : 'fa-expand'"></i>
		</a>
    </li>
    <li class="navbar-nav__button button_blue hidden-xs"
        tooltip="{% trans 'Help' %}"
        tooltip-append-to-body="true"
        tooltip-placement="bottom">
        <a class="" href="#" ng-click="beginHelpPresentation()"
           style="font-size: 22px;
                padding-top: 14px;">
			<i class="fa fa-question-circle-o" ></i>
		</a>
    </li>
    <!--<li class="navbar-nav__button button_gray"-->
        <!--tooltip="{% trans 'Chat' %}"-->
        <!--tooltip-append-to-body="true"-->
        <!--tooltip-placement="bottom">-->
        <!--<a class="" href="#" ng-click="toggleChat()">-->
			<!--<i class="fa fa-comments-o" ></i>-->
		<!--</a>-->
    <!--</li>-->

    <li class="navbar-nav__button button_blue navbar-nav__user">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
            <i class="fa fa-bell-o" ng-class="{'fa-animated-bell': messages.length}"
               ng-show="messages.length"
               ng-cloak
               style="color: white;
                    position: absolute;
                    z-index: 900;
                    top: 5px;
                    left: 35px;
                    background: #68aa45;
                    padding: 3px;
                    border-radius: 50%;
                    font-size: 9px;
                    border: 1px solid #f5f5f5;"></i>
            {% if user_avatar %}
            <img class="navbar-nav__user-photo" src="/media/{{ user_avatar }}" alt="Avatar">
            {% else %}
            <img class="navbar-nav__user-photo" src="/media/avatar/default.png" alt="Avatar">
            {% endif %}
            <span class="navbar-nav__user-info hidden-xs">
                <!--<small>{% trans "Hi," %}</small>-->
{#                <span>{{ username }}</span>#}
            </span>

            <i class="fa fa-caret-down"></i>
        </a>
        <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
            <li>
                <a href="#" ng-click="showAllMessages()">
                    <span class="badge badge-success" ng-show="messages.length"
                          style="
                              font-size: 10px;
                              padding-top: 3px;
                              border-radius: 5px;
                              ">
                        {= messages.length =}
                    </span>
                    <i class="fa fa-bell-o" aria-hidden="true" ng-show="!messages.length"></i>
                    {% trans 'Notifications' %}
                </a>
            </li>

            <!--<li>-->
                <!--<a href="#">-->
                    <!--<i class="fa-cog"></i>-->
                    <!--Settings-->
                <!--</a>-->
            <!--</li>-->

            <!--<li>-->
                <!--<a href="/">-->
                    <!--<i class="fa-user"></i>-->
                    <!--Profile-->
                <!--</a>-->
            <!--</li>-->

            <!--<li class="divider"></li>-->

            <li class="dropdown-hover dropleft">
                <a href="#" tabindex="-1">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    {{ language }}
                </a>

                <ul class="dropdown-menu pull-left">
                    <li>
                        <a href="" ng-click="changeLanguage('en')">
                            English
                        </a>
                    </li>

                    <li>
                        <a href="" ng-click="changeLanguage('ru')">
                            Russian
                        </a>
                    </li>

                    <!--<li>-->
                        <!--<a href="" ng-click="changeLanguage('it')">-->
                            <!--Italian-->
                        <!--</a>-->
                    <!--</li>-->

                    <li>
                        <a href="" ng-click="changeLanguage('zh')">
                            Chinese
                        </a>
                    </li>
                </ul>
            </li>

            <li class="divider">

            </li>

            <li>
                <a href="/logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    {{ logout }}
                </a>
            </li>
        </ul>
	</li>
</ul>
