{% include "components/navbar/navbar.html" %}

{% if user.is_authenticated or not is_index %}
{% else %}
	<section class="slogan-zone">
	{% load social_auth_widget %}
		<div class="main-container container-fluid">
			<div class="noise-wrapper"></div>
			<section class="leaderboard leaderboard-style-one">
			    <div class="container">
			        <h1 class="animated fadeInDown">Переводим вместе</h1>
			        <h2 class="animated fadeInDown">Лучше, чем когда-либо!</h2>
			        <div class="relative-w">
		          	    <form class="form-signin">
					        <h2 class="form-signin-heading">Войти с помощью</h2>
							{% social_auth_widget %}
					    </form>
			        </div>
			    </div>
			</section>
		</div>
	</section>
{% endif %}