.stitches-flag(@x: 0, @y: 0, @width: 0, @height: 0) {
    background-position: @x @y;
    width: @width;
    height: @height;
}

.flag {
    display: block;

    &.flag-Afghanistan {
        .stitches-flag(0, 0, 24px, 24px);
    }

    &.flag-Aland {
        .stitches-flag(-24px, 0, 24px, 24px);
    }

    &.flag-Albania {
        .stitches-flag(-48px, 0, 24px, 24px);
    }

    &.flag-Algeria {
        .stitches-flag(-72px, 0, 24px, 24px);
    }

    &.flag-American-samoa {
        .stitches-flag(-96px, 0, 24px, 24px);
    }

    &.flag-Andorra {
        .stitches-flag(-120px, 0, 24px, 24px);
    }

    &.flag-Angola {
        .stitches-flag(-144px, 0, 24px, 24px);
    }

    &.flag-Anguilla {
        .stitches-flag(-168px, 0, 24px, 24px);
    }

    &.flag-Antarctica {
        .stitches-flag(-192px, 0, 24px, 24px);
    }

    &.flag-Antigua-and-barbuda {
        .stitches-flag(-216px, 0, 24px, 24px);
    }

    &.flag-Argentina {
        .stitches-flag(-240px, 0, 24px, 24px);
    }

    &.flag-Armenia {
        .stitches-flag(-264px, 0, 24px, 24px);
    }

    &.flag-Aruba {
        .stitches-flag(-288px, 0, 24px, 24px);
    }

    &.flag-Australia {
        .stitches-flag(-312px, 0, 24px, 24px);
    }

    &.flag-Austria {
        .stitches-flag(-336px, 0, 24px, 24px);
    }

    &.flag-Azerbaijan {
        .stitches-flag(-360px, 0, 24px, 24px);
    }

    &.flag-Bahamas {
        .stitches-flag(0, -24px, 24px, 24px);
    }

    &.flag-Bahrain {
        .stitches-flag(-24px, -24px, 24px, 24px);
    }

    &.flag-Bangladesh {
        .stitches-flag(-48px, -24px, 24px, 24px);
    }

    &.flag-Barbados {
        .stitches-flag(-72px, -24px, 24px, 24px);
    }

    &.flag-Belarus {
        .stitches-flag(-96px, -24px, 24px, 24px);
    }

    &.flag-Belgium {
        .stitches-flag(-120px, -24px, 24px, 24px);
    }

    &.flag-Belize {
        .stitches-flag(-144px, -24px, 24px, 24px);
    }

    &.flag-Benin {
        .stitches-flag(-168px, -24px, 24px, 24px);
    }

    &.flag-Bermuda {
        .stitches-flag(-192px, -24px, 24px, 24px);
    }

    &.flag-Bhutan {
        .stitches-flag(-216px, -24px, 24px, 24px);
    }

    &.flag-Bolivia {
        .stitches-flag(-240px, -24px, 24px, 24px);
    }

    &.flag-Bonaire {
        .stitches-flag(-264px, -24px, 24px, 24px);
    }

    &.flag-Bosnia-and-Herzegovina {
        .stitches-flag(-288px, -24px, 24px, 24px);
    }

    &.flag-Botswana {
        .stitches-flag(-312px, -24px, 24px, 24px);
    }

    &.flag-Brazil {
        .stitches-flag(-336px, -24px, 24px, 24px);
    }

    &.flag-British-Indian-Ocean-Territory {
        .stitches-flag(-360px, -24px, 24px, 24px);
    }

    &.flag-British-antarctic {
        .stitches-flag(0, -48px, 24px, 24px);
    }

    &.flag-British-virgin {
        .stitches-flag(-24px, -48px, 24px, 24px);
    }

    &.flag-Brunei {
        .stitches-flag(-48px, -48px, 24px, 24px);
    }

    &.flag-Bulgaria {
        .stitches-flag(-72px, -48px, 24px, 24px);
    }

    &.flag-Burkina-faso {
        .stitches-flag(-96px, -48px, 24px, 24px);
    }

    &.flag-Burundi {
        .stitches-flag(-120px, -48px, 24px, 24px);
    }

    &.flag-Cambodia {
        .stitches-flag(-144px, -48px, 24px, 24px);
    }

    &.flag-Cameroon {
        .stitches-flag(-168px, -48px, 24px, 24px);
    }

    &.flag-Canada {
        .stitches-flag(-192px, -48px, 24px, 24px);
    }

    &.flag-Cape-verde {
        .stitches-flag(-216px, -48px, 24px, 24px);
    }

    &.flag-Cascadia {
        .stitches-flag(-240px, -48px, 24px, 24px);
    }

    &.flag-Cayman-Islands {
        .stitches-flag(-264px, -48px, 24px, 24px);
    }

    &.flag-Central-african-republic {
        .stitches-flag(-288px, -48px, 24px, 24px);
    }

    &.flag-Chad {
        .stitches-flag(-312px, -48px, 24px, 24px);
    }

    &.flag-Chile {
        .stitches-flag(-336px, -48px, 24px, 24px);
    }

    &.flag-China {
        .stitches-flag(-360px, -48px, 24px, 24px);
    }

    &.flag-Christmas-Island {
        .stitches-flag(0, -72px, 24px, 24px);
    }

    &.flag-Cocos {
        .stitches-flag(-24px, -72px, 24px, 24px);
    }

    &.flag-Colombia {
        .stitches-flag(-48px, -72px, 24px, 24px);
    }

    &.flag-Comoros {
        .stitches-flag(-72px, -72px, 24px, 24px);
    }

    &.flag-Congo {
        .stitches-flag(-96px, -72px, 24px, 24px);
    }

    &.flag-Congo-kinshasa {
        .stitches-flag(-120px, -72px, 24px, 24px);
    }

    &.flag-Cook-islands {
        .stitches-flag(-144px, -72px, 24px, 24px);
    }

    &.flag-Costa-rica {
        .stitches-flag(-168px, -72px, 24px, 24px);
    }

    &.flag-Cote_d_Ivoire {
        .stitches-flag(-192px, -72px, 24px, 24px);
    }

    &.flag-Croatia {
        .stitches-flag(-216px, -72px, 24px, 24px);
    }

    &.flag-Cuba {
        .stitches-flag(-240px, -72px, 24px, 24px);
    }

    &.flag-Curacao {
        .stitches-flag(-264px, -72px, 24px, 24px);
    }

    &.flag-Cyprus {
        .stitches-flag(-288px, -72px, 24px, 24px);
    }

    &.flag-Czech-Republic {
        .stitches-flag(-312px, -72px, 24px, 24px);
    }

    &.flag-Denmark {
        .stitches-flag(-336px, -72px, 24px, 24px);
    }

    &.flag-Djibouti {
        .stitches-flag(-360px, -72px, 24px, 24px);
    }

    &.flag-Dominican-republic {
        .stitches-flag(0, -96px, 24px, 24px);
    }

    &.flag-East-Timor {
        .stitches-flag(-24px, -96px, 24px, 24px);
    }

    &.flag-Ecuador {
        .stitches-flag(-48px, -96px, 24px, 24px);
    }

    &.flag-Egypt {
        .stitches-flag(-72px, -96px, 24px, 24px);
    }

    &.flag-El-salvador {
        .stitches-flag(-96px, -96px, 24px, 24px);
    }

    &.flag-England {
        .stitches-flag(-120px, -96px, 24px, 24px);
    }

    &.flag-Equatorial-guinea {
        .stitches-flag(-144px, -96px, 24px, 24px);
    }

    &.flag-Eritrea {
        .stitches-flag(-168px, -96px, 24px, 24px);
    }

    &.flag-Estonia {
        .stitches-flag(-192px, -96px, 24px, 24px);
    }

    &.flag-Ethiopia {
        .stitches-flag(-216px, -96px, 24px, 24px);
    }

    &.flag-European-union {
        .stitches-flag(-240px, -96px, 24px, 24px);
    }

    &.flag-Ex-yugoslavia {
        .stitches-flag(-264px, -96px, 24px, 24px);
    }

    &.flag-Falkland-islands {
        .stitches-flag(-288px, -96px, 24px, 24px);
    }

    &.flag-Faroe-islands {
        .stitches-flag(-312px, -96px, 24px, 24px);
    }

    &.flag-Fiji {
        .stitches-flag(-336px, -96px, 24px, 24px);
    }

    &.flag-Finland {
        .stitches-flag(-360px, -96px, 24px, 24px);
    }

    &.flag-France {
        .stitches-flag(0, -120px, 24px, 24px);
    }

    &.flag-French-Southern {
        .stitches-flag(-24px, -120px, 24px, 24px);
    }

    &.flag-French-polynesia {
        .stitches-flag(-48px, -120px, 24px, 24px);
    }

    &.flag-Gabon {
        .stitches-flag(-72px, -120px, 24px, 24px);
    }

    &.flag-Gambia {
        .stitches-flag(-96px, -120px, 24px, 24px);
    }

    &.flag-Georgia {
        .stitches-flag(-120px, -120px, 24px, 24px);
    }

    &.flag-Germany {
        .stitches-flag(-144px, -120px, 24px, 24px);
    }

    &.flag-Ghana {
        .stitches-flag(-168px, -120px, 24px, 24px);
    }

    &.flag-Gibraltar {
        .stitches-flag(-192px, -120px, 24px, 24px);
    }

    &.flag-Greenland {
        .stitches-flag(-216px, -120px, 24px, 24px);
    }

    &.flag-Grenada {
        .stitches-flag(-240px, -120px, 24px, 24px);
    }

    &.flag-Guadeloupe {
        .stitches-flag(-264px, -120px, 24px, 24px);
    }

    &.flag-Guam {
        .stitches-flag(-288px, -120px, 24px, 24px);
    }

    &.flag-Guatemala {
        .stitches-flag(-312px, -120px, 24px, 24px);
    }

    &.flag-Guernsey {
        .stitches-flag(-336px, -120px, 24px, 24px);
    }

    &.flag-Guinea {
        .stitches-flag(-360px, -120px, 24px, 24px);
    }

    &.flag-Guinea-bissau {
        .stitches-flag(0, -144px, 24px, 24px);
    }

    &.flag-Guyana {
        .stitches-flag(-24px, -144px, 24px, 24px);
    }

    &.flag-Haiti {
        .stitches-flag(-48px, -144px, 24px, 24px);
    }

    &.flag-Honduras {
        .stitches-flag(-72px, -144px, 24px, 24px);
    }

    &.flag-Hong-kong {
        .stitches-flag(-96px, -144px, 24px, 24px);
    }

    &.flag-Hungary {
        .stitches-flag(-120px, -144px, 24px, 24px);
    }

    &.flag-Iceland {
        .stitches-flag(-144px, -144px, 24px, 24px);
    }

    &.flag-India {
        .stitches-flag(-168px, -144px, 24px, 24px);
    }

    &.flag-Indonesia {
        .stitches-flag(-192px, -144px, 24px, 24px);
    }

    &.flag-Iran {
        .stitches-flag(-216px, -144px, 24px, 24px);
    }

    &.flag-Iraq {
        .stitches-flag(-240px, -144px, 24px, 24px);
    }

    &.flag-Ireland {
        .stitches-flag(-264px, -144px, 24px, 24px);
    }

    &.flag-Isle-of-man {
        .stitches-flag(-288px, -144px, 24px, 24px);
    }

    &.flag-Israel {
        .stitches-flag(-312px, -144px, 24px, 24px);
    }

    &.flag-Italy {
        .stitches-flag(-336px, -144px, 24px, 24px);
    }

    &.flag-Ivory-coast {
        .stitches-flag(-360px, -144px, 24px, 24px);
    }

    &.flag-Jamaica {
        .stitches-flag(0, -168px, 24px, 24px);
    }

    &.flag-Japan {
        .stitches-flag(-24px, -168px, 24px, 24px);
    }

    &.flag-Jersey {
        .stitches-flag(-48px, -168px, 24px, 24px);
    }

    &.flag-Jordan {
        .stitches-flag(-72px, -168px, 24px, 24px);
    }

    &.flag-Kazakhstan {
        .stitches-flag(-96px, -168px, 24px, 24px);
    }

    &.flag-Kenya {
        .stitches-flag(-120px, -168px, 24px, 24px);
    }

    &.flag-Kiribati {
        .stitches-flag(-144px, -168px, 24px, 24px);
    }

    &.flag-Kosovo {
        .stitches-flag(-168px, -168px, 24px, 24px);
    }

    &.flag-Kuwait {
        .stitches-flag(-192px, -168px, 24px, 24px);
    }

    &.flag-Kyrgyzstan {
        .stitches-flag(-216px, -168px, 24px, 24px);
    }

    &.flag-Laos {
        .stitches-flag(-240px, -168px, 24px, 24px);
    }

    &.flag-Latvia {
        .stitches-flag(-264px, -168px, 24px, 24px);
    }

    &.flag-Lebanon {
        .stitches-flag(-288px, -168px, 24px, 24px);
    }

    &.flag-Lesotho {
        .stitches-flag(-312px, -168px, 24px, 24px);
    }

    &.flag-Liberia {
        .stitches-flag(-336px, -168px, 24px, 24px);
    }

    &.flag-Libya {
        .stitches-flag(-360px, -168px, 24px, 24px);
    }

    &.flag-Liechtenstein {
        .stitches-flag(0, -192px, 24px, 24px);
    }

    &.flag-Lithuania {
        .stitches-flag(-24px, -192px, 24px, 24px);
    }

    &.flag-Luxembourg {
        .stitches-flag(-48px, -192px, 24px, 24px);
    }

    &.flag-Macau {
        .stitches-flag(-72px, -192px, 24px, 24px);
    }

    &.flag-Macedonia {
        .stitches-flag(-96px, -192px, 24px, 24px);
    }

    &.flag-Madagascar {
        .stitches-flag(-120px, -192px, 24px, 24px);
    }

    &.flag-Malawi {
        .stitches-flag(-144px, -192px, 24px, 24px);
    }

    &.flag-Malaysia {
        .stitches-flag(-168px, -192px, 24px, 24px);
    }

    &.flag-Maldives {
        .stitches-flag(-192px, -192px, 24px, 24px);
    }

    &.flag-Mali {
        .stitches-flag(-216px, -192px, 24px, 24px);
    }

    &.flag-Malta {
        .stitches-flag(-240px, -192px, 24px, 24px);
    }

    &.flag-Marshall-islands {
        .stitches-flag(-264px, -192px, 24px, 24px);
    }

    &.flag-Martinique {
        .stitches-flag(-288px, -192px, 24px, 24px);
    }

    &.flag-Mauritania {
        .stitches-flag(-312px, -192px, 24px, 24px);
    }

    &.flag-Mauritius {
        .stitches-flag(-336px, -192px, 24px, 24px);
    }

    &.flag-Mayotte {
        .stitches-flag(-360px, -192px, 24px, 24px);
    }

    &.flag-Mexico {
        .stitches-flag(0, -216px, 24px, 24px);
    }

    &.flag-Micronesia {
        .stitches-flag(-24px, -216px, 24px, 24px);
    }

    &.flag-Moldova {
        .stitches-flag(-48px, -216px, 24px, 24px);
    }

    &.flag-Monaco {
        .stitches-flag(-72px, -216px, 24px, 24px);
    }

    &.flag-Mongolia {
        .stitches-flag(-96px, -216px, 24px, 24px);
    }

    &.flag-Montenegro {
        .stitches-flag(-120px, -216px, 24px, 24px);
    }

    &.flag-Montserrat {
        .stitches-flag(-144px, -216px, 24px, 24px);
    }

    &.flag-Morocco {
        .stitches-flag(-168px, -216px, 24px, 24px);
    }

    &.flag-Mozambique {
        .stitches-flag(-192px, -216px, 24px, 24px);
    }

    &.flag-Myanmar {
        .stitches-flag(-216px, -216px, 24px, 24px);
    }

    &.flag-Namibia {
        .stitches-flag(-240px, -216px, 24px, 24px);
    }

    &.flag-Nauru {
        .stitches-flag(-264px, -216px, 24px, 24px);
    }

    &.flag-Nepal {
        .stitches-flag(-288px, -216px, 24px, 24px);
    }

    &.flag-Netherlands {
        .stitches-flag(-312px, -216px, 24px, 24px);
    }

    &.flag-Netherlands-antilles {
        .stitches-flag(-336px, -216px, 24px, 24px);
    }

    &.flag-New-Zealand {
        .stitches-flag(-360px, -216px, 24px, 24px);
    }

    &.flag-New-caledonia {
        .stitches-flag(0, -240px, 24px, 24px);
    }

    &.flag-Nicaragua {
        .stitches-flag(-24px, -240px, 24px, 24px);
    }

    &.flag-Niger {
        .stitches-flag(-48px, -240px, 24px, 24px);
    }

    &.flag-Nigeria {
        .stitches-flag(-72px, -240px, 24px, 24px);
    }

    &.flag-Niue {
        .stitches-flag(-96px, -240px, 24px, 24px);
    }

    &.flag-Norfolk-island {
        .stitches-flag(-120px, -240px, 24px, 24px);
    }

    &.flag-North-korea {
        .stitches-flag(-144px, -240px, 24px, 24px);
    }

    &.flag-Northern-Mariana {
        .stitches-flag(-168px, -240px, 24px, 24px);
    }

    &.flag-Northern-ireland {
        .stitches-flag(-192px, -240px, 24px, 24px);
    }

    &.flag-Norway {
        .stitches-flag(-216px, -240px, 24px, 24px);
    }

    &.flag-Oman {
        .stitches-flag(-240px, -240px, 24px, 24px);
    }

    &.flag-Pakistan {
        .stitches-flag(-264px, -240px, 24px, 24px);
    }

    &.flag-Palau {
        .stitches-flag(-288px, -240px, 24px, 24px);
    }

    &.flag-Palestinian-Territory {
        .stitches-flag(-312px, -240px, 24px, 24px);
    }

    &.flag-Panama {
        .stitches-flag(-336px, -240px, 24px, 24px);
    }

    &.flag-Papua-new-guinea {
        .stitches-flag(-360px, -240px, 24px, 24px);
    }

    &.flag-Paraguay {
        .stitches-flag(0, -264px, 24px, 24px);
    }

    &.flag-Peru {
        .stitches-flag(-24px, -264px, 24px, 24px);
    }

    &.flag-Philippines {
        .stitches-flag(-48px, -264px, 24px, 24px);
    }

    &.flag-Pitcairn {
        .stitches-flag(-72px, -264px, 24px, 24px);
    }

    &.flag-Poland {
        .stitches-flag(-96px, -264px, 24px, 24px);
    }

    &.flag-Portugal {
        .stitches-flag(-120px, -264px, 24px, 24px);
    }

    &.flag-Puerto-rico {
        .stitches-flag(-144px, -264px, 24px, 24px);
    }

    &.flag-Qatar {
        .stitches-flag(-168px, -264px, 24px, 24px);
    }

    &.flag-Reunion {
        .stitches-flag(-192px, -264px, 24px, 24px);
    }

    &.flag-Romania {
        .stitches-flag(-216px, -264px, 24px, 24px);
    }

    &.flag-Russia {
        .stitches-flag(-240px, -264px, 24px, 24px);
    }

    &.flag-Rwanda {
        .stitches-flag(-264px, -264px, 24px, 24px);
    }

    &.flag-Saint-Helena {
        .stitches-flag(-288px, -264px, 24px, 24px);
    }

    &.flag-Saint-Pierre-and-Miquelon {
        .stitches-flag(-312px, -264px, 24px, 24px);
    }

    &.flag-Saint-Vincent-and-the-Grenadines {
        .stitches-flag(-336px, -264px, 24px, 24px);
    }

    &.flag-Saint-barthelemy {
        .stitches-flag(-360px, -264px, 24px, 24px);
    }

    &.flag-Saint-kitts-and-nevis {
        .stitches-flag(0, -288px, 24px, 24px);
    }

    &.flag-Saint-lucia {
        .stitches-flag(-24px, -288px, 24px, 24px);
    }

    &.flag-Samoa {
        .stitches-flag(-48px, -288px, 24px, 24px);
    }

    &.flag-San-marino {
        .stitches-flag(-72px, -288px, 24px, 24px);
    }

    &.flag-Sao-Tome-and-Principe {
        .stitches-flag(-96px, -288px, 24px, 24px);
    }

    &.flag-Saudi-arabia {
        .stitches-flag(-120px, -288px, 24px, 24px);
    }

    &.flag-Scotland {
        .stitches-flag(-144px, -288px, 24px, 24px);
    }

    &.flag-Senegal {
        .stitches-flag(-168px, -288px, 24px, 24px);
    }

    &.flag-Serbia {
        .stitches-flag(-192px, -288px, 24px, 24px);
    }

    &.flag-Seychelles {
        .stitches-flag(-216px, -288px, 24px, 24px);
    }

    &.flag-Sierra-leone {
        .stitches-flag(-240px, -288px, 24px, 24px);
    }

    &.flag-Singapore {
        .stitches-flag(-264px, -288px, 24px, 24px);
    }

    &.flag-Sint-Eustatius {
        .stitches-flag(-288px, -288px, 24px, 24px);
    }

    &.flag-Sint-Maarten {
        .stitches-flag(-312px, -288px, 24px, 24px);
    }

    &.flag-Slovakia {
        .stitches-flag(-336px, -288px, 24px, 24px);
    }

    &.flag-Slovenia {
        .stitches-flag(-360px, -288px, 24px, 24px);
    }

    &.flag-Solomon-islands {
        .stitches-flag(0, -312px, 24px, 24px);
    }

    &.flag-South-Georgia {
        .stitches-flag(-24px, -312px, 24px, 24px);
    }

    &.flag-South-Korea {
        .stitches-flag(-48px, -312px, 24px, 24px);
    }

    &.flag-South-Sudan {
        .stitches-flag(-72px, -312px, 24px, 24px);
    }

    &.flag-South-africa {
        .stitches-flag(-96px, -312px, 24px, 24px);
    }

    &.flag-Spain {
        .stitches-flag(-120px, -312px, 24px, 24px);
    }

    &.flag-Sri-lanka {
        .stitches-flag(-144px, -312px, 24px, 24px);
    }

    &.flag-Sudan {
        .stitches-flag(-168px, -312px, 24px, 24px);
    }

    &.flag-Suriname {
        .stitches-flag(-192px, -312px, 24px, 24px);
    }

    &.flag-Svalbard {
        .stitches-flag(-216px, -312px, 24px, 24px);
    }

    &.flag-Swaziland {
        .stitches-flag(-240px, -312px, 24px, 24px);
    }

    &.flag-Sweden {
        .stitches-flag(-264px, -312px, 24px, 24px);
    }

    &.flag-Switzerland {
        .stitches-flag(-288px, -312px, 24px, 24px);
    }

    &.flag-Syria {
        .stitches-flag(-312px, -312px, 24px, 24px);
    }

    &.flag-Taiwan {
        .stitches-flag(-336px, -312px, 24px, 24px);
    }

    &.flag-Tajikistan {
        .stitches-flag(-360px, -312px, 24px, 24px);
    }

    &.flag-Tanzania {
        .stitches-flag(0, -336px, 24px, 24px);
    }

    &.flag-Thailand {
        .stitches-flag(-24px, -336px, 24px, 24px);
    }

    &.flag-Timor-leste {
        .stitches-flag(-48px, -336px, 24px, 24px);
    }

    &.flag-Togo {
        .stitches-flag(-72px, -336px, 24px, 24px);
    }

    &.flag-Tokelau {
        .stitches-flag(-96px, -336px, 24px, 24px);
    }

    &.flag-Tonga {
        .stitches-flag(-120px, -336px, 24px, 24px);
    }

    &.flag-Trinidad-and-tobago {
        .stitches-flag(-144px, -336px, 24px, 24px);
    }

    &.flag-Tunisia {
        .stitches-flag(-168px, -336px, 24px, 24px);
    }

    &.flag-Turkey {
        .stitches-flag(-192px, -336px, 24px, 24px);
    }

    &.flag-Turkmenistan {
        .stitches-flag(-216px, -336px, 24px, 24px);
    }

    &.flag-Turks-and-Caicos {
        .stitches-flag(-240px, -336px, 24px, 24px);
    }

    &.flag-Tuvalu {
        .stitches-flag(-264px, -336px, 24px, 24px);
    }

    &.flag-USA {
        .stitches-flag(-288px, -336px, 24px, 24px);
    }

    &.flag-Uganda {
        .stitches-flag(-312px, -336px, 24px, 24px);
    }

    &.flag-Ukraine {
        .stitches-flag(-336px, -336px, 24px, 24px);
    }

    &.flag-United-States-Virgin-Islands {
        .stitches-flag(-360px, -336px, 24px, 24px);
    }

    &.flag-United-arab-emirates {
        .stitches-flag(0, -360px, 24px, 24px);
    }

    &.flag-United-kingdom {
        .stitches-flag(-24px, -360px, 24px, 24px);
    }

    &.flag-Uruguay {
        .stitches-flag(-48px, -360px, 24px, 24px);
    }

    &.flag-Uzbekistan {
        .stitches-flag(-72px, -360px, 24px, 24px);
    }

    &.flag-Vanuatu {
        .stitches-flag(-96px, -360px, 24px, 24px);
    }

    &.flag-Vatican-city {
        .stitches-flag(-120px, -360px, 24px, 24px);
    }

    &.flag-Venezuela {
        .stitches-flag(-144px, -360px, 24px, 24px);
    }

    &.flag-Vietnam {
        .stitches-flag(-168px, -360px, 24px, 24px);
    }

    &.flag-Wales {
        .stitches-flag(-192px, -360px, 24px, 24px);
    }

    &.flag-Wallis-and-futuna {
        .stitches-flag(-216px, -360px, 24px, 24px);
    }

    &.flag-Yemen {
        .stitches-flag(-240px, -360px, 24px, 24px);
    }

    &.flag-Zambia {
        .stitches-flag(-264px, -360px, 24px, 24px);
    }

    &.flag-Zimbabwe {
        .stitches-flag(-288px, -360px, 24px, 24px);
    }

    &.flag-greece {
        .stitches-flag(-312px, -360px, 24px, 24px);
    }

    &.flag-somalia {
        .stitches-flag(-336px, -360px, 24px, 24px);
    }
}
