{% load i18n %}
<script type="text/ng-template" id="addProjectTranslationModal.html">
    <div class="modal-header">
        <button type="button"
                class="bootbox-close-button close"
                ng-click="cancel()">×</button>
        <h3 class="modal-title">{% trans "Add project translation" %}</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <div class="">
                    <select class="form-control"
                            ng-model="target_lang">
                            <option value="" disabled selected>{% trans "Target language" %}</option>
                        {% for language in languages %}
                            <option value='{{ language.id }}'>{{ language.localized_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            <div class="form-group" ng-show="error">
                <div class="label label-danger">{= error =}</div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success"
                ng-click="ok()"
                ng-disabled="busy">{% trans "Add" %}</button>
    </div>
</script>