{% load i18n %}
{% trans 'Advanced options' as advanced_options_label %}
{% trans 'Fragmentation type:' as fragmentation_type %}
{% trans 'By sentence' as by_sentence %}
{% trans 'Line by line' as line_by_line %}
<style>
    .drop-box-icon {
        position: absolute;
        top: 115px;
        left: 40%;
        opacity: .3;
        font-size: 110px;
    }
    .drop-box-inner span {
        opacity: .99;
    }
</style>
<script type="text/ng-template" id="addTextModal.html">
    <div class="modal-header">
        <button type="button"
                class="bootbox-close-button close"
                ng-click="cancel()">×</button>
        <h3 class="modal-title">{% trans "Add document" %}</h3>
    </div>
    <div class="modal-body">
        <form ng-init="tab=0">
            <div class="form-group">
                <input type="text"
                       placeholder="{% trans "Title" %}"
                       class="form-control"
                       ng-model="text.title">
            </div>
            <div class="form-group" style="display: none">
                <select class="form-control"
                        ng-model="text.subject">
                    <option value="" disabled selected>Select subject</option>
                    {% for subject in subjects %}
                        <option value="{{ subject.id }}">{{ subject.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group"
                 ng-show="!glossary.id">
                <div class="switcher">
                    <a class="switcher__button"
                       ng-class="{'switcher__button_active': tab === 0}"
                       ng-click="tab = 0"
                       ng-show="1">
                        <span>{% trans "Upload file" %}</span>
                    </a>
                    <a class="switcher__button"
                       ng-class="{'switcher__button_active': tab === 1}"
                       ng-click="tab = 1">
                        <span>{% trans "Insert plain text" %}</span>
                    </a>
                </div>
            </div>
            <div class="form-group" ng-if="tab === 0">
                <div ngf-drop
                     ngf-select
                     ng-model="text.files"
                     class="drop-box"
                     ngf-drag-over-class="drag-over"
                     ngf-multiple="false"
                     ngf-allow-dir="false">
                    <div class="drop-box-inner">
                        <div class="drop-box-icon">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                        <span ng-show="text.files.length">{= text.files[0].name =}</span>
                        <span ng-show="!text.files.length">{% trans "Click here to upload file or drag file here to upload.</br> Supported formats: DOCX, XLSX, SRT, ASS, POT, PO, MO, TXT." %}</span>
                    </div>
                </div>
                <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
            </div>
            <div class="form-group" ng-if="tab === 1">
                <textarea class="form-control" cols="30" rows="10"
                          ng-model="text.textBody"></textarea>
            </div>

            <div class="form-group" ng-show="error">
                <div class="label label-danger">{= error =}</div>
            </div>
            <a class="btn btn-link" ng-click="(addTextAdvancedOptions = !addTextAdvancedOptions) && addTextAdvancedOptions">{{ advanced_options_label }}</a>
            <div class="new-project__advanced-options"
                 ng-show="addTextAdvancedOptions">
                <div class="form-group">
                    <label>
                        <span class="lbl">{{ fragmentation_type }} </span>
                        <select name="split_mode" ng-model="splitMode"
                                ng-init="splitMode='default'">
                            <option selected value="default">{{ by_sentence }}</option>
                            <option value="line">{{ line_by_line }}</option>
                        </select>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <div class="progress-bar"
             ng-show="busy">
            <div class="progress-bar__gauge"
                 style="width: 1%;background:rgb(255, 217, 121)"
                 ng-style="{width: progress + '%'}"></div>
        </div>
        <button class="btn btn-success"
                ng-click="ok()"
                ng-disabled="busy">{% trans "Next" %}</button>
    </div>
</script>