{% load i18n %}
<script type="text/ng-template" id="addGlossaryModal.html">
    <div class="modal-header">
        <button type="button"
                class="bootbox-close-button close"
                ng-click="cancel()">×</button>
        <h3 class="modal-title"
            ng-show="!glossary.id">{% trans "Add glossary" %}</h3>
        <h3 class="modal-title"
            ng-show="glossary.id">{% trans "Edit glossary" %}</h3>
    </div>
    <div class="modal-body">
        <form ng-init="tab = 0">
            <div class="form-group"
                 ng-show="!glossary.id">
                <div class="switcher">
                    <a class="switcher__button"
                       ng-class="{'switcher__button_active': tab === 0}"
                       ng-click="tab = 0">
                        <span>{% trans "Upload" %}</span>
                    </a>
                    <a class="switcher__button"
                       ng-class="{'switcher__button_active': tab === 1}"
                       ng-click="tab = 1">
                        <span>{% trans "Manual add" %}</span>
                    </a>
                </div>
            </div>
            <div class="form-group">
                <input type="text"
                       placeholder="{% trans "Glossary name" %}"
                       class="form-control"
                       ng-model="glossary.name">
            </div>
            <div class="form-group"
                 ng-if="!glossary.id && tab === 0">
                <div ngf-drop
                     ngf-select
                     ng-model="glossary.files"
                     class="drop-box"
                     ngf-drag-over-class="drag-over"
                     ngf-multiple="false"
                     ngf-allow-dir="false"
                     accept="*">
                    <div class="drop-box-inner">
                        <div class="drop-box-icon">
                            <i class="fa fa-file-text-o"></i>
                        </div>
                        <span ng-show="glossary.files.length">{= glossary.files[0].name =}</span>
                        <span ng-show="!glossary.files.length">Click here to upload file or drag file here to upload</span>
                    </div>
                </div>
            </div>
            <div ng-if="glossary.id || tab === 1">
                <div class="glossary-manual" ng-repeat="row in glossary.rows">
                    <div class="glossary-manual__input">
                        <input class="form-control" type="text"
                               ng-model="row[0]"
                               ng-change="changeRow($index)"/>
                    </div>
                    <div class="glossary-manual__arrow">
                        <label for="exampleInputName2">→</label>
                    </div>
                    <div class="glossary-manual__input">
                        <input class="form-control" type="text"
                               ng-model="row[1]"
                               ng-change="changeRow($index)"/>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-show="error">
                <div class="label label-danger">{= error =}</div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success"
                ng-click="ok()"
                ng-disabled="busy">
            <span ng-show="!glossary.id">{% trans "Add" %}</span>
            <span ng-show="glossary.id">{% trans "Save" %}</span>
        </button>
    </div>
</script>