{% load i18n %}
<script type="text/ng-template" id="editTextModal.html">
    <div class="modal-header">
        <button type="button"
                class="bootbox-close-button close"
                ng-click="cancel()">×</button>
        <h3 class="modal-title">{% trans "Edit text" %}</h3>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group">
                <input type="text"
                       placeholder="{% trans 'Title' %}"
                       class="form-control"
                       ng-model="text.title">
            </div>
            <div class="form-group" style="display: none;">
                <select class="form-control"
                        ng-model="text.subject">
                    <option value="" disabled selected>Select subject</option>
                    {% for subject in subjects %}
                        <option value="{{ subject.id }}">{{ subject.name }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="switcher">
                <a class="switcher__button"
                   ng-repeat="translation in text.translations"
                   ng-class="{'switcher__button_active': $parent.options.currentTranslation === translation}"
                   ng-click="$parent.options.currentTranslation = translation">
                    <span>{= translation.langLocal =}</span>
                    <span ng-show="!translation.langLocal">{% trans "New" %}</span>
                </a>
                <a class="switcher__button"
                   ng-class="{'switcher__button_active': textTab === 1}"
                   ng-click="options.addNewTranslation = true"
                   ng-show="!options.addNewTranslation">
                    <span ng-show="!options.addNewTranslation"><i class="fa fa-plus"
                   tooltip="{% trans 'Add translation' %}"
                   tooltip-append-to-body="true"></i></span>
                </a>
                <ui-select ng-show="options.addNewTranslation"
                           ng-model="options.NewTranslationTargetLang"
                           ng-change="addTranslation(options.NewTranslationTargetLang)"
                           theme="selectize"
                           ng-disabled="disabled" style="width: 180px;">
                    <ui-select-match placeholder="Choose language">{= $select.selected.name =}</ui-select-match>
                    <ui-select-choices repeat="language in getLanguages() | filter: $select.search">
                      {= language.langLocal =}
                    </ui-select-choices>
                </ui-select>
            </div>

            <div class="glossary-manual ng-scope" ng-show="!!options.currentTranslation">
                <div class="pull-right">
                    <a class="btn btn-warning" href=""
                       ng-click="removeTranslation(options.currentTranslation)"
                       ng-disabled="options.addNewTranslation">{% trans 'Remove' %}</a>
                </div>
                <div class="glossary-manual__input">
                    <label for="">{% trans 'Glossaries' %}:</label>
                    <div ng-repeat="glossary in glossaries">
                        <label class="middle" for="input_glossary_{= glossary.id =}">
                            <input class="ace"
                                   type="checkbox"
                                   id="input_glossary_{= glossary.id =}"
                                   ng-click="toggleGlossary(glossary.id)"
                                   ng-checked="options.currentTranslation.glossaries.indexOf(glossary.id) > -1"/>
                            <span class="lbl">
                                {= glossary.name =}
                            </span>
                        </label>
                    </div>
                </div>
                <div class="glossary-manual__input">
                    <label for="">{% trans 'TMXes' %}:</label>
                    <div ng-repeat="tmx in tmxes">
                        <label class="middle" for="input_tmx_{= tmx.id =}">
                            <input class="ace"
                                   type="checkbox"
                                   id="input_tmx_{= tmx.id =}"
                                   ng-click="toggleTmx(tmx.id)"
                                   ng-checked="options.currentTranslation.tmxes.indexOf(tmx.id) > -1"/>
                            <span class="lbl">
                                {= tmx.name =}
                            </span>
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-show="error">
                <div class="label label-danger">{= error =}</div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning pull-left"
                ng-click="remove()"
                ng-disabled="busy">{% trans "Delete text" %}</button>
        <button class="btn btn-success"
                ng-click="ok()"
                ng-disabled="busy">{% trans "Save" %}</button>
    </div>
</script>