{% load i18n %}
<script type="text/ng-template" id="selectTextRangesModal.html">
    <div class="modal-header">
        <button type="button"
                class="bootbox-close-button close"
                ng-click="cancel()">×</button>
        <h3 class="modal-title">{% trans "Select cells for translating" %}</h3>
    </div>
    <div class="modal-body">
        <div class="switcher2">
            <a href=""
               class="switcher2__button"
               ng-repeat="(sheetName, sheet) in sheets"
               ng-class="{'switcher2__button_active': currentSheetName === sheetName}"
               ng-click="currentSheetName = sheetName">{= sheetName =}</a>
        </div>

        <div ng-repeat="(sheetName, sheet) in sheets"
             ng-show="currentSheetName === sheetName">
            <handsontable sheet="sheet"
                          on-update="updateResult(sheetName, value)"></handsontable>
        </div>
    </div>
    <div class="modal-footer">
        <div class="progress-bar"
             ng-show="busy">
            <div class="progress-bar__gauge"
                 style="width: 1%;background:rgb(255, 217, 121)"
                 ng-style="{width: progress + '%'}"></div>
        </div>
        <button class="btn btn-success"
                ng-click="ok()"
                ng-disabled="busy">{% trans "Next" %}</button>
    </div>
</script>