@headerColor: #2b7cb5;
@annotation: #989898;
@entryColor: #77cb49;

@mainBlue: #438eb9;

@grayBg: #f5f5f5;

@grayBorder: #e8e8e8;
@darkBlue: #115770;

@grayText: #868686;



@fontFamily: 'Ubuntu', 'Helvetica Neue', Helvetica, Arial, sans-serif;

