{% load i18n %}
<script type="text/ng-template" id="addOrgParticipantModal.html">
    <div class="modal-header">
        <button type="button"
                class="bootbox-close-button close"
                ng-click="cancel()">×</button>
        <h3 class="modal-title">{% trans "Invite organization participant" %}</h3>
    </div>
    <div class="modal-body">
        <div class="participant-invite-link" style="margin-bottom: 20px;">
            <span>
                {% trans "Invite users from all over the world via link:" %}
            </span>
            <div class="input-group">
{#                <span class="input-group-addon"#}
{#                      tooltip="{% trans 'Re-create' %}"#}
{#                      tooltip-append-to-body="true">#}
{#                    <i class="fa fa-recycle" aria-hidden="true"></i>#}
{#                </span>#}
                <input class="form-control" type="text" id="form-field-mask-3" readonly="true" value="{% ifequal request.is_secure|lower true %}https{% else %}http{% endifequal %}://{{request.get_host }}/org/i/{{ organization.invite_link_code }}/">
                <span class="input-group-addon"
                      ng-click-copy="{% ifequal request.is_secure|lower true %}https{% else %}http{% endifequal %}://{{request.get_host }}/org/i/{{ organization.invite_link_code }}/"
                      tooltip="{% trans 'Copy' %}"
                      tooltip-append-to-body="true">
                    <i class="fa fa-clipboard" aria-hidden="true"></i>
                </span>
            </div>
        </div>
        <span>
            {% trans "or find one among the users of Tolma.ch:" %}
        </span>
        <form>
            <div class="form-group">
                <input type="text"
                       id="form-field-1"
                       placeholder="{% trans "Enter nick or name" %}"
                       class="form-control"
                       ng-model="user"
                       typeahead="user as user.username for user in getUsers($viewValue)"
                       typeahead-template-url="userTypeaheadTemplate.html"></div>

            <div class="form-group" ng-show="error">
                <div class="label label-danger">{= error =}</div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success"
                ng-click="ok()"
                ng-disabled="busy">{% trans "Invite" %}</button>
    </div>
</script>