{% load i18n %}

<script type="text/ng-template" id="allMessagesModal.html">
    <div class="modal-header">
        <button type="button"
                class="bootbox-close-button close"
                ng-click="cancel()">×</button>
        <h3 class="modal-title">{% trans "Notifications" %}</h3>
    </div>
    <div class="modal-body">
        <ul class="msg-list">
            <li ng-repeat="message in messages"
                class="msg-item"
                ng-class="{'unread': !message.was_read}"
                ng-mouseenter="readMessage(message)">
                <div class="msg-avatar">
                    <div class="user-avatar">
                        <img src="/media/{= message.sender_ava =}" class="msg-photo" alt="avatar" />
                    </div>
                </div>
                <span class="msg-time">
                    <i class="fa-time"></i>
                    <span>{= message.time_created | date:'short' =}</span>
                </span>
                <span class="msg-body">
                    <span class="msg-title">
                        <span class="blue">{= message.originator =}:</span>
                        <span class="msg-text" ng-if="message.type == 'uninvite'">{% trans "You were removed from the project" %} "<a href="/project/{= message.project_id =}/"">{= message.project =}</a>"</span>
                        <span class="msg-text" ng-if="message.type == 'invite'">{% trans "You were invited to the project" %} "<a href="/project/{= message.project_id =}/"">{= message.project =}</a>"</span>
                        <span class="msg-text" ng-if="message.type == 'edit'">{% trans "Your translation was edited. Original text:" %}<br>
                            <code>{= message.original_text =}</code><br>
                            {% trans "New text:" %}<br>
                            <code>{= message.new_text =}</code>
                            <br><br>
                            <a href="{= message.fragment_url =}">{% trans "Go to fragment" %}</a>
                        </span>
                        <span class="msg-text" ng-if="message.type == 'approved-edited-by-translator'">
                            {% trans "Translator edited one of his already approved translations. It was disapproved now." %}<br>
                            {% trans "New text:" %}<br>
                            <code>{= message.new_text =}</code>
                            <br>
                            <a href="{= message.fragment_url =}">{% trans "Go to fragment" %}</a>
                        </span>
                    </span>
                </span>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
    </div>
</script>