{% load i18n %}

<script type="text/ng-template" id="editProfileModal.html">
    <div class="modal-header">
        <button type="button"
                class="bootbox-close-button close"
                ng-click="cancel()">×</button>
        <h3 class="modal-title">{% trans "Edit Profile" %}</h3>
    </div>
    <div class="modal-body">
        <form>
            <image-crop
                data-width="300"
                data-height="300"
                data-shape="circle"
                data-result="imageCropResult"
                data-step="imageCropStep"
                ng-hide="imageCropResult"
                ></image-crop>

            <div class="image-crop-result" ng-show="imageCropResult">
                <img ng-src="{= imageCropResult =}" alt="The Cropped Image">
            </div>

            <p ng-show="imageCropResult">
                <a class="btn btn-default"
                   ng-click="imageCropResult=null;imageCropStep=1"
                   ng-disabled="busy">Загрузить другое изображение</a>
            </p>

            <div class="form-group">
                <label class="control-label no-padding-right" for="form-field-1"> {% trans "Nickname" %}: </label>
                <div class="">
                    <input type="text"
                           id="form-field-1"
                           placeholder="{% trans "Nickname" %}"
                           class="form-control"
                           ng-model="userData.username">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right" for="form-field-2"> {% trans "First Name" %}: </label>
                <div class="">
                    <input type="text"
                           id="form-field-2"
                           placeholder="{% trans "First Name" %}"
                           class="form-control"
                           ng-model="userData.firstName">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right" for="form-field-3"> {% trans "Last Name" %}: </label>
                <div class="">
                    <input type="text"
                           id="form-field-3"
                           placeholder="{% trans "Last Name" %}"
                           class="form-control"
                           ng-model="userData.lastName">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label no-padding-right" for="form-field-3"> {% trans "Website" %}: </label>
                <div class="">
                    <input type="text"
                           id="form-field-3"
                           placeholder="{% trans "Website" %}"
                           class="form-control"
                           ng-model="userData.website">
                </div>
            </div>
            <div class="form-group" ng-show="error">
                <div class="label label-danger">{= error =}</div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success"
                ng-click="ok()"
                ng-disabled="busy">{% trans "Save" %}</button>
    </div>
</script>