<script type="text/ng-template" id="globalSearchTypeaheadTemplate.html">
    <a class="search-result">
        <div class="search-result__icon">
            <i aria-hidden="true"
               ng-class="{'fa fa-align-center': (match.model.type == 'fragment'),
                          'fa fa-user': (match.model.type == 'user')}"></i>
        </div>
        <div class="search-result__text">
            <span class="search-result__text__main" ng-bind-html="match.model.searched_text | typeaheadHighlight:query"></span>
            <span class="search-result__text__parent" ng-bind-html="match.model.parent_text | typeaheadHighlight:query"></span>
            <span class="search-result__text__additional_data" ng-if="match.model.type == 'fragment'">
                <i class="fa fa-file-text-o" aria-hidden="true"></i><span ng-bind-html="match.model.additional_data.page | typeaheadHighlight:query"></span>
                <i class="fa fa-align-center" aria-hidden="true"></i><span ng-bind-html="match.model.additional_data.fragment | typeaheadHighlight:query"></span>
            </span>
        </div>
    </a>
</script>