{% extends "tolmach/organization.html" %}
{% load i18n %}

{% block tab-content %}
                <div id="projects" class="tab-pane active">
                    <div class="user-statistics__recent-progress">
                        <div class="user-statistics__recent-progress-table">
                            <table cellpadding="0" cellspacing="0" class="user-statistics-table">
                                <tbody>
                                    <tr class="user-statistics-table__row"
                                    ng-repeat="member in members">
                                        <td class="user-statistics-table__title">
                                            <a href="/user/{=:: member.id =}/">
                                                <span class="user-statistics-table__project-title">{=:: member.name =}</span>
                                            </a>
                                        </td>
                                        <td class="user-statistics-table__progress">
                                            <span ng-if="(member.status === 'owner')">{% trans "owner" %}</span>
                                            {% if is_admin %}
                                            <span ng-if="(member.status != 'owner')">
                                                <input type="checkbox"
                                                   ng-model="member.status"
                                                   name="status-{::= member.id =}"
                                                   ng-change="changeAdminStatus(member)">
                                                <label for="status-{::= member.id =}">{% trans "admin" %}</label>
                                            </span>
                                            {% else %}
                                                <span ng-if="(member.status != 'owner') && (member.status == true)">
                                                    {% trans "admin" %}
                                                </span>
                                            {% endif %}
                                        </td>
                                        <td class="user-statistics-table__remove-btn">
                                            {% if is_admin %}
                                            <a class="tooltip-warning" href=""
                                               tooltip="{% trans 'Remove participant' %}"
                                               tooltip-append-to-body="true"
                                               ng-if="(member.status != 'owner')"
                                               popover-template="'removeOrgParticipantPopover.html'"
                                               popover-placement="left"
                                               popover-append-to-body="true"
                                               class="btn btn-default"><i class="fa fa-trash-o"></i></a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            {% if is_admin %}
                            <a href="" class="btn helped-block btn-sm new-proj-block-btn"
                                   ng-click="addOrgParticipant()"
                                   help-text="{% trans 'Click this button to invite users to your organization' %}">{% trans "Invite" %}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
    {% if is_owner %}
    {% include "tolmach/partial/add_org_participant_modal.html" %}
    {% include "tolmach/partial/remove_org_participant_popover.html" %}
    {% include "translations/partial/user_typeahead_template.html" %}
    {% endif %}
{% endblock %}