                        <table cellpadding="0" cellspacing="0" class="user-statistics-table" ng-show="!busy">
                            <tbody>
                                <tr class="user-statistics-table__row" ng-repeat="project in projects.object_list" ng-cloak>
                                    <td class="user-statistics-table__title">
                                        <a href="/project/{=:: project.id =}/">
                                            <span class="user-statistics-table__project-manager"
                                                  ng-if="(project.organization.id > 0) &&
                                                        ({{ organization.id }} !== project.organization.id)"
                                            ><i class="fa fa-sitemap"></i> {=:: project.organization.name|limitTo:20 =} /</span>
                                            <span class="user-statistics-table__project-manager"
                                                  ng-if="(project.manager.username !== '{{ user.username }}') && (project.organization.id == 0)"> {=:: project.manager.username | limitTo:20 =} /</span>
                                            <span class="user-statistics-table__project-title">{=:: project.name =}</span>
                                            <div class="progress-bar progress-bar-mobile">
                                                <div class="progress-bar__gauge" style="width:{=:: project.progress[0] =}%;background:#02c14f"></div>
                                                <div class="progress-bar__gauge" style="width:{=:: project.progress[1] =}%;background:rgb(255, 217, 121)"></div>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="user-statistics-table__progress">
                                        <div class="progress-bar">
                                            <div class="progress-bar__gauge" style="width:{=:: project.progress[0] =}%;background:#02c14f"></div>
                                            <div class="progress-bar__gauge" style="width:{=:: project.progress[1] =}%;background:rgb(255, 217, 121)"></div>
                                            <span class="progress-bar__value">{=:: project.progress[0] =}%</span>
                                        </div>
                                    </td>
                                    <td class="user-statistics-table__remove-btn">
                                        <i class="fa fa-lock" ng-if="project.is_private == true"></i>
                                    </td>
                                </tr>
                                <div class="user-statistics-table__preloader" id="projects-preloader" ng-show="busy">
                                    {% include "tolmach/partial/preloader.html" %}
                                </div>
                                <div class="projects-background"
                                     ng-if="projects.object_list.length == 0"
                                     ng-cloak>
                                    <div class="projects-background__tabs">
                                        <span class="projects-background__icon">
                                            <i class="fa fa-file-text-o projects-background__icon__back" aria-hidden="true">
                                                <i class="fa fa-file-text-o projects-background__icon__front" aria-hidden="true"></i>
                                            </i>
                                        </span>
                                        <span class="projects-background__text">
                                            {{ empty_projects_label }}
                                        </span>
                                    </div>
                                </div>
                            </tbody>
                        </table>

                        <div class="pagination-block" style="margin: 0 auto; margin-bottom: -20px;"
                            ng-if="projects.paginator.num_pages > 1"
                            ng-cloak>
                            <ul class="pagination projects-paginator">
                                <li ng-class="{'disabled': projects.paginator.has_previous !== true }">
                                    <a href=""
                                       ng-click="changePage(projects.paginator.previous_page_number)">
                                        <i class="fa fa-angle-double-left"></i>
                                    </a>
                                </li>

                                <li ng-class="{'active': page == i}"
                                    ng-repeat="i in projects.paginator.page_range">
                                    <a href=""
                                       ng-click="changePage(i)"
                                       ng-if="i > (page - 4) && i < (page + 4)">
                                        {= i =}
                                    </a>
                                </li>

                                <li ng-class="{'disabled': projects.paginator.has_next !== true }">
                                    <a href=""
                                       ng-click="changePage(projects.paginator.next_page_number)">
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>