{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Tolma.ch">
    <meta property="og:title" content="Tolma.ch - Переводим вместе!">
    <meta property="og:description" content="«Толмач» - это интергированная среда перевода, сервис, объединяющий в себе все необходимые переводчику инструменты в одном месте — глоссарии, базы памяти перевода, словари, машинные переводы и многое другое.">
    <meta property="og:url" content="{{ base_domain }}">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="{{ base_domain }}{{ og_img_url }}">
    <meta property="og:image:width" content="968">
    <meta property="og:image:height" content="504">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Tolma.ch - Переводим вместе!">
    <meta name="twitter:description" content="«Толмач» - это интергированная среда перевода, сервис, объединяющий в себе все необходимые переводчику инструменты в одном месте — глоссарии, базы памяти перевода, словари, машинные переводы и многое другое.">
    <meta name="twitter:image:src" content="{{ base_domain }}{{ og_img_url }}">
    <meta name="twitter:url" content="{{ base_domain }}">
    <meta name="twitter:domain" content="tolma.ch">
    <meta name="twitter:site" content="@tolma_ch">
    <meta name="twitter:creator" content="@...">

    <meta xmlns="http://www.w3.org/1999/xhtml" http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <link rel="icon" href="../../favicon.ico"></link>

    <title>Tolma.ch</title>

    <link rel="stylesheet" href="{% static 'assets/bootstrap/dist/css/bootstrap.css' %}">
{#        <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>#}
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/landing.css' %}">
    <script src="{% static 'assets/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <title>Login</title>
</head>
<body>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
</script>

{% include 'tolmach/partial/register_modal.html' %}
{% include 'tolmach/partial/landing_javascript.html' %}

</body>
</html>