{% load i18n %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Tolma.ch">
    <meta property="og:title" content="Tolma.ch - Переводим вместе!">
    <meta property="og:description" content="«Толмач» - это интергированная среда перевода, сервис, объединяющий в себе все необходимые переводчику инструменты в одном месте — глоссарии, базы памяти перевода, словари, машинные переводы и многое другое.">
    <meta property="og:url" content="https://tolma.ch/">
    <meta property="og:locale" content="ru_RU">
    <meta property="og:image" content="{% static 'img/opengraph.png' %}">
    <meta property="og:image:width" content="968">
    <meta property="og:image:height" content="504">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Tolma.ch - Переводим вместе!">
    <meta name="twitter:description" content="«Толмач» - это интергированная среда перевода, сервис, объединяющий в себе все необходимые переводчику инструменты в одном месте — глоссарии, базы памяти перевода, словари, машинные переводы и многое другое.">
    <meta name="twitter:image:src" content="{% static 'img/opengraph.png' %}">
    <meta name="twitter:url" content="https://tolma.ch/">
    <meta name="twitter:domain" content="tolma.ch">
    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@...">

    <meta xmlns="http://www.w3.org/1999/xhtml" http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <link rel="icon" href="../../favicon.ico"></link>

    <title>Tolma.ch</title>

    <link rel="stylesheet" href="{% static 'assets/bootstrap/dist/css/bootstrap.css' %}">
{#        <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>#}
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/landing.css' %}">
    <script src="{% static 'assets/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/dist/js/bootstrap.min.j3s' %}"></script>
    <title>Login</title>
</head>
<body>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#myModal').modal('show');
    });
</script>

{% include 'tolmach/partial/register_modal.html' %}
        <script>
            $(function () {
                var currentSlide = 1,
                    countSlides = $('.slider-img').length,
                    showSlide = function (index) {
                        $('.slider-img').fadeOut();
                        $('.slider-img_' + index).fadeIn();
                        $('.slider-text').slideUp();
                        $('.slider-text_' + index).slideDown();
                        currentSlide = index;
                        $('#slideIndex').html(currentSlide);

                    };
                $('#slidesCount').html(countSlides);
                window.prevSlide = function () {
                    var index = currentSlide === 1 ? countSlides : currentSlide - 1;
                    showSlide(index);
                };
                window.nextSlide = function () {
                    var index = currentSlide >= countSlides  ? 1 : currentSlide + 1;
                    showSlide(index);
                };
                var $loginForm = $('#login-form'),
                    $registerForm = $('#register-form'),
                    $resetForm = $('#reset-form'),
                    $newPassForm = $('#new-pass-form'),
                    showErrorIterator = 0,
                    showError = function (mes) {
                        $('.form-error').text(mes).show();
                        showErrorIterator++;
                        var tempIterator = showErrorIterator;
                        setTimeout(function () {
                            if (tempIterator === showErrorIterator) {
                                $('.form-error').hide();
                            }
                        }, 3000);

                    },
                    showMessIterator = 0,
                    showMessage = function (mes) {
                        $('.socila-sign-block').hide();
                        $('.form-success').text(mes).show();
                        showMessIterator++;
                        var tempIterator = showMessIterator;
{#                        setTimeout(function () {#}
{#                            if (tempIterator === showMessIterator) {#}
{#                                $('.form-success').hide();#}
{#                            }#}
{#                        }, 3000);#}

                    },
                    getParameterByName = function (name, url) {
                        if (!url) url = window.location.href;
                        name = name.replace(/[\[\]]/g, "\\$&");
                        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                            results = regex.exec(url);
                        if (!results) return null;
                        if (!results[2]) return '';
                        return decodeURIComponent(results[2].replace(/\+/g, " "));
                    },
                    recoveryCode = getParameterByName('code');
                $('.open-modal-btn').click(function () {
                    console.log('show modal');
                    $loginForm.show();
                    $registerForm.hide();
                    $resetForm.hide();
                    $newPassForm.hide();
                });
                $('.login-link').click(function (e) {
                    e.preventDefault();
                    $loginForm.show();
                    $registerForm.hide();
                    $resetForm.hide();
                    $newPassForm.hide();
                });
                $('.register-link').click(function (e) {
                    e.preventDefault();
                    $loginForm.hide();
                    $registerForm.show();
                    $resetForm.hide();
                    $newPassForm.hide();
                });
                $('.reset-password-link').click(function (e) {
                    e.preventDefault();
                    $loginForm.hide();
                    $registerForm.hide();
                    $resetForm.show();
                    $newPassForm.hide();
                });
                if (recoveryCode) {
                    $('#myModal').modal('show');
                    console.log('show recovery');
                    $loginForm.hide();
                    $registerForm.hide();
                    $resetForm.hide();
                    $newPassForm.show();
                }
                $newPassForm.submit(function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    var password1 = $('#password1', $newPassForm).val();
                        password2 = $('#password2', $newPassForm).val();
                        csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]', $newPassForm).val();
                    if (password1 !== password2) {
                        showError('{% trans "Password is required field" %}');
                        return;
                    }
                    $('input', $newPassForm).attr('disabled', true);
                    $.ajax({
                        url: '/password-accept/',
                        method: 'post',
                        data: {
                            token: recoveryCode,
                            password: password1,
                            csrfmiddlewaretoken: csrfmiddlewaretoken
                        }
                    }).done(function (data) {
                        if (data['message']) {
                            $newPassForm.hide();
                            showMessage(data['message']);
                            setTimeout(function () {
                                location.href = "/";
                            }, 2000);
                        }
                    }).fail(function (data) {
                        if (data['responseJSON'] && data['responseJSON']['message']) {
                            showError(data['responseJSON']['message']);
                        }
                    }).always(function() {
                        $('input', $registerForm).removeAttr('disabled');
                    });
                });
                $loginForm.submit(function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    var username = $('#username', $loginForm).val(),
                        password = $('#password', $loginForm).val();
                        csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]', $loginForm).val();
                    if (!username) {
                        showError('{% trans "Username is required field" %}');
                        return;
                    }
                    if (!password) {
                        showError('{% trans "Password is required field" %}');
                        return;
                    }
                    $('input', $loginForm).attr('disabled', true);
                    $.ajax({
                        url: '/login/',
                        method: 'post',
                        data: {
                            username: username,
                            password: password,
                            csrfmiddlewaretoken: csrfmiddlewaretoken
                        }
                    }).done(function (data) {
                        if (data.redirect.length > 1) {
                            location.href = data.redirect;
                        } else {
                            location.href = "/";
                        }
                    }).fail(function (data) {
                        if (data['responseJSON'] && data['responseJSON']['message']) {
                            showError(data['responseJSON']['message']);
                        }
                    }).always(function() {
                        $('input', $loginForm).removeAttr('disabled');
                    });
                });
                $registerForm.submit(function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    var username = $('#username', $registerForm).val(),
                        email = $('#email', $registerForm).val();
                        password1 = $('#password1', $registerForm).val();
                        password2 = $('#password2', $registerForm).val();
                        csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]', $registerForm).val();
                    if (!username) {
                        showError('{% trans "Username is required field" %}');
                        return;
                    }
                    if (!email) {
                        showError('{% trans "Email is required field" %}');
                        return;
                    }
                    if (password1 !== password2) {
                        showError('{% trans "Password is required field" %}');
                        return;
                    }
                    $('input', $registerForm).attr('disabled', true);
                    $.ajax({
                        url: '/register/',
                        method: 'post',
                        data: {
                            username: username,
                            email: email,
                            password: password1,
                            csrfmiddlewaretoken: csrfmiddlewaretoken
                        }
                    }).done(function (data) {
                        location.href = "/";
                    }).fail(function (data) {
                        if (data['responseJSON'] && data['responseJSON']['message']) {
                            showError(data['responseJSON']['message']);
                        }
                    }).always(function() {
                        $('input', $registerForm).removeAttr('disabled');
                    });
                });
                $resetForm.submit(function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    var username = $('#username', $resetForm).val(),
                        csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]', $resetForm).val();
                    if (!username) {
                        showError('{% trans "Username is required field" %}');
                        return;
                    }
                    $('input', $resetForm).attr('disabled', true);
                    $.ajax({
                        url: '/password-reset/',
                        method: 'post',
                        data: {
                            username: username,
                            csrfmiddlewaretoken: csrfmiddlewaretoken
                        }
                    }).done(function (data) {
                        if (data['message']) {
                            $resetForm.hide();

                            showMessage(data['message']);
                        }
                    }).fail(function (data) {
                        if (data['responseJSON'] && data['responseJSON']['message']) {
                            showError(data['responseJSON']['message']);
                        }
                    }).always(function() {
                        $('input', $resetForm).removeAttr('disabled');
                    });
                });
            });
        </script>
</body>
</html>