<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
{% load i18n %}

{% trans "Translating together!" as trans_together %}
{% trans "Login via social networks" as social_networks %}
{% trans "What is «Tolmach»?" as what_is %}
{% trans "«Tolmach» is an integrated translating environment, service that combines all necessary tools for the translator in one place — glossaries, translation memory databases, dictionaries, machine translation engines and more. All the paperwork also will be done by «Tolmach». All you have to do is to load the document into the system. All the extraction of useful text and division up into easy to translate fragments will be produced automatically." as tolmach_ite %}
{% trans "A problem shared is a problem halved" as two_heads %}
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg">
    <head>
        <meta xmlns="http://www.w3.org/1999/xhtml" http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <link rel="icon" href="../../favicon.ico"></link>

        <title>Tolma.ch</title>

        <link rel="stylesheet" href="/static/assets/bootstrap/dist/css/bootstrap.css">
{#        <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>#}
        <link rel="stylesheet" href="/static/assets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/dist/landing.css">

        <style type="text/css">
            .blur {
                filter:url(#blur-svg);
            }
            svg {
                position: absolute;
                top: -1000px;
            }
        </style>
        {% if prod == 'true' %}
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter31835741 = new Ya.Metrika({
                            id:31835741,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/31835741" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        {% endif %}
    </head>
    <body>
        <div class="slide slide_1">
            <div class="wrap2">
                <div class="glass">
                    <div class="blur"></div>
                    <div class="white-sheet"></div>
                    <div class="glass-inner">
                        {% load social_auth_widget %}
                        <div class="logo"></div>
                        <h1>
                            {{ trans_together }}
                        </h1>
                        <p class="center">
                            <a href=""
                               class="btn btn-default"
                               data-toggle="modal"
                               data-target="#myModal">{% trans "Sign up and login" %}</a>
                        </p>
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title" id="myModalLabel">{% trans "Sign up and login" %}</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p class="center">
                                            {% trans "One-click sign up and login:" %}
                                        </p>
                                        <p class="center">
                                            {% social_auth_widget %}
                                        </p>
                                        <div class="hr"><span>{% trans "or" %}</span></div>
                                        <form action="/login/" id="login-form">
                                            <p class="center">
                                                {% trans "Log in using password:" %}
                                            </p>
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input class="form-control"
                                                       type="text"
                                                       id="username"
                                                       name="username"
                                                       placeholder="{% trans "Username" %}">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control"
                                                       type="password"
                                                       id="password"
                                                       name="password"
                                                       placeholder="{% trans "Password" %}">
                                            </div>
                                            <div class="form-group">
                                                <div class="pull-right">
                                                    <p>
                                                        <a href="" class="reset-password-link">{% trans "Forgot your password?" %}</a>
                                                    </p>
                                                    <p>
                                                        <a href="" class="register-link">{% trans "Sign up" %}</a>
                                                    </p>
                                                </div>
                                                <button class="btn btn-info" type="submit">{% trans "Log in" %}</button>
                                            </div>
                                        </form>
                                        <form action="" id="register-form" style="display: none;">
                                            <p class="center">
                                                {% trans "Sign up" %}:
                                            </p>
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input class="form-control"
                                                       type="text"
                                                       id="username"
                                                       name="username"
                                                       placeholder="{% trans "Username" %}">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control"
                                                       type="email"
                                                       id="email"
                                                       name="email"
                                                       placeholder="{% trans "Email" %}">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control"
                                                       type="password"
                                                       id="password1"
                                                       name="password1"
                                                       placeholder="{% trans "Password" %}">
                                            </div>
                                            <div class="form-group">
                                                <input class="form-control"
                                                       type="password"
                                                       id="password2"
                                                       name="password2"
                                                       placeholder="{% trans "Password confirmation" %}">
                                            </div>
                                            <div class="form-group">
                                                <div class="pull-right">
                                                    <p>
                                                        <a href="" class="reset-password-link">{% trans "Forgot your password?" %}</a>
                                                    </p>
                                                    <p>
                                                        <a href="" class="login-link">{% trans "Authorization" %}</a>
                                                    </p>
                                                </div>
                                                <button class="btn btn-info" type="submit">{% trans "Log in" %}</button>
                                            </div>
                                        </form>
                                        <form action="" id="reset-form" style="display: none;">
                                            <p class="center">
                                                {% trans "Reset password" %}:
                                            </p>
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <input class="form-control"
                                                       type="text"
                                                       id="username"
                                                       name="username"
                                                       placeholder="{% trans "username" %}">
                                            </div>
                                            <div class="form-group">
                                                <div class="pull-right">
                                                    <p>
                                                        <a href="" class="login-link">{% trans "Authorization" %}</a>
                                                    </p>
                                                    <p>
                                                        <a href="" class="register-link">{% trans "Registration" %}</a>
                                                    </p>
                                                </div>
                                                <button class="btn btn-info" type="submit">{% trans "Reset password" %}</button>
                                            </div>
                                        </form>
                                        <p class="form-error" style="display:none; color: #ff6e00;"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--<p class="center">или</p>-->
                        <!--<p class="center"><button class="btn" type="submit">Зарегистрироваться</button></p>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="slide slide_2">
            <div class="languages-poster">
                <div class="languages-poster__logo"></div>
            </div>
            <div class="container">
                <h1>{{ what_is }}</h1>
                <p class="center">{{ tolmach_ite }}</p>
                <div class="gap3"></div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="benefit benefit_1"></div>
                        <p class="upper-bold">{{ two_heads }}</p>
                        <p>{% trans "Invite old colleagues or find new ones to work on Your project not looking up from translation." %}</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="benefit benefit_2"></div>
                        <p class="upper-bold">{% trans "All the paperwork is up to us." %}</p>
                        <p>{% trans "«Tolmach» will parse received documents, extract all the useful textual data and split it into easy to translate fragments." %}</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="benefit benefit_3"></div>
                        <p class="upper-bold">{% trans "Translate comfortably" %}</p>
                        <p>{% trans "Translate the text using glossaries, translation memory databases, machine translation systems and prepared dictionaries." %}</p>
                    </div>
                </div>
                <div class="gap3"></div>
            </div>
        </div>
        <div class="slide slide_3">
            <div class="container">
                <div class="gap4"></div>
                <div class="gap4"></div>
                <h1>{% trans 'How it works:' %}</h1>
                <div class="slider">
                    <div class="slider__img">
                        <div class="slider-img slider-img_1">
                            <img src="/static/img/landing/profile_orig.png" alt="">
                        </div>
                        <div class="slider-img slider-img_2">
                            <img src="/static/img/landing/project_translators.png" alt="">
                        </div>
                        <div class="slider-img slider-img_3">
                            <img src="/static/img/landing/project_langs.png" alt="">
                        </div>
                        <div class="slider-img slider-img_4">
                            <img src="/static/img/landing/project_tm_glossaries.png" alt="">
                        </div>
                        <div class="slider-img slider-img_5">
                            <img src="/static/img/landing/translation_page.png" alt="">
                        </div>
                        <div class="slider-img slider-img_6">
                            <img src="/static/img/landing/translation_page_trans.png" alt="">
                        </div>
                        <div class="slider-img slider-img_7">
                            <img src="/static/img/landing/translation_tags.png" alt="">
                        </div>
                        <div class="slider-img slider-img_8">
                            <img src="/static/img/landing/translation_tags_mt.png" alt="">
                        </div>
                        <div class="slider-img slider-img_9">
                            <img src="/static/img/landing/translation_tags_dict.png" alt="">
                        </div>
                    </div>
                    <div class="slider__btns">
                        <p class="center">
                            <span class="slider-btn" onclick="prevSlide()"><i class="fa fa-angle-left"></i></span>
                            <span class="margered"><span id="slideIndex">1</span> {% trans "of" %} <span id="slidesCount">9</span></span>
                            <span class="slider-btn slider-btn_active" onclick="nextSlide()"><i class="fa fa-angle-right"></i></span>
                        </p>
                    </div>
                    <div class="slider__content">
                        <div class="slider-text slider-text_1">
                            <h2>{% trans "Personal page" %}</h2>
                            <p>
                                {% trans "This is a user's personal page. You do not need to fill out tedious questionnaires during registration - we can get your stuff from your social network profile." %}
                            </p>
                            <p>
                                {% trans "Here you can see all the statistics that present your experience as translator: total number of translated fragments and graphs showing which language pairs do you prefer to work with." %}
                            </p>
                        </div>
                        <div class="slider-text slider-text_2">
                            <h2>{% trans "Collective translations" %}</h2>
                            <p>
                                {% trans "Now several interpreters can comfortably work with one document simultaneously — share the responsibility for exact pieces of text between different translators, offer different translations of the same fragments, choosing, in the end, the best offered fragments." %}
                            </p>
                            <p>
                                {% trans "Team editor now can watch the whole process live — he will not have to spend huge amount of time to wait for the results of translation, and translators will be able to get feedback almost immediately after translation publication." %}
                            </p>
                        </div>
                        <div class="slider-text slider-text_3">
                            <h2>{% trans "Multilingual translations" %}</h2>
                            <p>
                                {% trans "No need to upload the same document several times - it is possible to translate the same one into several languages at once." %}
                            </p>
                        </div>
                        <div class="slider-text slider-text_4">
                            <h2>{% trans "Translation memory databases and glossaries" %}</h2>
                            <p>
                                {% trans "Translation memory databases help you to translate similar documents faster, reusing previously made translations." %}
                            </p>
                            <p>
                                {% trans "Correctly formatted glossaries will help to maintain a consistent style of translation, regardless of whether you work alone or in a group." %}
                            </p>
                        </div>
                        <div class="slider-text slider-text_5">
                            <h2>{% trans "Only translation, nothing more" %}</h2>
                            <p>
                                {% trans "We put a lot of effort to make the «Tolmach» interface as easy and minimalistic as possible." %}
                            </p>
                            <p>
                                {% trans "And despite the fact that we have already achieved significant results, we are constantly looking for new opportunities to make «Tolmach» even more simple and convenient." %}
                            </p>
                        </div>
                        <div class="slider-text slider-text_6">
                            <h2>{% trans "Visual progress" %}</h2>
                            <p>
                                {% trans "Evaluate the integrity and consistency of the translated text without being distracted from the process of translation, literally by a single click." %}
                            </p>
                        </div>
                        <div class="slider-text slider-text_7">
                            <h2>{% trans "Advanced formatting" %}</h2>
                            <p>
                                {% trans "Documents with complex formatting is not a problem for the «Tolmach». You don't need to think about how the text was formatted in the original document. Was it bold, italic, or underlined. All this does not matter in the translating process and should not distract you from what is most important. And in order to save the formatting of the translated document similar to the original, «Tolmach» will tell you where to make the necessary notes." %}
                            </p>
                        </div>
                        <div class="slider-text slider-text_8">
                            <h2>{% trans "Machine translation systems" %}</h2>
                            <p>
                                {% trans "Despite the fact that machine translations result texts' quality is far from perfect, they can be a good help during the initial stages of translation. They help to make an initial, very rough translation on the basis of which the final, much more high-quality translation is built." %}
                            </p>
                        </div>
                        <div class="slider-text slider-text_9">
                            <h2>{% trans "Dictionaries" %}</h2>
                            <p>
                                {% trans "When you see an unfamiliar word, you don't need to interrupt the translating process to use an external dictionary. You can just select the word and translate it in one click using the «Tolmach» inner dictionary. Dictionary database is not static and is being constantly updated." %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gap4"></div>
            <div class="gap4"></div>
            <div class="gap4"></div>
        </div>
        <div class="slide slide_4">
            <div class="black-column">
                <div class="container-fluid">
                    <h1>{% trans "Try «Tolmach».<br> It's great." %}</h1>
                    <p class="center">
                        {% trans "Just register or log in to the service using your Vkontakte, Facebook or Twitter account." %}
                    </p>
                    <p class="center">
                        {% trans "If you don't like it – just log out of your account. But, we think you'll like it:)" %}
                    </p>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="center small">
                                <span class="huge">0</span>
                                {% trans "rubles you need to use the service." %}
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p class="center small">
                                <span class="huge">{{ fragments_translated }}</span>
                                {% trans "that's how many fragments we have already translated" %}
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p class="center small">
                                <span class="huge">42</span>
                                {% trans "the answer to the ultimate question of life, the universe and everything" %}
                            </p>
                        </div>
                    </div>
                    <div class="gap4"></div>
                    <p class="center">
                        <a href=""
                           class="btn btn-default"
                           data-toggle="modal"
                           data-target="#myModal">{% trans "Sign up and login" %}</a>
                    </p>
                    <!--<p class="center">или</p>-->
                    <!--<p class="center"><button class="btn" type="submit">Зарегистрироваться</button></p>-->
                </div>
            </div>
        </div>

        <svg:svg>
            <svg:filter id="blur-svg">
                <svg:feGaussianBlur stdDeviation="7"/>
            </svg:filter>
        </svg:svg>

        <script src="/static/assets/jquery/dist/jquery.min.js"></script>
        <script src="/static/assets/bootstrap/dist/js/bootstrap.min.js"></script>

        <script>
            $(function () {
                var currentSlide = 1,
                    countSlides = $('.slider-img').length,
                    showSlide = function (index) {
                        $('.slider-img').fadeOut();
                        $('.slider-img_' + index).fadeIn();
                        $('.slider-text').slideUp();
                        $('.slider-text_' + index).slideDown();
                        currentSlide = index;
                        $('#slideIndex').html(currentSlide);

                    };
                $('#slidesCount').html(countSlides);
                window.prevSlide = function () {
                    var index = currentSlide === 1 ? countSlides : currentSlide - 1;
                    showSlide(index);
                };
                window.nextSlide = function () {
                    var index = currentSlide >= countSlides  ? 1 : currentSlide + 1;
                    showSlide(index);
                };
                var $loginForm = $('#login-form'),
                    $registerForm = $('#register-form'),
                    $resetForm = $('#reset-form'),
                    showErrorIterator = 0;
                    showError = function (mes) {
                        $('.form-error').text(mes).show();
                        showErrorIterator++;
                        var tempIterator = showErrorIterator;
                        setTimeout(function () {
                            if (tempIterator === showErrorIterator) {
                                $('.form-error').hide();
                            }
                        }, 3000);

                    };
                $('.login-link').click(function (e) {
                    e.preventDefault();
                    $loginForm.show();
                    $registerForm.hide();
                    $resetForm.hide();
                });
                $('.register-link').click(function (e) {
                    e.preventDefault();
                    $loginForm.hide();
                    $registerForm.show();
                    $resetForm.hide();
                });
                $('.reset-password-link').click(function (e) {
                    e.preventDefault();
                    $loginForm.hide();
                    $registerForm.hide();
                    $resetForm.show();
                });
                $loginForm.submit(function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    var username = $('#username', $loginForm).val(),
                        password = $('#password', $loginForm).val();
                        csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]', $loginForm).val();
                    if (!username) {
                        showError('{% trans "Username is required field" %}');
                        return;
                    }
                    if (!password) {
                        showError('{% trans "Password is required field" %}');
                        return;
                    }
                    $('input', $loginForm).attr('disabled', true);
                    $.ajax({
                        url: '/login/',
                        method: 'post',
                        data: {
                            username: username,
                            password: password,
                            csrfmiddlewaretoken: csrfmiddlewaretoken
                        }
                    }).done(function (data) {
                        location.href = "/";
                    }).fail(function (data) {
                        if (data['responseJSON'] && data['responseJSON']['message']) {
                            showError(data['responseJSON']['message']);
                        }
                    }).always(function() {
                        $('input', $loginForm).removeAttr('disabled');
                    });
                });
                $registerForm.submit(function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    var username = $('#username', $registerForm).val(),
                        email = $('#email', $registerForm).val();
                        password1 = $('#password1', $registerForm).val();
                        password2 = $('#password2', $registerForm).val();
                        csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]', $registerForm).val();
                    if (!username) {
                        showError('{% trans "Username is required field" %}');
                        return;
                    }
                    if (!email) {
                        showError('{% trans "Email is required field" %}');
                        return;
                    }
                    if (password1 !== password2) {
                        showError('{% trans "Password is required field" %}');
                        return;
                    }
                    $('input', $registerForm).attr('disabled', true);
                    $.ajax({
                        url: '/register/',
                        method: 'post',
                        data: {
                            username: username,
                            email: email,
                            password: password1,
                            csrfmiddlewaretoken: csrfmiddlewaretoken
                        }
                    }).done(function (data) {
                        location.href = "/";
                    }).fail(function (data) {
                        if (data['responseJSON'] && data['responseJSON']['message']) {
                            showError(data['responseJSON']['message']);
                        }
                    }).always(function() {
                        $('input', $registerForm).removeAttr('disabled');
                    });
                });
                $resetForm.submit(function (e) {
                    e.preventDefault();
                    e.stopPropagation();

                    var username = $('#username', $resetForm).val(),
                        csrfmiddlewaretoken = $('[name="csrfmiddlewaretoken"]', $resetForm).val();
                    if (!username) {
                        showError('{% trans "Username is required field" %}');
                        return;
                    }
                    $('input', $resetForm).attr('disabled', true);
                    $.ajax({
                        url: '/password-reset/',
                        method: 'post',
                        data: {
                            username: username,
                            csrfmiddlewaretoken: csrfmiddlewaretoken
                        }
                    }).done(function (data) {
                        location.href = "/";
                    }).fail(function (data) {
                        if (data['responseJSON'] && data['responseJSON']['message']) {
                            showError(data['responseJSON']['message']);
                        }
                    }).always(function() {
                        $('input', $resetForm).removeAttr('disabled');
                    });
                });
            });
        </script>
    </body>
</html>
