<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:svg="http://www.w3.org/2000/svg">
    <head>
        <meta xmlns="http://www.w3.org/1999/xhtml" http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta name="description" content=""/>
        <link rel="icon" href="../../favicon.ico"></link>

        <title>Tolma.ch</title>

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link href="/static/cssdist/landing.css" rel="stylesheet"></link>

        <style type="text/css">
            .blur {
                filter:url(#blur-svg);
            }
            svg {
                position: absolute;
                top: -1000px;
            }
        </style>
    </head>
    <body>
        <div class="slide slide_1">
            <div class="wrap2">
                <div class="glass">
                    <div class="blur"></div>
                    <div class="white-sheet"></div>
                    <div class="glass-inner">
                        {% load social_auth_widget %}
                        <div class="logo"></div>
                        <h1>
                            Переводим вместе!
                        </h1>
                        <p class="center">Войти через социальные сети:</p>
                        <p class="center">
                            {% social_auth_widget %}
                        </p>
                        <p class="center">или</p>
                        <p class="center"><button class="btn" type="submit">Зарегистрироваться</button></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide slide_2">
            <div class="languages-poster">
                <div class="languages-poster__logo"></div>
            </div>
            <div class="container">
                <h1>Что такое толмач?</h1>
                <p class="center">«Толмач» - это интергированная среда перевода, сервис, объединяющий в себе все необходимые переводчику инструменты в одном месте — глоссарии, базы памяти перевода, словари, машинные переводы и многое другое. Работу с документами «Толмач» тоже возьмёт на себя. Всё, что от вас потребуется — это загрузить документ в систему, а извлечение полезного текста и разделение его на удобные для перевода фрагменты будет произведено автоматически.</p>
                <div class="gap3"></div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="benefit benefit_1"></div>
                        <p class="upper-bold">Одна голова – хорошо,а много – лучше</p>
                        <p>Приглашайте к работе над Вашим проектом своих старых коллег или ищите новых, не отрываясь от перевода.</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="benefit benefit_2"></div>
                        <p class="upper-bold">Работу с документами берём на себя</p>
                        <p>Разбираем полученные документы, извлекаем все полезные текстовые данные и разбиваем их на удобные для перевода отрывки.</p>
                    </div>
                    <div class="col-sm-4">
                        <div class="benefit benefit_3"></div>
                        <p class="upper-bold">Переводим с комфортом</p>
                        <p>Переводим текст с использованием глоссариев, баз памяти перевода, систем машинного перевода и готовых словарей.</p>
                    </div>
                </div>
                <div class="gap3"></div>
            </div>
        </div>
        <div class="slide slide_3">
            <div class="container">
                <div class="gap4"></div>
                <div class="gap4"></div>
                <h1>Как это работает:</h1>
                <div class="slider">
                    <div class="slider__img">
                        <div class="slider-img slider-img_1">
                            <img src="/static/img/landing/profile.png" alt="">
                        </div>
                        <div class="slider-img slider-img_2">
                            <img src="/static/img/landing/project.png" alt="">
                        </div>
                        <div class="slider-img slider-img_3">
                            <img src="/static/img/landing/translation_page.png" alt="">
                        </div>
                    </div>
                    <div class="slider__content">
                        <div class="slider-text slider-text_1">
                            <h2>Личная страница</h2>
                            <p>
                                Это личная страница пользователя. Вам не нужно заполнять нудных анкет при регистрации - мы сами все перенесем из Вашей социалочки.
                            </p>
                            <p>
                                Здесь содержится список проектов, в которых вы участвуете, а также статистика, отображающая Ваш опыт переводчика: тут и общее количество переведенных Вами фрагментов текста, и графики, показывающие, с каких языков на какие вы предпочитаете переводить, и полный список Ваших проектов.
                            </p>
                        </div>
                        <div class="slider-text slider-text_2">
                            <h2>Коллективные переводы</h2>
                            <p>
                                Теперь нескольким переводчикам можно будет комфортно работать над одним документом одновременно — разделять ответственность за отдельные фрагменты текста между разными переводчиками, предлагать разные варианты переводов одних и тех же мест, выбирая, в итоге, наиболее качественные.
                            </p>
                            <p>
                                Редактор сможет наблюдать весь процесс вживую — ему не придётся больше тратить огромное количество времени на ожидание результатов перевода, а переводчики смогут получить обратную связь по качеству сделанного перевода буквально сразу после его публикации.
                            </p>
                        </div>
                        <div class="slider-text slider-text_3">
                            <h2>Третий слайд</h2>
                            <p>
                                Текст.
                            </p>
                        </div>
                        <p>
                            <span class="slider-btn" onclick="prevSlide()"><i class="fa fa-angle-left"></i></span>
                            <span class="margered">1 из 3</span>
                            <span class="slider-btn slider-btn_active" onclick="nextSlide()"><i class="fa fa-angle-right"></i></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="gap4"></div>
            <div class="gap4"></div>
            <div class="gap4"></div>
        </div>
        <div class="slide slide_4">
            <div class="black-column">
                <div class="container">
                    <h1>Попробуйте «Толмач».
                        Это здорово.</h1>
                    <p class="center">
                        Просто зарегистрируйтесь или войдите в сервис через Ваш аккаунт вконтакте, фэйсбуке или твиттере.
                    </p>
                    <p class="center">
                        Если Вам не понравится – просто выйдите из своей учетной записи. Но, мы думаем, Вам понравится:)
                    </p>
                    <div class="row">
                        <div class="col-sm-4">
                            <p class="center small">
                                <span class="huge">0</span>
                                рублей вам нужно, чтобы пользоваться сервисом.
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p class="center small">
                                <span class="huge">1488</span>
                                вот сколько предложений мы уже перевели
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p class="center small">
                                <span class="huge">42</span>
                                ответ на главный вопрос жизни, вселенной и всего остального
                            </p>
                        </div>
                    </div>
                    <div class="gap4"></div>
                    <p class="center">Войти через социальные сети:</p>
                    <p class="center">
                        {% social_auth_widget %}
                    </p>
                    <p class="center">или</p>
                    <p class="center"><button class="btn" type="submit">Зарегистрироваться</button></p>
                </div>
            </div>
        </div>

        <svg:svg>
            <svg:filter id="blur-svg">
                <svg:feGaussianBlur stdDeviation="7"/>
            </svg:filter>
        </svg:svg>

        <script src="/static/assets/jquery/dist/jquery.min.js"></script>

        <script>
            var currentSlide = 1,
                countSlides = 5,
                showSlide = function (index) {
                    $('.slider-img').fadeOut();
                    $('.slider-img_' + index).fadeIn();
                    $('.slider-text').slideUp();
                    $('.slider-text_' + index).slideDown();
                    currentSlide = index;
                };
            window.prevSlide = function () {
                var index = currentSlide === 1 ? countSlides : currentSlide - 1;
                showSlide(index);
            };
            window.nextSlide = function () {
                var index = currentSlide >= countSlides  ? 1 : currentSlide + 1;
                showSlide(index);
            };
        </script>
    </body>
</html>
