{% extends "main/base.html" %}
{% load i18n %}

{% block content %}
{% trans 'How it works?' as how_works %}
<div class="area-content">
    <div class="container">
    	<div class="stripy-heading">
    		<span class="stripy-heading__before"></span>
    		<span class="stripy-heading__text">{{ how_works }}</span>
    		<span class="stripy-heading__after"></span>
    	</div>

		<div class="iconed-features">
			<ul class="iconed-features__list">
				<li class="iconed-features__item">
					<img src="/static/images/main/list-item1.png" alt="Upload your documents"/>
					<div class="iconed-features__text">
						<h3 class="iconed-features__item-header">Загружаем документы</h3>
						<p class="iconed-features__item-text">На данный момент организована работа с документами в форматах DOC, DOCX, RTF, ODT, XLS, XLSX, CSV, PPT, PPTX и PDF.</p>
					</div>
				</li>
				<li class="iconed-features__item">
					<img src="/static/images/main/list-item2.png" alt="Get all the text data"/>
					<div class="iconed-features__text">
						<h3 class="iconed-features__item-header">Извлекаем данные</h3>
						<p class="iconed-features__item-text">Разбираем полученные документы, извлекаем все полезные текстовые данные и разбиваем их на удобные для перевода отрывки.</p>
					</div>
				</li>
				<li class="iconed-features__item">
					<img src="/static/images/main/list-item3.png" alt="Upload your documents"/>
					<div class="iconed-features__text">
						<h3 class="iconed-features__item-header">Зовём коллег</h3>
						<p class="iconed-features__item-text">Приглашайте к работе над Вашим проектом своих старых коллег или ищите новых, не отрываясь от перевода.</p>
					</div>
				</li>
				<li class="iconed-features__item">
					<img src="/static/images/main/list-item4.png" alt="Upload your documents"/>
					<div class="iconed-features__text">
						<h3 class="iconed-features__item-header">Переводим</h3>
						<p class="iconed-features__item-text">Переводим текст с использованием глоссариев, баз памяти перевода, систем машинного перевода и готовых словарей.</p>
					</div>
				</li>
				<li class="iconed-features__item">
					<img src="/static/images/main/list-item5.png" alt="Upload your documents"/>
					<div class="iconed-features__text">
						<h3 class="iconed-features__item-header">Получаем готовый перевод</h3>
						<p class="iconed-features__item-text">Пост-переводная редактура документов и экспорт готовых переводов с сохранением оригинального форматирования.</p>
					</div>
				</li>
			</ul>
		</div>

	</div>	
</div>	
{% endblock %}
