{% extends "main/base-logged-in.html" %}
{% load i18n %}

{% block innercontent %}
{% trans 'Start new' as start_new_label %}
{% trans "There're no projects here at the moment." as empty_projects_label %}
{% trans "Projects" as projects_tab_label %}
{% trans "Members" as members_tab_label %}
{% trans "Settings" as settings_tab_label %}
    <script>
    window.userData = {{ userData | safe }};
    window.activeTab = "{{ active_tab }}";
    </script>
<div class="profile-container" ng-controller="projectsCtrl">
    <section class="organization-content">
        <div class="organization-header">
            <div class="organization-header__photo">
                {% if usermeta.avatar %}
                    <img class="organization-header__img" src="/media/{{ usermeta.avatar }}">
                {% else %}
                    <img class="organization-header__img" src="/media/avatar/default.png">
                {% endif %}
            </div>
            <div class="organization-header__title">
                <h1>{{ organization.name }}</h1>
            </div>
        </div>
        <div class="tabbable section-tabs">
            <ul class="nav nav-tabs">
                <li class="{% if active_tab == 'main' %}active{% endif %}">
                    <a href="/orgs/{{ organization.slug }}/">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                        {{ projects_tab_label }}
                    </a>
                </li>

                <li class="{% if active_tab == 'members' %}active{% endif %}">
                    <a href="/orgs/{{ organization.slug }}/members/">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        {{ members_tab_label }}
                    </a>
                </li>

                <li class="{% if active_tab == 'settings' %}active{% endif %}">
                    <a href="/orgs/{{ organization.slug }}/settings/">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                        {{ settings_tab_label }}
                    </a>
                </li>
            </ul>
            <div class="tab-content" ng-controller="organizationsCtrl">
            {% block tab-content %}
               <div id="projects" class="tab-pane active">
                    <div class="user-statistics__recent-progress">
                        <div class="user-statistics__recent-progress-table">
                            <table cellpadding="0" cellspacing="0" class="user-statistics-table">
                                <tbody>
                                    {% for project in projects %}
                                    <tr class="user-statistics-table__row">
                                        <td class="user-statistics-table__title">
                                            <a href="/project/{{ project.id }}">
                                                {% if not project.manager.username == user.username %}
                                                    <span class="user-statistics-table__project-manager">{{ project.manager }}/</span>{% endif %}<span class="user-statistics-table__project-title">{{ project.name }}</span>
                                            </a>
                                        </td>
                                        <td class="user-statistics-table__progress">
                                            <div class="progress-bar">
                                                <div class="progress-bar__gauge" style="width:{{ project.progress }}%;background:#02c14f"></div>
                                                <span class="progress-bar__value">{{ project.progress }}%</span>
                                            </div>
                                        </td>
                                        <td>
                                            {% if project.is_private %}
                                            <i class="fa fa-lock"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <div class="projects-background">
                                        <div class="projects-background__tabs">
                                            <span class="projects-background__icon">
                                                <i class="fa fa-file-text-o projects-background__icon__back" aria-hidden="true">
                                                    <i class="fa fa-file-text-o projects-background__icon__front" aria-hidden="true"></i>
                                                </i>
                                            </span>
                                            <span class="projects-background__text">
                                                {{ empty_projects_label }}
                                            </span>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% if projects.paginator.num_pages > 1 %}
                            <div class="pagination-block" style="margin: 0 auto; margin-bottom: -20px;">
                            <ul class="pagination projects-paginator">
                                {% if projects.has_previous %}
                                <li>
                                    <a href="?page={{projects.previous_page_number}}">
                                        <i class="fa fa-angle-double-left"></i>
                                    </a>
                                </li>
                                {% else %}
                                <li class="disabled">
                                    <a href="">
                                        <i class="fa fa-angle-double-left"></i>
                                    </a>
                                </li>
                                {% endif %}
                                {% for i in projects.paginator.page_range %}
                                    {% if projects.number == i %}
                                        <li class="active">
                                            <a href="?page={{ i }}">{{ i }}</a>
                                        </li>
                                    {% elif i > projects.number|add:'-4' and i < projects.number|add:'4' %}
                                        <li>
                                            <a href="?page={{ i }}">{{ i }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                                {% if projects.has_next %}
                                <li>
                                    <a href="?page={{ projects.next_page_number }}">
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                                {% else %}
                                <li class="disabled">
                                    <a href="">
                                        <i class="fa fa-angle-double-right"></i>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                            </div>
                            {% endif %}
                            {% if is_admin %}
                            <a href="" class="btn helped-block btn-sm new-proj-block-btn"
                                   ng-click="startNewProject()"
                                   help-text="{% trans 'Click this button to create new project' %}">{{ start_new_label }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock %}
            </div>
        </div>
    </section>
</div>

{% include "translations/partial/new_project_modal.html" %}
{% include "tolmach/partial/edit_profile_modal.html" %}

{% endblock %}