{% extends "main/base-logged-in.html" %}
{% load i18n %}

{% block innercontent %}
{% trans 'Start new' as start_new_label %}
{% trans "There're no projects here at the moment." as empty_projects_label %}
{% trans "Projects" as projects_tab_label %}
{% trans "Members" as members_tab_label %}
{% trans "Settings" as settings_tab_label %}
    <script>
        window.userData = {{ userData | safe }};
        window.activeTab = "{{ active_tab }}";
        window['active_tab'] = 'organization/{{ organization.slug }}';
    </script>
<div class="profile-container" ng-controller="projectsCtrl">
    <section class="organization-content">
        <div class="organization-header">
            <div class="organization-header__photo">
                {% if usermeta.avatar %}
                    <img class="organization-header__img" src="/media/{{ usermeta.avatar }}">
                {% else %}
                    <img class="organization-header__img" src="/media/avatar/default.png">
                {% endif %}
            </div>
            <div class="organization-header__title">
                <h1>{{ organization.name }}</h1>
            </div>
        </div>
        <div class="tabbable section-tabs">
            <ul class="nav nav-tabs">
                <li class="{% if active_tab == 'main' %}active{% endif %}">
                    <a href="/orgs/{{ organization.slug }}/">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                        {{ projects_tab_label }}
                    </a>
                </li>

                <li class="{% if active_tab == 'members' %}active{% endif %}">
                    <a href="/orgs/{{ organization.slug }}/members/">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        {{ members_tab_label }}
                    </a>
                </li>
{#                {% if is_owner %}#}
{#                <li class="{% if active_tab == 'settings' %}active{% endif %}">#}
{#                    <a href="/orgs/{{ organization.slug }}/settings/">#}
{#                        <i class="fa fa-cogs" aria-hidden="true"></i>#}
{#                        {{ settings_tab_label }}#}
{#                    </a>#}
{#                </li>#}
{#                {% endif %}#}
            </ul>
            <div class="tab-content" ng-controller="organizationsCtrl">
            {% block tab-content %}
               <div id="projects" class="tab-pane active">
                    <div class="user-statistics__recent-progress">
                        <div class="user-statistics__recent-progress-table">
                            {% include "tolmach/partial/projects_list_table.html" %}
                            {% if is_admin %}
                            <a href="" class="btn helped-block btn-sm new-proj-block-btn"
                                   ng-click="startNewProject()"
                                   help-text="{% trans 'Click this button to create new project' %}">{{ start_new_label }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock %}
            </div>
        </div>
    </section>
</div>
{% if is_owner %}
{% include "translations/partial/new_project_modal.html" %}
{% include "tolmach/partial/edit_profile_modal.html" %}
{% endif %}

{% endblock %}