{% extends "tolmach/profile.html" %}
{% load i18n %}

{% block tab-content %}
{% trans "There're no organizations here at the moment." as empty_organizations_label %}
           <div id="projects" class="tab-pane active" ng-controller="organizationsCtrl">
                <div class="organizations__recent-progress">
                    <div class="organizations__recent-progress-table">
                        <table cellpadding="0" cellspacing="0" class="organizations-table">
                            <tbody>
                                {% for org in organizations %}
                                <tr class="organizations-table__row">
                                    <td>
                                        {% if org.is_private %}
                                        <i class="fa fa-lock"></i>
                                        {% endif %}
                                    </td>
                                    <td class="organizations-table__title">
                                        <a href="/orgs/{{ org.slug }}/">
                                            {% if not org.owner.username == user.username %}
                                                <span class="organizations-table__project-manager">{{ org.owner }}/</span>{% endif %}<span class="organizations-table__project-title">{{ org.name }}</span>
                                        </a>
                                    </td>
                                    <td class="organizations-table__member-status">
                                        <span class="label label-light arrowed-in-right">
                                            {{ org.user_status }}
                                        </span>
                                    </td>
                                    <td class="organizations-table__members">
                                        <a href="/orgs/{{ org.slug }}/members/">
{% blocktrans count number=org.members_count %}
{{ number }} member
{% plural %}
{{ number }} members
{% endblocktrans %}
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <div class="projects-background">
                                    <div class="projects-background__tabs">
                                        <span class="projects-background__icon">
                                            <i class="fa fa-file-text-o projects-background__icon__back" aria-hidden="true">
                                                <i class="fa fa-file-text-o projects-background__icon__front" aria-hidden="true"></i>
                                            </i>
                                        </span>
                                        <span class="projects-background__text">
                                            {{ empty_organizations_label }}
                                        </span>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if organizations.paginator.num_pages > 1 %}
                        <div class="pagination-block" style="margin: 0 auto; margin-bottom: -20px;">
                        <ul class="pagination projects-paginator">
                            {% if organizations.has_previous %}
                            <li>
                                <a href="?page={{organizations.previous_page_number}}">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            {% else %}
                            <li class="disabled">
                                <a href="">
                                    <i class="fa fa-angle-double-left"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% for i in organizations.paginator.page_range %}
                                {% if organizations.number == i %}
                                    <li class="active">
                                        <a href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% elif i > organizations.number|add:'-4' and i < organizations.number|add:'4' %}
                                    <li>
                                        <a href="?page={{ i }}">{{ i }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            {% if organizations.has_next %}
                            <li>
                                <a href="?page={{ organizations.next_page_number }}">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                            {% else %}
                            <li class="disabled">
                                <a href="">
                                    <i class="fa fa-angle-double-right"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                        </div>
                        {% endif %}
                        <a href="" class="btn helped-block btn-sm new-proj-block-btn"
                               ng-click="createNewOrg()"
                               help-text="{% trans 'Click this button to create new organization' %}">{% trans 'Create new' %}</a>
                    </div>
                </div>
           {% include "tolmach/partial/new_organization_modal.html" %}
            </div>

{% endblock %}