{% extends "main/base-logged-in.html" %}
{% load i18n %}

{% block innercontent %}
{% trans 'Statistics' as statistics_header %}
{% trans 'Total' as total_label %}
{% trans 'fragments translated' as sentences_translated_label %}
{% trans 'Projects' as projects_label %}
{% trans 'Start new' as start_new_label %}
    <script>
    window.userData = {{ userData | safe }};
    </script>
<div class="profile-container" ng-controller="projectsCtrl">
    <!-- Messages from HttpReturn. TODO: create new styles for messages. -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <aside class="profile-sidebar">
        {% include "tolmach/partial/profile-sidebar.html" %}
    </aside>
    <section class="profile-content">
        <div class="user-statistics">
            <div class="user-statistics__title">{{ statistics_header }}</div>
            <div class="user-statistics__translations">
                <ul class="user-statistics-list">
                    {% for key, value in stat.items|slice:":3" %}
                    <li class="user-statistics-list__item">
                        <div class="user-statistics-column">
                            <div class="user-statistics-column__value user-statistics-column__value_l" style="height: {{ value }}%"></div>
                            <div class="user-statistics-column__value user-statistics-column__value_r" style="height: 0%"></div>
                        </div>
                        <div class="user-statistics__translations-rate">
                            <div class="user-statistics__translations-rate-item user-statistics__translations-rate-item_l-r">
                                <div class="languages">
                                    <i class="flag flag-{{ key.0 }}"></i>
                                    <i class="fa fa-chevron-right"></i>
                                    <i class="flag flag-{{ key.1 }}"></i>
                                </div>
                            </div>
                            <!--<div class="user-statistics__translations-rate-item user-statistics__translations-rate-item_r-l">-->
                                <!--<div class="languages">-->
                                    <!--<i class="flag flag-English"></i>-->
                                    <!--<i class="fa fa-chevron-right"></i>-->
                                    <!--<i class="flag flag-Russian"></i>-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </li>
                    {% endfor %}
                    {% if empty_list %}
                        {% for i in empty_list %}
                        <li class="user-statistics-list__item">
                            <div class="user-statistics-column">
                                <div class="user-statistics-column__value user-statistics-column__value_l" style="height: 0%"></div>
                                <div class="user-statistics-column__value user-statistics-column__value_r" style="height: 0%"></div>
                            </div>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>

                <div class="user-statistics__total">
                    <div class="user-statistics__total-title">{{ total_label }}:</div>
                    <div class="user-statistics__total-number">{{ entries_total }}</div>
                    <div class="user-statistics__total-sentences">{{ sentences_translated_label }}</div>
                </div>
            </div>
        </div>

        <div class="user-statistics__recent-progress">
            <div class="user-statistics__recent-progress-title stripy-heading">
                <span class="stripy-heading__before"></span>
                <span class="stripy-heading__text">{{ projects_label }}</span>
                <span class="stripy-heading__after"></span>
            </div>

            <div class="user-statistics__recent-progress-table">
                <table cellpadding="0" cellspacing="0" class="user-statistics-table">
                    <tbody>
                        {% for project in projects %}
                        <tr class="user-statistics-table__row">
                            <td>
                                {% if project.is_private %}
                                <i class="fa fa-lock"></i>
                                {% endif %}
                            </td>
                            <td class="user-statistics-table__title">
                                <a href="/project/{{ project.id }}">{{ project.name }}</a>
                            </td>
                            <td class="user-statistics-table__progress">
                                <div class="progress-bar">
                                    <div class="progress-bar__gauge" style="width:{{ project.get_progress }}%;background:#02c14f"></div>
                                    <span class="progress-bar__value">{{ project.get_progress }}%</span>
                                </div>
                            </td>
                            <!--<td class="project-list-text__btns">-->
                                    <!--<a class="project-list-text__btn" href=""-->
                                       <!--ng-click="editText(text)"><i class="fa fa-pencil-square-o"></i></a>-->
                                    <!--<a class="project-list-text__btn" href=""><i class="fa fa-download"></i></a>-->
                                    <!--<a class="project-list-text__btn" href=""><i class="fa fa-trash-o"></i></a>-->
                            <!--</td>-->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="" class="btn helped-block" ng-click="startNewProject()" help-text="{% trans "Click this button to create new project" %}">{{ start_new_label }}</a>
        </div>
    </section>
</div>

{% include "translations/partial/new_project_modal.html" %}
{% include "tolmach/partial/edit_profile_modal.html" %}

{% endblock %}