{% extends "main/base-logged-in.html" %}
{% load i18n %}

{% block innercontent %}
{% trans 'Statistics' as statistics_header %}
{% trans 'Total' as total_label %}
{% trans 'Projects' as projects_label %}
{% trans 'Organizations' as orgs_label %}
{% trans 'Start new' as start_new_label %}
{% trans 'Overview' as overview_label %}
{% trans 'Recent projects' as recent_proj_label %}
{% trans "There're no projects here at the moment." as empty_projects_label %}
    <script>
    window.userData = {{ userData | safe }};
    </script>
<div class="profile-container" ng-controller="projectsCtrl">
    <!-- Messages from HttpReturn. TODO: create new styles for messages. -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <aside class="profile-sidebar" ng-controller="ProfileCtrl">
        {% include "tolmach/partial/profile-sidebar.html" %}
    </aside>
    <section class="profile-content">
        <div class="tabbable section-tabs">
            <ul class="nav nav-tabs">
                <li class="{% if active_tab == 'main' %}active{% endif %}">
                    <a href="/">
                        <i class="fa fa-compass" aria-hidden="true"></i>
                        {{ overview_label }}
                    </a>
                </li>

                <li class="{% if active_tab in 'my,thirdparty,public'|slice:',' %}active{% endif %}">
                    <a href="/projects/my/">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                        {{ projects_label }}
                    </a>
                </li>

                <li class="{% if active_tab == 'organizations' %}active{% endif %}">
                    <a href="/orgs/">
                        <i class="fa fa-sitemap" aria-hidden="true"></i>
                        {{ orgs_label }}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                {% block tab-content %}
                <div id="home" class="tab-pane in active">

                    <div class="user-statistics__recent-progress">
                        <div class="user-statistics__recent-progress-title stripy-heading">
                            <span class="stripy-heading__before"></span>
                            <span class="stripy-heading__text" style="padding: 10px 10px 10px 20px;">{{ recent_proj_label }}</span>
                            <span class="stripy-heading__after"></span>
                        </div>
                        <div class="user-statistics__recent-progress-table">
                            <table cellpadding="0" cellspacing="0" class="user-statistics-table">
                                <tbody>
                                    {% for project in recent_projects %}
                                    <tr class="user-statistics-table__row">
                                        <td class="user-statistics-table__title">
                                            <a href="/project/{{ project.id }}/">
                                                {% if project.organization %}
                                                    <span class="user-statistics-table__project-manager"><i class="fa fa-sitemap"></i> {{ project.organization|truncatechars:20 }} /</span>
                                                {% else %}
                                                    {% if not project.manager.username == user.username %}
                                                        <span class="user-statistics-table__project-manager"> {{ project.manager|truncatechars:20 }} /</span>
                                                    {% endif %}
                                                {% endif %}
                                                <span class="user-statistics-table__project-title">{{ project.name }}</span>
                                            </a>
                                        </td>
                                        <td class="user-statistics-table__progress">
                                            <div class="progress-bar">
                                                <div class="progress-bar__gauge" style="width:{{ project.progress }}%;background:#02c14f"></div>
                                                <span class="progress-bar__value">{{ project.progress }}%</span>
                                            </div>
                                        </td>
                                        <td>
                                            {% if project.is_private %}
                                            <i class="fa fa-lock"></i>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <div class="projects-background">
                                        <span class="projects-background__icon">
                                            <i class="fa fa-file-text-o projects-background__icon__back" aria-hidden="true">
                                                <i class="fa fa-file-text-o projects-background__icon__front" aria-hidden="true"></i>
                                            </i>
                                        </span>
                                        <span class="projects-background__text">
                                            {{ empty_projects_label }}
                                        </span>
                                    </div>
                                    {% endfor %}
                                </tbody>
                            </table>

                            <a href="" class="btn helped-block btn-sm new-proj-block-btn"
                               ng-click="startNewProject()"
                               help-text="{% trans 'Click this button to create new project' %}">{{ start_new_label }}</a>

                        </div>
                    </div>

                    <!--brand new stats panel-->
                    <div class="user-statistics">
                        <div class="user-statistics__title stripy-heading">
                            <span class="stripy-heading__before"></span>
                            <span class="stripy-heading__text" style="padding: 0 20px 20px 20px;">{{ statistics_header }}</span>
                            <span class="stripy-heading__after"></span>
                        </div>
                        <div class="user-statistics__translations">
                            <div class="user-statistics__new-block-total">
                                <div class="user-statistics__new-total-number">{{ entries_total }}</div>
                                <div class="user-statistics__new-total-sentences">
                {% blocktrans count counter=entries_total %}fragment translated.{% plural %}fragments translated.{% endblocktrans %}
                                </div>
                            </div>
                            {% for pair in stat %}
                            <div class="user-statistics__new-block" id="stats-block-{{ forloop.counter }}">
                                <div class="user-statistics__new-number">{{ pair.fragments_translated }}</div>
                                <div class="user-statistics__new-sentences">
                                    {{ pair.source_lang.code }} <i class="fa fa-chevron-right user-statistics__new-chevron"></i> {{ pair.target_lang.code }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </section>
</div>

{% include "translations/partial/new_project_modal.html" %}
{% include "tolmach/partial/edit_profile_modal.html" %}

{% endblock %}