{% extends "main/base-logged-in.html" %}
{% load i18n %}

{% block innercontent %}
{% trans 'Statistics' as statistics_header %}
{% trans 'Total' as total_label %}
{% trans 'Projects' as projects_label %}
{% trans 'Start new' as start_new_label %}
{% trans 'Overview' as overview_label %}
{% trans 'Recent projects' as recent_proj_label %}
    <script>
    window.userData = {{ userData | safe }};
    </script>
<div class="profile-container" ng-controller="projectsCtrl">
    <!-- Messages from HttpReturn. TODO: create new styles for messages. -->
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <aside class="profile-sidebar" ng-controller="ProfileCtrl">
        {% include "tolmach/partial/profile-sidebar.html" %}
    </aside>
    <section class="profile-content">
        <div class="tabbable">
            <style>
                .tabbable {
                    padding-top: 15px;
                }
                .nav-tabs {
                    overflow: hidden;
                }
                .tab-content {
                    border: none;
                }
                .nav-tabs li a:hover,
                .nav-tabs li.active a:hover,
                .nav-tabs li.active a:focus,
                .nav-tabs li.active a,
                .nav-tabs li a {
                    border-left: none;
                    border-right: none;
                    border-top: none;
                    border-bottom: none;
                    background: none;
                    box-shadow: none;
                    text-transform: uppercase;
                }
                .nav-tabs li.active {
                    border-bottom: 5px solid #02C14F;
                }

            </style>
            <ul class="nav nav-tabs" id="ololo">
                <li class="{% if active_tab == 'main' %}active{% endif %}">
                    <a href="/">
                        {{ overview_label }}
                    </a>
                </li>

                <li class="{% if active_tab in 'my,thirdparty,public'|slice:',' %}active{% endif %}">
                    <a href="/projects/my/">
                        {{ projects_label }}
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                {% block tab-content %}
                <div id="home" class="tab-pane in active">

                    <div class="user-statistics__recent-progress">
                        <div class="user-statistics__recent-progress-title stripy-heading">
                            <span class="stripy-heading__before"></span>
                            <span class="stripy-heading__text" style="padding: 10px 10px 10px 20px;">{{ recent_proj_label }}</span>
                            <a href="" class="btn helped-block btn-minier btn-link new-proj-inline-btn"
                               ng-click="startNewProject()"
                               help-text="{% trans 'Click this button to create new project' %}"
                               style="margin-bottom: 6px;padding-left: 0px !important;">{{ start_new_label }}</a>
                            <span class="stripy-heading__after"></span>
                        </div>
                        <div class="user-statistics__recent-progress-table">
                            <table cellpadding="0" cellspacing="0" class="user-statistics-table">
                                <tbody>
                                    {% for project in recent_projects %}
                                    <tr class="user-statistics-table__row">
                                        <td>
                                            {% if project.is_private %}
                                            <i class="fa fa-lock"></i>
                                            {% endif %}
                                        </td>
                                        <td class="user-statistics-table__title">
                                            <a href="/project/{{ project.id }}">
                                                {% if not project.manager.username == user.username %}
                                                <span class="user-statistics-table__project-manager">{{ project.manager }}/</span>{% endif %}<span class="user-statistics-table__project-title">{{ project.name }}</span>
                                            </a>
                                        </td>
                                        <td class="user-statistics-table__progress">
                                            <div class="progress-bar">
                                                <div class="progress-bar__gauge" style="width:{{ project.progress }}%;background:#02c14f"></div>
                                                <span class="progress-bar__value">{{ project.progress }}%</span>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <a href="" class="btn helped-block btn-minier new-proj-block-btn"
                               ng-click="startNewProject()"
                               help-text="{% trans 'Click this button to create new project' %}">{{ start_new_label }}</a>
                        </div>
                    </div>

                    <style>
                        @media (min-width: 756px) and (max-width: 1014px) {
                            #stats-block-6 {
                                display: none;
                            }
                        }
                        @media (min-width: 756px) and (max-width: 923px) {
                            #stats-block-5 {
                                display: none;
                            }
                        }
                        @media (min-width: 756px) and (max-width: 834px) {
                            #stats-block-4 {
                                display: none;
                            }
                        }
                        @media (max-width: 737px) {
                            #stats-block-6 {
                                display: none;
                            }
                        }
                        @media (max-width: 647px) {
                            #stats-block-5 {
                                display: none;
                            }
                        }
                        @media (max-width: 557px) {
                            #stats-block-4 {
                                display: none;
                            }
                        }
                        @media (max-width: 467px) {
                            #stats-block-3 {
                                display: none;
                            }
                            .new-proj-inline-btn {
                                display: none;
                            }
                            .new-proj-block-btn {
                                margin-top: 15px;
                                padding: 5px;
                                display: block;
                            }
                        }
                        @media (max-width: 400px) {
                            #stats-block-2 {
                                display: none;
                            }
                        }
                    </style>

                    <!--brand new stats panel-->
                    <div class="user-statistics">
                        <div class="user-statistics__title stripy-heading">
                            <span class="stripy-heading__before"></span>
                            <span class="stripy-heading__text" style="padding: 0 20px 20px 20px;">{{ statistics_header }}</span>
                            <span class="stripy-heading__after"></span>
                        </div>
                        <div class="user-statistics__translations">
                            <div class="user-statistics__new-block-total">
                                <div class="user-statistics__new-total-number">{{ entries_total }}</div>
                                <div class="user-statistics__new-total-sentences">
                {% blocktrans count counter=entries_total %}fragment translated.{% plural %}fragments translated.{% endblocktrans %}
                                </div>
                            </div>
                            {% for pair in stat %}
                            <div class="user-statistics__new-block" id="stats-block-{{ forloop.counter }}">
                                <div class="user-statistics__new-number">{{ pair.fragments_translated }}</div>
                                <div class="user-statistics__new-sentences">
                                    {{ pair.source_lang.code }} <i class="fa fa-chevron-right user-statistics__new-chevron"></i> {{ pair.target_lang.code }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </section>
</div>

{% include "translations/partial/new_project_modal.html" %}
{% include "tolmach/partial/edit_profile_modal.html" %}

{% endblock %}