{% extends "main/base-logged-in.html" %}
{% load i18n %}

{% block innercontent %}
{% trans 'Statistics' as statistics_header %}
{% trans 'Total' as total_label %}
{% trans 'Projects' as projects_label %}
{% trans 'Start new' as start_new_label %}
{% trans 'Add project' as add_project_header %}
{% trans 'Project name' as project_name_label %}
{% trans 'Short project name' as short_name_label %}
{% trans 'Short project description' as short_description_name %}
{% trans 'Public' as public_checkbox %}
{% trans 'Private' as private_checkbox %}
{% trans 'Add' as add_button %}
<div class="profile-container" ng-controller="projectsCtrl">
    <aside class="profile-sidebar">
        <div class="user-sidebar">
            <div class="user-sidebar__photo">
                {% if usermeta.avatar %}
                    <img class="user-sidebar__img" src="/media/{{ usermeta.avatar }}">
                {% else %}
                    <img class="user-sidebar__img" src="/media/avatar/default.png">
                {% endif %}
            </div>

            <div class="user-sidebar__info">
                <div class="user-sidebar__nickname">{{ username }}</div>
                <div class="user-sidebar__username">{{ first_name }} {{ last_name }}</div>
                <!--<div class="user-sidebar__location">-->
                    <!--<i class="fa fa-map"></i>-->
                    <!--Irkutsk, Russia-->
                <!--</div>-->
            </div>

            <!--<div class="user-sidebar__socials">-->
                <!--<a href="#" target="__blank" class="user-sidebar__social-icon user-sidebar__social-icon_vk"></a>-->
                <!--<a href="#" target="__blank" class="user-sidebar__social-icon user-sidebar__social-icon_gp"></a>-->
                <!--<a href="#" target="__blank" class="user-sidebar__social-icon user-sidebar__social-icon_tw"></a>-->
                <!--<a href="#" target="__blank" class="user-sidebar__social-icon user-sidebar__social-icon_fb"></a>-->
            <!--</div>-->

            <div class="user-sidebar__profile">
                <div class="user-sidebar__profile-line">
                    <span class="user-sidebar__profile-line-title"><i class="fa fa-globe"></i></span>
                    <a class="user-sidebar__profile-line-data" href="" target="__blank">{{ website }}</a>
                </div>
            </div>
        </div>
    </aside>
    <section class="profile-content">
        <div class="user-statistics__recent-progress">
            {% if projects %}
            <div class="user-statistics__recent-progress-title stripy-heading">
                <span class="stripy-heading__before"></span>
                <span class="stripy-heading__text">{{ projects_label }}</span>
                <span class="stripy-heading__after"></span>
            </div>

            <div class="user-statistics__recent-progress-table">
                <table cellpadding="0" cellspacing="0" class="user-statistics-table">
                    <tbody>
                        {% for project in projects %}
                        <tr class="user-statistics-table__row">
                            <td class="user-statistics-table__title">
                                <a href="/project/{{ project.id }}/">
                                    {% if project.organization %}
                                        <span class="user-statistics-table__project-manager"><i class="fa fa-sitemap"></i> {{ project.organization|truncatechars:20 }} /</span>
                                    {% endif %}
                                    <span class="user-statistics-table__project-title">{{ project.name }}</span>
                                </a>
                            </td>
                            <td class="user-statistics-table__progress">
                                <div class="progress-bar">
                                    <div class="progress-bar__gauge" style="width:{{ project.progress }}%;background:#02c14f"></div>
                                    <span class="progress-bar__value">{{ project.progress }}%</span>
                                </div>
                            </td>
                            <td>
                                {% if project.is_private %}
                                <i class="fa fa-lock"></i>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <div class="projects-background">
                            <span class="projects-background__icon">
                                <i class="fa fa-file-text-o projects-background__icon__back" aria-hidden="true">
                                    <i class="fa fa-file-text-o projects-background__icon__front" aria-hidden="true"></i>
                                </i>
                            </span>
                            <span class="projects-background__text">
                                {{ empty_projects_label }}
                            </span>
                        </div>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

        </div>

        <!--brand new stats panel-->
        <div class="user-statistics">
            <div class="user-statistics__title stripy-heading">
                <span class="stripy-heading__before"></span>
                <span class="stripy-heading__text" style="padding: 0 20px 20px 20px;">{{ statistics_header }}</span>
                <span class="stripy-heading__after"></span>
            </div>
            <div class="user-statistics__translations">
                <div class="user-statistics__new-block-total">
                    <div class="user-statistics__new-total-number">{{ entries_total }}</div>
                    <div class="user-statistics__new-total-sentences">
    {% blocktrans count counter=entries_total %}fragment translated.{% plural %}fragments translated.{% endblocktrans %}
                    </div>
                </div>
                {% for pair in stat %}
                <div class="user-statistics__new-block">
                    <div class="user-statistics__new-number">{{ pair.fragments_translated }}</div>
                    <div class="user-statistics__new-sentences">
                        {{ pair.source_lang.code }} <i class="fa fa-chevron-right user-statistics__new-chevron"></i> {{ pair.target_lang.code }}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>

{% endblock %}