$headerColor = #2b7cb5
$annotation = #989898
$entryColor = #77cb49

$mainBlue = #438eb9

$grayBg = #f5f5f5

$grayBorder = #e8e8e8
$grayBorderDark = #525252
$darkBlue = #115770

$grayText = #868686

box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	box-shadow arguments

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

clearfix()
	*zoom 1

	&:after,
	&:before
		content " "
		display table

	&:after
		clear both
	