.navbar 
	min-height 50px

	& > .container 
		padding-left 0
		padding-right 0

	.navbar
		&-text,
		&-link 
			color #ffffff

		&-brand 
			color #ffffff
			font-size 24px
			text-shadow none
			padding-top 10px
			padding-bottom 10px

			&:hover,
			&:focus 
				color #ffffff

		&-header 
			margin 0 !important
			height 100%

			a 
				display block
				height 100%

				img 
					margin 11px 0 10px
 
	&-nav
		margin 0
		min-width 150px

		&__button 
			display block
			list-style-type none
			height 50px
			text-decoration none
			position relative

			&.button
				&_green 
					background #51ce00
					&:hover
						background lightness(#51ce00, 60%)

				&_blue
					background #53b0e5
					&:hover
						background lightness(#53b0e5, 60%)

				&_gray
					background #6b6b6b
					&:hover
						background lightness(#6b6b6b, 60%)

				&_purple
					background #a069c3
					&:hover
						background lightness(#a069c3, 60%)

				&_light-blue
					background #589dc7
					&:hover
						background lightness(#589dc7, 60%)

				&_dark-green
					background #69aa46
					&:hover
						background lightness(#69aa46, 60%)

			& > a
				display block
				font-weight bold
				height 100%
				line-height 50px
				padding 0 17px

		& > li
			float left

		& > li > a
			&,
			&:hover,
			&:focus 
				padding-top 15px
				padding-bottom 15px
				font-size 13px
				text-shadow none
				text-decoration none
				color #ffffff !important
				vertical-align middle

		& > .open > a
			background transparent !important
			text-shadow 0 0 3px rgba(255,255,255,0.8) !important

		&__user
			line-height 48px
			min-width 55px

			& > a
				display inline-block
				height auto
				vertical-align middle


			&-photo
				width 40px
				height 40px
				border-radius 50%
				border 1px solid #fff
				display block
				position absolute
				top 5px
				left 10px

			&-info
				margin-left 40px

	&-fixed
		&-top,
		&-bottom 
			position fixed


.breadcrumbs2
	margin 0
	padding: 18px 0 0;
	&__item
		color white
		display: inline-block
		a
			color white
		&:before
			content " "
			display block
			float left
			height 24px
			width 6px
			margin: -2px 8px;
			background url('/static/images/arr-breadcrumbs.png') no-repeat
	&__btn
		display: inline-block;
		margin: 0 10px;
		color: white;