@import "variables"

.project-add
	margin-top 50px

	label
		width 150px
		margin-right 20px

	.checkbox,
	button
		float right

.projects-table
	font-family "Helvetica Neue",Helvetica,Arial,sans-serif !important
	h3
		color $headerColor
		font 300 18px/35px "Helvetica Neue",Helvetica,Arial,sans-serif !important
		letter-spacing 0.5px

	.empty
		color $annotation
		font-size 16px
		font-weight 200

		td
			padding 0 25px

	&__table
		width 100%

	&__row
		height 44px
		padding 0

		&:hover
			background #f5f5f5

		.col-md-12 &	
			cursor default

			&.odd
				background #f5f5f5

			&.even:hover
				background #fff

		&.closed
			height 44px

			.add-list
				display none
				height 0

			.btn-group
				display none

			.entries-list
				display none

			.projects-table__projects-texts
				display none !important
				height 0

		.add-list
			padding 5px 0 0 10px

			.title
				font-size 14px
				color $annotation

			.list
				margin 5px 0
				&>div
					display inline-block
					margin-right 5px
					height 22px
					line-height 22px
					padding 0 6px 0 12px
					text-align center
					color #fff
					background #91b8d0
					vertical-align top

					.delete 
						margin-left 5px
						cursor pointer

				.add
					background #9f9f9f
					width 22px
					padding 0
					color #fff
					font-size 22px
					line-height 18px
					cursor pointer

	&__projects-name
		padding 0 25px

		.col-md-12 &
			min-width 415px

		&>.title
			color $headerColor
			display block
			font-weight 600
			font-size 18px
			line-height 20px
			white-space nowrap
			position relative

			&[data-state="private"]:before
				content "\f023"
				font-family FontAwesome
				font-weight normal
				font-style normal
				text-decoration inherit
				-webkit-font-smoothing antialiased
				display:block
				position absolute
				left -17px
				font-size 14px
				top 7px
				color #d0d0d0

			&:hover
				&[data-state="private"]:before
					text-decoration none	

		&>.manager
			color $annotation
			display block
			font-weight 300
			font-size 12px
			line-height 14px

		&>.created-date
			display block
			line-height 14px
			color $annotation
			font-weight 200
			font-size 12px

		.opened &
			padding-top 6px
			vertical-align top

	&__projects-dates
		font-weight 300
		padding 0 10px

		.modified-date
			display block
			font-size 14px
			line-height 18px
			color #636363

		.created-date
			display block
			font-size 10px
			line-height 10px
			color #acadad

	&__projects-entries
		white-space nowrap

		.avatar 
			vertical-align middle
			width 34px
			height 34px
			overflow hidden
			border 2px solid $entryColor
			border-radius 17px
			display inline-block

			img 
				background #666
				width 100%
				height 100%

		.entry-details
			vertical-align middle
			display inline-block
			margin-left 8px
			font-weight 200

		.opened &
			padding-top 6px
			vertical-align top

		.entries-list
			position relative

			.avatar
				width 24px
				height 24px
				position relative
				z-index 3

			.time-sep
				margin 8px 0 8px 12px
				position relative
				height 10px

				span 
					font-size 11px
					font-weight 200
					color #636363
					line-height 10px
					padding-left 20px
					vertical-align top

				&:before
					display inline-block
					content ""
					background $entryColor
					width 10px
					height 10px
					border-radius 5px
					vertical-align top

			.time-entry
				z-index 3
				margin 5px 0 5px -12px

				.time
					font-size 11px
					font-weight 200
					color #636363
					line-height 10px
					margin-left -16px
					margin-right 3px
					vertical-align middle

				.entry-details 
					margin-left 13px


					.user
						font-size 11px
						font-weight 200
						color #636363
						line-height 10px



			.stake
				position absolute
				top -9px
				left 15px
				width 4px
				height 100%
				background $entryColor
				z-index 2

	.entry-details .time,
	&__capacity .done-capacity,
	&__projects-languages .translation-language
		font-size 14px
		color #636363
		display block
		line-height 15px

	.entry-details .user,
	&__capacity .total-capacity,
	&__projects-languages .original-language
		font-size 10px
		color $annotation
		display block
		line-height 12px

	&__projects-progress
		padding-left 25px
		white-space nowrap

		&>div
			display inline-block
			vertical-align middle

		.progress-bar_wide
			margin-left 50px !important

		.opened &
			padding-top 1px
			vertical-align top

	&__projects-texts
		display block !important

	&__text
		margin-top 5px
		
		.title-wrapper
			display inline-block
			vertical-align middle
			width 220px
			margin-bottom 8px

		.title
			font-size 14px
			color #636363
			line-height 15px

		.text-capacity
			font-size 10px
			color $annotation
			line-height 12px



	&__projects-languages
		padding 0 25px

		.opened &
			padding-top 9px
			vertical-align top

	.progress-bar
		width 115px
		height 9px
		margin 18px 0 17px
		background #e6e6e6
		position relative
		box-shadow none
		float none

		.progress-fill
			min-width 2px
			height 100%
			background #d2210c

		.progress-bubble
			position absolute
			background #333333
			display none
			font-size 14px
			height 22px
			line-height 22px
			width 55px
			bottom 9px
			margin-bottom 9px

			&:after
				content "◤"
				position absolute
				bottom -14px
				left 21px
				color #333
				font-size 12px



		&:hover
			.progress-bubble
				display block
				margin-left -22px

		&_wide
			width 185px
			margin 27px 0 8px

			& .progress-bubble
				position relative
				display block !important
				color #d2210c
				background none
				width 100%
				font-size 18px
				top -31px

				&:after
					content: ""

			&:hover
				.progress-bubble
					margin-left 0

		&_text
			display inline-block
			vertical-align middle
			margin 6px 0 2px

			& .progress-bubble
				position relative
				display block !important
				color #d2210c
				background none
				width 100%
				font-size 16px
				top -31px

				&:after
					content: ""

			&:hover
				.progress-bubble
					margin-left 0


.project-list-participant
	display block
	position relative
	color #4C8FBD
	cursor pointer
	min-height 40px
	margin-bottom 8px

	&__ava
		border-radius 50%
		position absolute
		top 0
		left 0
		&__owner
			border 1px solid #c6de00
			color: #c6de00
		&__editor
			border 1px solid #01a015
			color: #01a015
		&__translator
			border 1px solid #438db9
			color: #438db9
		&__spectator
			border 1px solid #bbb
			color: #bbb
		img
			width 40px
			height 40px
			border 1px solid white
			border-radius 50%
		i
			position absolute
			top 27px
			left 25px
			background white
			border-radius 50%
			border 1px solid #fff
			padding 1px 1px 1px 2px

	&__name
		margin 0 0 4px 50px
		line-height 40px
		white-space nowrap
		overflow hidden
	&__btns
		display none
		position absolute
		top 10px
		left 60px
	&__btn
		margin-right 10px
		color #555
		font-size 16px
	&__menu
		display none
		position absolute
		top: 0
		right 0
		padding 12px 10px 0 10px
		height 40px
		background #F7F7F7
		cursor pointer
	&__add
		float left
		height 40px
		width 40px
		display block
		i
			position relative
			top 11px
			left 13px
			font-size 20px

	&:hover &__menu
		display block
	&_active
		cursor default
	&_active &__name
		opacity 0
	&_active &__btns
		display block

.project-list-texts
	width: 100%
	display: table;
	border-collapse: separate;


.project-list-text
	background #f5f5f5
	&:nth-of-type(odd)
		background white
	color #555
	position: relative;
	display: table-row;

	&__translation
		margin 3px 0
	&__title
		//display table-cell
		/*white-space nowrap*/
		overflow hidden
		vertical-align middle
		padding 12px
		font-size 16px
		font-weight 300
		width 100%
	&__cell-btn
		vertical-align: middle;
		display: table-cell;
		padding-left 12px
		position relative
		width 28px
	&__cell
		vertical-align: middle;
		display: table-cell;
		padding-right 12px
		width 40%
		position relative
	&__language
		margin-right -70px
		float: left
		margin-top: -3px;
	&__progress
		margin-right 30px
		display: block;
		height: 28px;
		padding: 1px 0;
	&__btn
		//position absolute
		//right 0px
		//top 0px
		//margin-left -20px
		//color #555
		font-size 16px
		padding 3px 7px
	&__edit-button
		display table-cell
		max-width 5px
		vertical-align middle
		padding 0 3px 0 10px
	&__item
		&:hover
			.flag
				background-color #e8e8e8;

@media (max-width: 560px)
	.project-list-text
		&__progress
			.progress-bar
				display none
		&__title
			padding 8px 10px !important
		&__cell
			width 10% !important
		&__edit-button
			width 10% !important
			max-width 25px !important
	.project-language-pair
		margin 10px 0 0 0
		display block !important

.project-list-glossary
	display block
	position relative
	color #4C8FBD
	cursor pointer
	min-height 40px

	&__name
		margin 0 0 4px 0
		line-height 40px
		white-space nowrap
		overflow hidden
	&__btns
		display none
		position absolute
		top 0
		right 0
		padding-top 10px
		height 40px
		background #F7F7F7
	&__btn
		margin-left 10px
		color #555
		font-size 16px
	&:hover &__btns
		display block

.glossary-manual
	position relative
	margin-top 15px
	&:after
		clear both
		display table
		content " "
	&__input
		width 50%
		padding-right 15px
		float left
		&:last-child
			width 50%
			padding-right 0
			padding-left 15px
	&__arrow
		width 30px
		margin 0 -15px
		float left
		height 34px
		line-height 32px
		text-align center
	&__remove
		position: absolute;
		right: 10px;
		top: -42px;
		font-size: 15px;


.drop-box
	border 1px dashed #DDD
	width 100%
	text-align center
	padding 30px
	min-height 150px

	&-inner
		width 250px
		margin 0 auto
		text-align left
	&-icon
		float left
		margin -10px 10px 0 0
		color #ccc
		font-size 35px
	&.drag-over
		background: #eeeeee;
		border-color: rgb(67, 142, 185);

.project-language-pair
	display inline-block

.project-select-translation
	display inline-block
	margin-top -6px
	&.open &__button
		background-color #ffffff !important
		padding 0px 5px !important
		box-shadow inset 0 0 5px rgba(0, 0, 0, 0.4) !important
	&__button
		padding 0 !important
		border 1px solid #ffffff !important
		line-height 30px !important
		margin-top -5px !important
		background-color white !important
		color #4d8ebc !important
		text-shadow none !important
		&:hover
			padding 0px 5px !important
			background-color #eaeaea !important
	&__menu
		li a
			line-height 34px
			.flag
				vertical-align -6px !important
				margin-right 5px !important

.project-list
	min-height 85px
	&__languages
		width 80px
		float left
		position: absolute;
		bottom: 18px;
		top: 18px;
		overflow: hidden;
		min-height: 50px;
	&__description
		margin 0 70px 36px 88px
	&__buttons
		width 60px
		position absolute
		right 18px
		top 18px
		bottom 34px
		vertical-align middle
		&-inner
			display table
			height 100%
			&-inner
				display table-cell
				vertical-align middle
	&__progress-bar
		position absolute
		bottom 18px
		right 18px
		left 106px
	&__user-photo
		width 40px
		height 40px
		-webkit-border-radius 50%
		-moz-border-radius 50%
		border-radius 50%
		border 1px solid #fff
		display inline-block

.document-stats
	&__header
		font-size 16px
		display inline-block
		line-height 58px
	&__numbers
		font-size 20px
		margin-top 10px
		display inline-block
		float right
		&__cell
			padding 0 15px
			text-align center
	&__title
		&__cell
			font-size 12px
			padding 0 10px
			color #777777

@media (max-width: 560px)
	.document-stats
		&__header
			display block
			text-align center
			font-size 20px
		&__numbers
			display block
			float unset
			table
				margin 0 auto
				margin-top -20px