
.translation






  &__sentence-commit
    height 30px
    line-height 30px
    min-width 115px
    padding 0 30px
    border none
    font-size 13px

  &__sentence-commitance
    background #e8e8e8
    padding 0 15px 8px

.glossary-word
  background #e1ffa2
  cursor pointer

[contenteditable]
  background: white;
  overflow: auto;


tag-style()
  position: relative;
  top: -.1em;
  display: none;
  background: #C9EA6F;
  font-size: .7em;
  color: #055A15;
  text-shadow: 1px 1px 0 #fff;
  height: auto;
  margin: 0;
  text-decoration none
tag-left-style()
  border-radius: 10px 0 0 10px;
  padding: 0 1px 0 3px;
tag-right-style()
  border-radius:  0 10px 10px 0;
  padding: 0 3px 0 1px;

.tag-left, .tag-right, hr[i]
  tag-style()
  &:before
    content attr(i)
.tag-left, hr[l]
  tag-left-style()
.tag-right, hr[r]
  tag-right-style()

.translation__sentence-translation_state_editing
  .tag-left, .tag-right, hr[i]
    display: inline-block


