.translation-text
  background $grayBg
  padding 15px
  height 100%
  padding-top: 50px;

  &__switcher
    margin-bottom 10px
    margin-top: -40px;

  &__text
    padding 10px
    margin: 0;
    margin-bottom 20px
    background #fff
    border 1px solid $grayBorder
    .active
      background #ffefaa;
      padding: 3px 0;
      margin: -3px 0;
    .approved
      background #C5FFCC;
      padding: 3px 0;
      margin: -3px 0;
    tag-left, tag-right
      display none;


.translation
  font-weight 300
  height 100%
  &>.row
    height 100%
    &>div
      height 100%

  &__title
    font-size 28px
    font-weight normal
    font-family $fontFamily
    color $grayText

  &__variants-title
    height 32px
    margin 20px 0 11px
    line-height 32px
    font-size 23px
    font-weight normal
    font-family $fontFamily
    color $grayText

  &__sentence-translation
    margin 10px 0
    position relative
    background $grayBg
    font-size 16px

    &_state_closed:hover
      background #e8e8e8
      cursor pointer

    &_state_closed &-original
      border none
    &_state_closed &-toggle
      &:after
        content '\f138'

    &_state_closed &-switcher
      display none

    &_state_closed &-result
      display none

    &_state_approved &-result
      display block
      background transparent

    &_state_approved &-original
      display none

    &_state_approved
      background #C5FFCC

    &_state_translated
      background #F0FFC0

    &_state_approved &-toggle
      display: none
      &:after
        content ''

  &__sentence-translation-original
    position relative
    padding 10px 40px 10px 15px
    border-bottom 1px solid rgba(#868686, 0.5)
  &__sentence-translation-toggle
    position absolute
    top 0
    bottom 0
    right 0
    width 42px
    cursor pointer
    &:after
      position absolute
      top 50%
      right 10px
      transform translateY(-50%)
      color #9c9b9b
      font-size 1.5em
      font-family FontAwesome
      content '\f13a'
    &:hover
      background #e8e8e8

  &__sentence-translation-result
    overflow hidden
    background $grayBorder

  &__sentence-translation-switcher
    margin 15px 15px 10px

    .switcher__button
      width 150px
      height 35px
      line-height 35px
      padding 0 15px
      white-space nowrap
      text-decoration none !important

  &__sentence-suggestion
    position relative
    padding 10px 40px 10px 15px
    border-bottom 1px dashed #cacaca
    color #1d1d1b
    font-size 15px

    &:last-child
      border-bottom none

    &-author
      font-size 80%

    &-icons
      width 25px
      position absolute
      top 5px
      right 5px
      a
        cursor pointer
        font-size 1.5em
        color #9c9b9b
        margin -5px 0
        display inline-block
        &:hover
          color #02c14f
        &.active
          color #02c14f
    &-vote
      text-align right
      font-size 12px
      color #9c9b9b

  &__sentence-translation_state_closed &__sentence-suggestion
    display none

  &__sentence-translation_state_closed &__sentence-suggestion_state_approved
    display block

  &__sentence-suggestion_state_approved &__sentence-suggestion-approved
    display block

  &__sentence-translation_state_approved &__sentence-suggestion
    border none
    //border-top 1px solid #54e47e

  &__sentence-suggestion-input
    width 100%
    height 130px
    min-height 80px
    padding 10px 15px
    margin 10px 0
    font-size 13px
    border 1px solid #cacaca

  &__sentence-suggestions-title
    font-size 14px
    font-weight 400
    font-family $fontFamily
    color #6f6f6e

  &__sentence-machine-suggestions-list
    list-style-type none
    padding 0
    margin 0
    font-size 13px
    color #6F6F6F

  &__sentence-machine-suggestions-item
    position relative
    min-height 30px
    margin-bottom 3px
    padding-right 40px
    cursor pointer

  &__sentence-machine-suggestions-text
    display inline-block
    width 90%
    vertical-align middle

  &__sentence-machine-logo
    display  block
    width 42px
    height 17px
    text-align right
    margin-top -9px
    position absolute
    right 0;
    top: 50%

  &__sentence-machine-suggestions-relevance
    display  block
    width 30px
    height 30px
    line-height 30px
    border-radius 50%
    text-align center
    font-weight 600
    font-size 11px
    vertical-align  middle
    color #fff
    margin-top -15px
    position absolute
    right 0;
    top: 50%

    &_high
      background #02c14f

    &_medium
      background #80cc44

    &_low
      background #ffe41b

  &__sentence-commit
    height 30px
    line-height 30px
    min-width 115px
    padding 0 30px
    border none
    font-size 13px

  &__sentence-commitance
    background #e8e8e8
    padding 0 15px 8px

.glossary-word
  background #e1ffa2
  cursor pointer

[contenteditable]
  background: white;
  overflow: auto;


tag-style()
  position: relative;
  top: -.1em;
  display: none;
  background: #C9EA6F;
  font-size: .7em;
  color: #055A15;
  text-shadow: 1px 1px 0 #fff;
  height: auto;
  margin: 0;
  text-decoration none
tag-left-style()
  border-radius: 10px 0 0 10px;
  padding: 0 1px 0 3px;
tag-right-style()
  border-radius:  0 10px 10px 0;
  padding: 0 3px 0 1px;

.tag-left, .tag-right, hr[i]
  tag-style()
  &:before
    content attr(i)
.tag-left, hr[l]
  tag-left-style()
.tag-right, hr[r]
  tag-right-style()

.translation__sentence-translation_state_editing
  .tag-left, .tag-right, hr[i]
    display: inline-block


