{% extends "main/base.html" %}

{% block content %}
<div class="container">
	<div class="translation">
		<h1 class="translation__title">Переводческий перевод Константина Константинопольского</h1>
		<div class="translation__sentences">
			<h2 class="translation__variants-title">Варианты перевода</h2>

			<div class="translation__sentence-translation translation__sentence-translation_state_active translation__sentence-translation_translation_approved">
				<div class="translation__sentence-translation-original">We chat to The Walking Dead's Norman Reedus about the four-year evolution of his character, Daryl Dixon...</div>
				<div class="translation__sentence-translation-result">Мы поболтали с актером «Ходячих мертвецов» НорманомРидусом о четырехлетней эволюции его персонажа, Дэрила Диксона...</div>
				<div class="translation__sentence-translation-edit">
					<i class="fa fa-pencil"></i>
				</div>
			</div>

			<div class="translation__sentence-translation translation__sentence-translation_state_closed">
				<div class="translation__sentence-translation-original">We chat to The Walking Dead's Norman Reedus about the four-year evolution of his character, Daryl Dixon...</div>

				<div class="translation__sentence-translation-result">
				</div>
			</div>

			<div class="translation__sentence-translation translation__sentence-translation_state_opened translation__sentence-translation_mode_select">
				<div class="translation__sentence-translation-original">You don't need to be a genius, you just need to be yourself. That's the message from Austin Kleon, a young writer and artist who knows that creativity is everywhere, creativity is for everyone.</div>

				<div class="translation__sentence-translation-result">
					<div class="translation__sentence-translation-switcher">
						<span class="translation__text-switcher-button translation__text-switcher-button_state_active">
							<i class="fa fa-user translation__button-icon"></i>
							<span class="translation__button-content">Переводы пользователей</span>
						</span>
						<span class="translation__text-switcher-button">
							<i class="fa fa-pencil translation__button-icon"></i>
							<span class="translation__button-content">Предложить перевод</span>
						</span>
					</div>

					<div class="translation__sentence-commitance">abc</div>

					<div class="translation__sentence-suggestion">
						<span class="translation__sentence-suggestion-text">Не надо быть гением, просто будь самим собой! Вот основная мысль Остина Клеона, молодого писателя и художника, считающего, что творчество присутствует везде и доступно всем.</span>
						<i class="fa fa-check-circle translation__sentence-suggestion-approve"></i>
						<i class="fa fa-pencil translation__sentence-suggestion-edit"></i>
					</div>

					<div class="translation__sentence-suggestion">
						<span class="translation__sentence-suggestion-text">Не нужно быть гением, достаточно быть самим собой! Вот главная мысль Остина Клеона, молодого писателя и художника, который считает, что творчество присутствует во всем и доступно каждому. </span>
						<i class="fa fa-check-circle translation__sentence-suggestion-approve"></i>
						<i class="fa fa-pencil translation__sentence-suggestion-edit"></i>
					</div>

					
				</div>
			</div>

			<div class="translation__sentence-translation translation__sentence-translation_state_opened translation__sentence-translation_mode_suggest">
				<div class="translation__sentence-translation-original">You don't need to be a genius, you just need to be yourself. That's the message from Austin Kleon, a young writer and artist who knows that creativity is everywhere, creativity is for everyone.</div>

				<div class="translation__sentence-translation-result">
					<div class="translation__sentence-translation-switcher">
						<span class="translation__text-switcher-button">
							<i class="fa fa-user translation__button-icon"></i>
							<span class="translation__button-content">Переводы пользователей</span>
						</span>
						<span class="translation__text-switcher-button translation__text-switcher-button_state_active">
							<i class="fa fa-pencil translation__button-icon"></i>
							<span class="translation__button-content">Предложить перевод</span>
						</span>
					</div>

					<div class="translation__sentence-commitance">
						<form>
							<textarea name="translation-suggestion" class="translation__sentence-suggestion-input" placeholder="Ваш перевод"></textarea>

							<div class="translation__sentence-machine-suggestions">
								<h4 class="translation__sentence-suggestions-title">Машинные переводы</h4>

								<ul class="translation__sentence-machine-suggestions-list">
									<li class="translation__sentence-machine-suggestions-item">
										<span class="translation__sentence-machine-suggestions-text">В студию графического дизайна Emil Stasovskiy Branding на постоянную работу приглашается графический дизайнер</span>
										<span class="translation__sentence-machine-suggestions-relevance translation__sentence-machine-suggestions-relevance_high">50%</span>
									</li>

									<li class="translation__sentence-machine-suggestions-item">
										<span class="translation__sentence-machine-suggestions-text">В японии полным ходом идет культовое мероприятие - rc custom body show.</span>
										<span class="translation__sentence-machine-suggestions-relevance translation__sentence-machine-suggestions-relevance_medium">50%</span>
									</li>

									<li class="translation__sentence-machine-suggestions-item">
										<span class="translation__sentence-machine-suggestions-text">На форуме выступят представители ведущих веб агентств  и дизайн студий: Nimax, Shishki, Astra Media Group, Журнал "Инфографика", Science, Webcom, No Comments и др.</span>
										<span class="translation__sentence-machine-suggestions-relevance translation__sentence-machine-suggestions-relevance_low">50%</span>
									</li>
								</ul>
							</div>

							<button type="submit" class="translation__sentence-commit">Готово</button>
						</form>
					</div>

					<div class="translation__sentence-suggestion">
						<span class="translation__sentence-suggestion-text">Не надо быть гением, просто будь самим собой! Вот основная мысль Остина Клеона, молодого писателя и художника, считающего, что творчество присутствует везде и доступно всем.</span>
						<i class="fa fa-check-circle translation__sentence-suggestion-approve"></i>
						<i class="fa fa-pencil translation__sentence-suggestion-edit"></i>
					</div>

					<div class="translation__sentence-suggestion">
						<span class="translation__sentence-suggestion-text">Не нужно быть гением, достаточно быть самим собой! Вот главная мысль Остина Клеона, молодого писателя и художника, который считает, что творчество присутствует во всем и доступно каждому. </span>
						<i class="fa fa-check-circle translation__sentence-suggestion-approve"></i>
						<i class="fa fa-pencil translation__sentence-suggestion-edit"></i>
					</div>

					
				</div>
			</div>
		</div>
		<div class="translation__text-wrap">
			<div class="translation__text-switcher">
				<span class="translation__text-switcher-button translation__text-switcher-button_state_active">Оригинал</span>
				<span class="translation__text-switcher-button">Перевод</span>
			</div>

			<div class="translation__text" contenteditable>
				<p>
					<span class="translation__sentence translation__sentence_state_active">We chat to The Walking Dead's Norman Reedus about the four-year evolution of his character, Daryl Dixon...</span>
				</p>

				<p>Spoiler alert: this article contains spoilers for anyone not up-to-date with The Walking Dead mid-season break.</p>

				<p>If there's been one constant throughout The Walking Dead's four year run it's the dedication of the cast and crew to give their all to making the best possible show. It's been evident from the start and after a superb third season and an equally powerful start to the fourth, there's never been a better time to be a fan. Of course one of the longest running (see: surviving) and instrumental parts of The Walking Dead's success, comes from the fantastic work of Norman Reedus as fan super-favourite, Daryl Dixon.</p>

				<p>In the build-up to the start of season four it seemed fitting to include Daryl, alongside Rick, as a key reason to be excited about the as-yet unknown episodes about to air and it was proved to be utterly vindicated. In the eight episodes we've seen so far Daryl has had his burgeoning relationship with Carol torn apart, survived raining zombies and helicopters, taken over responsibility for the group while Rick tends to his crops and most importantly, fought a tank and won. Oh yes.</p>

				<p>The adoration for Daryl isn't just down to his moments of inexorable cool though, or the ever developing sides to his character that have been revealed through the constant emotional turmoil he's been subjected to, but the great performance by Norman Reedus. His devotion to Daryl and the investment he makes in bringing the role to life really shine through, as is highlighted in this interview – there's no question too intricate that he couldn't answer with detail and insight, as I found out when panic suddenly made me doubt one of my mine.</p>

				<p>I think it's only right that I confess to being quite the champion of the younger Dixon brother, so you can imagine the anxiety I felt when midway through said question, self-doubt made me think that I'd stepped too far into geekdom, as I asked about a moment in the show that lasts for all of a few sec-</p>
			</div>
			
		</div>
	</div>
</div>
{% endblock %}