@import "../assets/bootstrap/less/mixins";

@import "tolmach/variables";
@import "tolmach/typography";

@import "tolmach/blocks/chatroom";
@import "tolmach/blocks/dictionary";
@import "tolmach/blocks/sheet";
@import "tolmach/blocks/switcher";
@import "tolmach/blocks/text";
@import "tolmach/blocks/profile-data";
@import "tolmach/blocks/flags";
@import "tolmach/blocks/navbar";
@import "tolmach/blocks/messages";


.dropleft,
.navbar-fixed-bottom .dropdown {
  .dropdown-menu {
    top: -6px;
    left: -100%;
    bottom: auto;
    &:before {
      border-left: 7px solid rgba(0,0,0,0.2);
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      content: "";
      display: inline-block;
      position: absolute;
      top: 9px;
      right: -7px;
    }
    &:after {
      border-left: 6px solid #FFFFFF;
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
      content: "";
      display: inline-block;
      position: absolute;
      top: 10px;
      right: -6px;
    }
  }
}

.dropdown-menu-right:before {
  left: unset !important;
  right: 9px !important;
}
.dropdown-menu-right:after {
  left: unset !important;
  right: 10px !important;
}

//
// Preloader dotted
//

@animationLength: 1.5s;
@animationRadius: 12px;
@dotSize: 8px;

.loader {
    position: relative;
    width: @animationRadius * 3 + @dotSize;
    height: @dotSize;
    margin: @animationRadius auto;
}

.dot {
    display: inline-block;
    width: @dotSize;
    height: @dotSize;
    border-radius: @dotSize * 0.5;
    background: #ccc;
    position: absolute;
}

.dot_1 {
    animation: animateDot1 @animationLength linear infinite;
    left: @animationRadius;
    background: #e579b8;
}

.dot_2 {
    animation: animateDot2 @animationLength linear infinite;
    animation-delay: @animationLength / 3;
    left: @animationRadius * 2;
}

.dot_3 {
    animation: animateDot3 @animationLength linear infinite;
    left: @animationRadius;
}

.dot_4 {
    animation: animateDot4 @animationLength linear infinite;
    animation-delay: @animationLength / 3;
    left: @animationRadius * 2;
}

@keyframes animateDot1 {
    0%{ transform: rotate(0deg) translateX(-@animationRadius); }
    25% { transform: rotate(180deg) translateX(-@animationRadius); }
    75% { transform: rotate(180deg) translateX(-@animationRadius); }
    100% { transform: rotate(360deg) translateX(-@animationRadius); }
}

@keyframes animateDot2 {
    0%{ transform: rotate(-0deg) translateX(-@animationRadius); }
    25% { transform: rotate(-180deg) translateX(-@animationRadius); }
    75% { transform: rotate(-180deg) translateX(-@animationRadius); }
    100% { transform: rotate(-360deg) translateX(-@animationRadius); }
}

@keyframes animateDot3 {
    0%{ transform: rotate(0deg) translateX(@animationRadius); }
    25% { transform: rotate(180deg) translateX(@animationRadius); }
    75% { transform: rotate(180deg) translateX(@animationRadius); }
    100% { transform: rotate(360deg) translateX(@animationRadius); }
}

@keyframes animateDot4 {
    0%{ transform: rotate(-0deg) translateX(@animationRadius); }
    25% { transform: rotate(-180deg) translateX(@animationRadius); }
    75% { transform: rotate(-180deg) translateX(@animationRadius); }
    100% { transform: rotate(-360deg) translateX(@animationRadius); }
}


//
// Copied tooltip
//

.copied-tooltip {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
  color: #337ab7;
  font-size: .8em;
  transition: all .5s ease-in-out;
  text-shadow: 0 0 1px rgba(0, 0, 0, .16);
  pointer-events: none;
  user-select: none;
  z-index: 999;
  @media (prefers-color-scheme: dark) {
    color: @yellow-main;
  }
}
