{% extends "tolmach/future_landing/base.html" %}
{% load staticfiles %}
{% block content %}
            <div class="main-background">
              <div class="main">
                <div class="main__motto">Переводим вместе!</div>
                <div class="main__description">Tolma.ch - онлайн-платформа для переводчиков, которая позволяет достичь максимальной продуктивности при работе над текстами любой сложности.</div>
                <div class="main__signup">
                  <a href="">Попробовать</a>
                </div>
                <img class="main__image" src="{% static 'img/new-landing/popoog.png' %}">
              </div>
            </div>
            <div class="benefits">
              <div class="benefits__description">
                «Толмач» экономит переводчикам <div class="accent">кучу времени, денег и нервов</div>, ведь вся команда и инструменты – в одном месте
              </div>
              <div class="benefits__items">
                <div class="benefits__item">
                  <div class="benefits__item__icon">
                    <img src="{% static 'img/new-landing/benefit-icon.svg' %}" alt="">
                  </div>
                  <div class="benefits__item__title">
                    Одна голова хорошо, а много – лучше.
                  </div>
                  <div class="benefits__item__body">
                    Приглашайте к работе над Вашим проектом своих старых коллег или ищите новых, не отрываясь от перевода.
                  </div>
                </div>
                <div class="benefits__item">
                  <div class="benefits__item__icon">
                    <img src="{% static 'img/new-landing/benefit-icon.svg' %}" alt="">
                  </div>
                  <div class="benefits__item__title">
                    Работу с документами берем на себя.
                  </div>
                  <div class="benefits__item__body">
                    Разбираем исходные документы, извлекаем все текстовые данные, разбиваем их на удобные для перевода отрывки, а потом собираем обратно 
                  </div>
                </div>
                <div class="benefits__item">
                  <div class="benefits__item__icon">
                    <img src="{% static 'img/new-landing/benefit-icon.svg' %}" alt="">
                  </div>
                  <div class="benefits__item__title">
                    Переводим с комфортом.
                  </div>
                  <div class="benefits__item__body">
                    Переводим текст с использованием глоссариев, баз памяти перевода, систем машинного перевода и готовых словарей.
                  </div>
                </div>
              </div>
            </div>
            <div class="feedback">
              <div class="feedback__avatar">
                <img src="{% static 'img/new-landing/feedback-avatar.svg' %}" alt="">
              </div>
              <div class="feedback__description">
                <div class="feedback__top-quote">
                  <img src="{% static 'img/new-landing/quote.svg' %}" alt="">
                </div>
                <div class="feedback__text">
                  Товарищи! дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание систем массового участия.
                </div>
                <div class="feedback__bottom-quote">
                  <img src="{% static 'img/new-landing/quote.svg' %}" alt="">
                </div>
                <div class="feedback__bottom-quote__author">
                Иосиф Пупочкин, генеральный директор в «IT Summa»
                </div>
              </div>
            </div>
{% endblock content %}