{% load staticfiles %}
<!DOCTYPE html>

<html>
    <head>
        <title>base test</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'dist/new_landing.css' %}?v={{ front_version }}">
    </head>
    <body>
        <div class="container">
            <header>
                <img class="logo" src="{% static 'img/top-logo-black.svg' %}">
                <div class="header-menu">
                  <a href="/" class="header-menu__item active">Продукт</a>
                  <a href="/" class="header-menu__item">Цены</a>
                  <a href="/" class="header-menu__item">О нас</a>
                  <a href="/" class="header-menu__item">Контакты</a>
                  <div class="signin-button">
                    <a href="/">Вход/Регистрация</a>
                  </div>
                </div>
            </header>
            <div class="main">
              <div class="main__motto">Переводим вместе!</div>
              <div class="main__description">Tolma.ch - онлайн-платформа для переводчиков, которая позволяет достичь максимальной продуктивности при работе над текстами любой сложности.</div>
              <div class="main__signup">
                <a href="">Попробовать</a>
              </div>
              <img class="main__image" src="{% static 'img/new-landing/popoog.png' %}">
            </div>
            <div class="benefits">
              <div class="benefits__description">
                «Толмач» экономит переводчикам кучу времени, денег и нервов, ведь вся команда и инструменты – в одном месте
              </div>
              <div class="benefits__items">
                <div class="benefits__item">
                  <div class="benefits__item__title">
                    Одна голова хорошо, а много – лучше.
                  </div>
                  <div class="benefits__item__body">
                    Приглашайте к работе над Вашим проектом своих старых коллег или ищите новых, не отрываясь от перевода.
                  </div>
                </div>
                <div class="benefits__item">
                  <div class="benefits__item__title">
                    Одна голова хорошо, а много – лучше.
                  </div>
                  <div class="benefits__item__body">
                    Приглашайте к работе над Вашим проектом своих старых коллег или ищите новых, не отрываясь от перевода.
                  </div>
                </div>
                <div class="benefits__item">
                  <div class="benefits__item__title">
                    Одна голова хорошо, а много – лучше.
                  </div>
                  <div class="benefits__item__body">
                    Приглашайте к работе над Вашим проектом своих старых коллег или ищите новых, не отрываясь от перевода.
                  </div>
                </div>
              </div>
            </div>
            <div class="feedback">feedback</div>
            <footer>
              <div class="upper-footer">
                <img class="logo" src="{% static 'img/top-logo.svg' %}">
                <div class="header-menu">
                  <a href="https://vk.com/tolma_ch" class="footer-menu__item">Вконтакте</a>
                  <a href="https://twitter.com/tolma_ch" class="footer-menu__item">Twitter</a>
                  <a href="/blog/" class="footer-menu__item">Блог</a>
                  <a href="/" class="footer-menu__item">Сотрудничество</a>
                </div>
              </div>
              <div class="lower-footer">
                <div class="logo">© 2020 Tolma.ch. Красть контент – плохо!</div>
                <div class="header-menu">
                  <a href="/privacy/" class="footer-menu__item">Политика приватности</a>
                </div>
              </div>
            </footer>
           </div>
    </body>
</html>